{% extends "base_conservancy.html" %}
{% block subtitle %}Campaign - {% endblock %}
{% block category %}campaign{% endblock %}

{% block head %}
<link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/jquery.min.js"></script>
<script src="/jquery-ui.min.js"></script>

<style type="text/css">
  #progressbar .ui-widget-header { background: rgb(206, 31, 31); }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("#progressbar").progressbar({ value: (2865 / 75000) * 100 });

    $('.toggle-content').hide();

    $('.toggle-control')
     .addClass('clickable')
     .bind('click', function() {
        var $control = $(this);
        var $parent = $control.parents('.toggle-unit');

        $parent.toggleClass('expanded');
        $parent.find('.toggle-content').slideToggle();

        // if control has HTML5 data attributes, use to update text
        if ($parent.hasClass('expanded')) {
            $control.html($control.attr('data-expanded-text'));
        } else {
            $control.html($control.attr('data-text'));
        }
    });
    $('a.donate-now')
      .addClass('clickable')
      .bind('click', function() {
        var $control = $('#donate-box');

        $control.toggleClass('expanded');
        $control.find('.toggle-content').slideUp("slow");
        $control.find('.toggle-content').slideDown("slow");
    });
  });
</script>
{% endblock %}

{% block content %}

<div style="position:fixed;top:180px;right:2%;width:18%">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">

<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Donate Now!</h1></div>
</div>

<!--
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script type="text/javascript">
   // FOR DEMONSTRATION PURPOSES ONLY - if you already have a server you can POST to, replace
   //                                   the URL with the URL to post to.
   // go to http://requestb.in/
   // click create new request bin and COPY that URL without the ?inspect at the end
   var requestBinURL = 'http://requestb.in/1dk2x8y1';  // make sure it doesn't end in ?inspect

   var marketplaceUri = '/v1/marketplaces/TEST-MPMp7ZUPDpbj69vk2wGHRVY';
   //var marketplaceUri = 'https://www.balancedpayments.com/marketplaces/TEST-MPMp7ZUPDpbj69vk2wGHRVY';
   balanced.init(marketplaceUri);

var cardData = {
  "name": "Bernhard Riemann",                 // Optional
  "card_number": "4111 1111 1111 1111",
  "expiration_month": 4,
  "expiration_year": 2014,
};

function evbind(el, ev, handler) {
if(el.addEventListener) {
el.addEventListener(ev, handler, false);
} else if(el.attachEvent) {
el.attachEvent('on'+ev, function() {handler.apply(el);});
}
}

/*

   function responseCallbackHandler(response) {
      alert(response.status);
      switch (response.status) {
        case 400:
            // missing or invalid field - check response.error for details
            console.log(response.error);
            break;
        case 404:
            // your marketplace URI is incorrect
            console.log(response.error);
            break;
        case 201:
            // WOO HOO! MONEY!
            // response.data.uri == URI of the bank account resource you
            // should store this bank account URI to later credit it
            console.log(response.data);
            var $form = $("#bank-account-form");
            // the uri is an opaque token referencing the tokenized bank account
            var bank_account_uri = response.data['uri'];
            // append the token as a hidden field to submit to the server
            $('<input>').attr({
               type: 'hidden',
               value: bank_account_uri,
               name: 'balancedBankAccountURI'
            }).appendTo($form);
            $form.attr({action: requestBinURL});
            $form.get(0).submit();
        break;
    default:
        console.log(response.status);
        }
    }
   //alert('allo?');

   var tokenizeInstrument = function(e) {
        alert('what"s going on?');
        e.preventDefault();
   
        var $form = $('#bank-account-form');
        var bankAccountData = {
            name: $form.find('.ba-name').val(),
            account_number: $form.find('.ba-an').val(),
            bank_code: $form.find('.ba-rn').val(),
            type: $form.find('select').val()
        };
 
 
        balanced.bankAccount.create(bankAccountData, responseCallbackHandler);
    };
   $('#bank-account-form').submit(tokenizeInstrument);
*/
</script>
-->
$2,865 raised toward<br/>
our $75,000 goal.</br>
<div id="progressbar" style="height:20px;"><span style="float:right; align:center; margin-right:40%">3.8%</div>
<font style="font-size: 75%">(Progress bar updated daily.)</font>
<a id="donate" style="text-decoration:none"></a>
<h3>Help us reach our goal:</h3>

<!-- PayPal start -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3VRTJALJ5PQRW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Donate Now!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!-- PayPal end -->

<!-- Balanced start -
<div class="container">
- <form action="#" method="POST" id="bank-account-form" class="form-horizontal" onsubmit="balanced.card.create(cardData, function(response) { alert(response.status); });"> -
<form action="#" method="POST" id="bank-account-form" class="form-horizontal">
    <fieldset>
        <legend>Bank Account Information</legend>
        <p><label>Account Holder's Name
            <input type="text"
                   autocomplete="off"
                   placeholder="Bank Account Holder's name"
                   class="ba-name"
                   name="ba_name"
                   value="4111 1111 1111 1111">
        </label></p>
        <p><label>Routing Number
            <input type="text"
                   autocomplete="off"
                   placeholder="Routing Number"
                   class="ba-rn"
                   name="ba_rn"
                   value="4">
        </label></p>
        <p><label>Account Number
            <input type="text"
                   autocomplete="off"
                   placeholder="Account Number"
                   class="ba-an"
                   name="ba_an"
                   value="2014">
        </label></p>
        <p><label>Account Something
            <input type="text"
                   autocomplete="off"
                   placeholder="Account Something"
                   class="ba-as"
                   name="ba_as"
                   value="something someone">
        </label></p>
        <p><label>Account Type
            <select name="ba_type">
                <option value='' disabled selected style='display:none;'>
                    Select Account Type
                </option>
                <option value="checking" default>CHECKING</option>
                <option value="savings">SAVINGS</option>
            </select>
        </label></p>
        <button type="submit" class="btn">
            Tokenize
        </button>
    </fieldset>
</form>
</div>
<script type="text/javascript">

evbind(document.getElementById('bank-account-form'), 'submit',
  function(e) {
    e.preventDefault();
    console.log(this.ba_as.value);
    balanced.card.create(
 {
  "name": this.ba_as.value,
  "card_number": this.ba_name.value,
  "expiration_month": this.ba_rn.value,
  "expiration_year": this.ba_an.value,
/*
  "name": "Bernhard Riemann",                 // Optional
  "card_number": "4111 1111 1111 1111",
  "expiration_month": 4,
  "expiration_year": 2014,
*/
 },
    function(response) {
      console.log(response);
      console.log(response.data.uri);
      $.ajax("/campaign/?token=" + response.data.uri + '&amount=' + document.getElementById('bank-account-form').ba_an.value);
      alert(response.status);
    });
});

</script>
- Balanced end -->

<p>
Other donation methods:
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Google Checkout" 
    data-expanded-text="Google Checkout:">Google Checkout</h4>
    <div class="toggle-content">
<!-- Google Checkout start -->
<script type="text/javascript"> 
function validateAmount(amount){
    if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
        return true;
    }else{
        alert('You must enter a valid donation.');
        amount.focus();
        return false;
    }
}
</script>
<form action="https://checkout.google.com/cws/v2/Donations/622836985124940/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top">
    <input name="item_name_1" type="hidden" value="Directed Donation for Conservancy's NPO accounting software project"/>
    <input name="item_description_1" type="hidden" value="This donation to the Software Freedom Conservancy, Inc. is directed toward Conservancy's NPO accounting software project.  Conservancy is a 501(c)(3) charity in New York."/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="item_is_modifiable_1" type="hidden" value="true"/>
    <input name="item_min_price_1" type="hidden" value="6.0"/>
    <input name="item_max_price_1" type="hidden" value="25000.0"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" valign="top" style="padding-top:9px;" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="6" type="text" value="250.00"/>
            </td>
            <td align="left" width="1%">
                <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=622836985124940&amp;w=115&amp;h=50&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>
<!-- Google Checkout end -->
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer" 
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
        Please
            contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Please Include your currency and country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check" 
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check donations to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548<br/>
    Please write <q>NPO ACCOUNTING</q> in the memo line. 
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<!-- Flattr start -->
<p><a href="https://flattr.com/thing/1296704/Campaign-to-develop-Free-and-Open-Source-Non-Profit-Accounting-Software" target="_blank"><img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></p>
<!-- Flattr end -->
</td></tr></table>
</div>

<div style="align:left;width:80%;">
<!-- begin campaign text -->

<h2>Fundraising Campaign: Non-Profit Accounting Software</h2>

<img src="/img/conservancy-accounting-campaign-logo.png" alt="Conservancy accounting campaign logo" style="float:left;" />

<p>Conservancy has a plan to help all non-profit organizations (NPOs) by
creating an Open Source and Free Software accounting system usable by
non-technical bookkeepers, accountants, and non-profit managers.  You can
help us do it by donating now.
</p>

<p>To keep their books and produce annual government filings, most NPOs rely
on proprietary software, paying exorbitant licensing fees.  This is
fundamentally at cross purposes with their underlying missions of charity,
equality, democracy, and sharing.</p>

<p>You can help Conservancy fix this problem by <a href="#donate-box" class="donate-now">donating now</a>.  We seek to
raise $75,000 to employ a 
developer for one year to make substantial progress on this project.</p>

<p>This project has the potential to save the non-profit sector
millions in licensing fees every year.  Even non-profits that continue to use proprietary accounting
software will benefit, since the existence of quality Open Source and Free
  Software for a particular task curtails predatory behavior by proprietary
  software companies, and creates a new standard of comparison.</p>

<p>But, more powerfully, this project's realization
will increase the agility and collaborative potential
for the non-profit sector &mdash; a boon to funders, boards, and employees &mdash;  bringing the Free Software and general NPO communities
into closer collaboration and understanding.</p>

<p>Thanks in advance for <a href="#donate-box" class="donate-now">helping us</a> develop Free Software to benefit all
non-profit organizations, and the 
populations they serve.</p>

<p>Donors of $500 or more will be acknowledged in the THANKS file and other
  appropriate places in the codebase itself.</p>

<p><a href="#endorsements">Endorsers of this effort</a> include Fractured Atlas, The Free Software
Foundation, Mozilla Foundation, GNOME Foundation, OpenHatch, Open
Source Initiative, QuestionCopyright.org, and Software in the Public
Interest; all encourage you to <a href="#donate-box" class="donate-now">donate and support it</a>.</p>


<h3>Background</h3>

<p>Like many non-profit organizations (NPOs) in the USA, Conservancy's
  financial accounts are audited annually by an independent accounting firm;
  we recently completed our fiscal year 2011 audit.  As usual, our auditors
  asked plenty of questions about our accounting software.  Conservancy uses
  only Free Software, of course, centered around a set of straightforward reporting
  scripts that we created to run on top
  of <a href="http://www.ledger-cli.org/">Ledger CLI</a>. (Conservancy's
  current configuration using Ledger CLI
  is <a href="https://gitorious.org/ledger/npo-ledger-cli">publicly
  documented and explained</a>.)</p>

<p>Our auditors were only familiar with proprietary accounting software, and
  so our system seemed foreign to them, as it relies on Ledger CLI's text files, Emacs and
  version control.  During their questions
  about our setup, we asked them to hypothetically prescribe a specific
  proprietary software setup as a model for  managing Conservancy's
  accounts.  Our chief auditor started by mentioning a few well-known
  proprietary solutions.   But then he paused and continued:  <q>Given
  that Conservancy's a fiscal sponsor with so many temporarily restricted
  accounts, existing systems really wouldn't do that good of a job for
  you</q>.</p>

<p>Indeed, Conservancy reached out into the broader fiscal sponsorship
  community beyond the <acronym title="Free, Libre and Open Source Software">FLOSS</acronym>
  <acronym title="Non-profit Organization">NPO</acronym> community and discovered that many larger fiscal sponsors &mdash; even
  those willing to use proprietary components &mdash; have cobbled together
  their own unique systems, idiosyncratically tailored to their specific
  environments.  Thus, good, well-designed, and reusable accounting software
  for non-profit fiscal sponsorship is not just missing in the software
  freedom community; it's missing altogether.</p>


<p>The project that Conservancy proposes will take a modest step
  forward in creating a better solution for everyone. 
  <a href="#quotes">Many NPO leaders and academics agree</a> with Conservancy about the
  immediate need for work to begin on this
  effort.  <a id="endorsements" style="text-decoration:none"></a><a href="https://www.fracturedatlas.org">Fractured Atlas</a>, The <a href="http://fsf.org">Free Software
  Foundation</a>, The <a href="https://www.mozilla.org/foundation/">Mozilla
Foundation</a>, The <a href="http://www.gnome.org/foundation/">GNOME Foundation</a>,  <a
        href="https://openhatch.org/">OpenHatch</a>, <a href="http://opensource.org/node/658">Open Source Initiative</a>,
  <a href="http://QuestionCopyright.org">QuestionCopyright.org</a>, and <a href="http://www.spi-inc.org/">Software in the Public Interest</a> have
  all endorsed Conservancy's plan, and they encourage you to <a href="#donate-box" class="donate-now">donate and
  support it</a>.</p>

<p>Conservancy is uniquely qualified to undertake this task.  Using only Free
  Software, Conservancy already meets the complex accounting challenges of
  earmarked, directed donations for over thirty different projects.  We've
  learned much about this work in our first seven years of
  operation, and we're prepared to apply what we've learned to solve
  this problem not just for ourselves, but for anyone who seeks a
  solution that both respects software freedom and handles non-profit
  accounting for all sorts of NPOs, including fiscal sponsors.  General NPO
  accounting is just a &ldquo;base case&rdquo; of fiscal sponsorship (i.e.,
  an NPO is just a fiscal sponsor for one and only one specific project),
  and Conservancy therefore believes a solution that handles fiscal sponsors
  will also handle the simpler case as well.</p>

<h3>The Plan</h3>

<p>Conservancy proposes to hire a software developer for one year to
  accomplish the first two phases of this project.  Conservancy seeks to
  raise $75,000 toward this project to help cover salary and benefits for a
  full-time staffer to work on this project.  We ask that you give generously
  via the donation buttons on this page to support our work.</p>

<h4>Phase 0</h4>

<p>Some Free Software accounting systems do exist.  A previous informal
  survey of these systems that Conservancy conducted in 2007 led us to the
  conclusion that, in general, these systems were heavily geared toward
  for-profit endeavors, ignored the unique needs of NPOs generally, and
  were completely hopeless for the specific needs of a fiscal sponsoring
  organization.  Conservancy's assessment at the time was that these
  challenges could be addressed only with a large rewrite of one of these
  systems.  Conservancy chose
  <a href="http://www.ledger-cli.org/">Ledger CLI</a> precisely because
  it provided flexibility and configurability not present in any other Free Software
  double-entry accounting system.</p>

<p>However, while that previous informal survey informs Conservancy's
  existing hypothesis that Ledger CLI is the right base system here,
  Conservancy will first test that hypothesis.  The first phase of this
  project (estimated to last approximately 6-8 full-time weeks) will produce
  a written survey of all known Free Software accounting systems, and
  indicate what challenges exist to adapt such systems for the needs of
  NPOs.  The <a href="https://fsf.org/">Free Software Foundation</a> has
  pledged their help in the evaluation of SQL-Ledger,
  and <a href="http://www.gnome.org/foundation/">the GNOME Foundation</a> has pledged their
  help in the evaluation of <a href="http://www.gnucash.org/">GNUcash</a> (which they
  currently use, respectively).</p>

<h4>Phase 1</h4>

<p>Phase 1 of the project will select the preferred codebase from Phase 0,
  and improve that system to create a basic accounting system for
  small-to-medium sized USA NPOs (i.e., Form 990-filers) &mdash; including fiscal
  sponsors &mdash; with the following features:
<ul>
<li>Basic accounts payable/receivable (with invoicing)</li>
<li>Tracking and reporting of non-profit income types (related business
  income, unrelated business taxable income, donations, etc.)</li>
<li>Basic backup documentation tracking for expenses and payments</li>
<li>Basic bank statement reconciliation reporting</li>
<li>Basic annual audit preparation reporting
  (A <a href="https://github.com/ledger/ledger/tree/next/contrib/non-profit-audit-reports">prototype
  of this portion is already complete</a> and has been relied on for
  real-life audits; but the prototype is just a hack and needs to be
  rewritten.)</li>
<li>Ability to easily handle all these features on a project-by-project
  subset of the accounts, and to easily export and excise that subset from
  the system. (i.e., support for temporarily restricted assets, earmarked for
  fiscal-sponsored projects)</li>
<li>Multi-currency support and reporting</li>
</ul>
</p>

<p>We will consider the first year of this project successful <em>only if all these
  functions can be performed by a bookkeeper who is generally qualified as a
  bookkeeper</em>, but not necessarily familiar with standard Free Software tools
  such as GNU/Linux, Emacs, version control, and command line scripts.  This
  requirement is essential: Conservancy's existing system using Ledger CLI
  already provides sufficient functionality to manage non-profit accounting,
  but our system requires a bookkeeper who is also adept with the
  aforementioned tools already.</p>

<p>Finally, while the first year of work focuses on USA NPO needs,
  Conservancy seeks to lead an international effort, and welcomes
  contributions and input from everyone in the non-profit community from
  around the world.  Conservancy has created
  a <a href="http://lists.sfconservancy.org/mailman/listinfo/npo-accounting">mailing
  list for discussion of this project</a> and encourages interested parties
  from around the world to join the mailing list and contribute to the
  project!</p>
  
<h3>Why Conservancy Must Fund This Work</h3>

<p>As it stands, nearly all Open Source and Free Software NPOs either use
  proprietary software, or fully outsource their bookkeeping and accounting
  to third-parties.  Those that don't do so (such as Conservancy and the Free
  Software Foundation) have long complained that existing Free Software in
  this area is inadequate, and have been forced to develop customized,
  one-off solutions in-house to make the systems work.</p>

<p>It's highly unlikely that the for-profit sector will adapt existing Free
  Software accounting systems to meet the differing needs of NPOs (let alone
  the more complex needs of fiscal sponsors; based on
  advice from our auditors and other fiscal sponsors, Conservancy understands that <em>no existing
  solution &mdash; proprietary or Free &mdash; meets the requirements of fiscal sponsorship accounting</em>).  Fiscal sponsors like
  Conservancy must track a separate set of books for every project, keeping
  in mind that a project may leave at any time for another NPO and need to take
  their books with them.  Yet, the books of the entire organization are the
  aggregate of the books of all these projects, and internally, they need to
  be presented as a single set of books for those purposes.</p>

<p>Meanwhile, even if an organization is not a fiscal sponsor, non-profit
  accounting is <em>just different</em> than for-profit accounting, particularly in
  the USA.  For example, for-profit-oriented systems often make problematic
  assumptions about the workflow of accounting tasks (often because NPOs
  rely primarily on donations, rather than fee-for-service or widget-selling
  income).  Also, non-profit income is categorized differently than
  for-profit income, and the reporting requirements vary wildly from their
  for-profit equivalents.</p>

<p>Conservancy's existing system is working adequately, but requires daily
  the relatively more expensive time of a highly technical person to do the
  job of bookkeeping.  Also, the system cannot easily be adapted in its
  current form for another NPO, unless they also have a
  skilled technical employee to act as bookkeeper.  This project aims to build
  on what Conservancy has learned and produce a non-profit accounting system
  that corrects these flaws.</p>

<p>Finally, Conservancy's mission (as stated
on <a href="http://sfconservancy.org/docs/conservancy_Form-1023.pdf">our Form
1023 with the USA IRS</a>) includes producing Open Source and Free Software.
Thus, this project is a great way to pursue Conservancy's mission and address a
specific need that so many NPOs (including us) have.  If no one steps up to create Free Software to replace the widely used
proprietary software, NPOs in aggregate will pay <em>much more</em> money for
proprietary licensing than Conservancy will ever spend in developing a
replacement. Please <a href="#donate-box" class="donate-now">donate
generously</a> to help us do it!</p>

<a id="quotes"></a>
<h3>Statements of Support For This Project from Others</h3>

<p><q>As a national fiscal sponsor with over 3,000 arts and cultural projects
under our umbrella, Fractured Atlas is ecstatic about this effort's
potential. After 15 years wrestling with Quickbooks and other inadequate
options, the idea of an open source tool designed specifically for this niche
of the field is beyond welcome. We wholeheartedly support the Conservancy's
work on this front and look forward to seeing where it leads.</q> &mdash;
<a href="https://www.fracturedatlas.org/site/bios/staff/1/Adam%20Forest_Huttler">Adam
  Huttler</a>, Executive Director, <a href="https://www.fracturedatlas.org">Fractured Atlas</a></p>

<p><q><a href="http://QuestionCopyright.org">QuestionCopyright.org</a> is
just one of many organizations that would benefit from a Free Software
accounting system that is usable by non-technical people.  We
enthusiastically support the Conservancy's campaign to create one, and look
forward to using the result.</q>
&mdash; <a href="http://questioncopyright.org/speakers/karl_fogel">Karl
Fogel</a>, Executive Director,
  <a href="http://QuestionCopyright.org">QuestionCopyright.org</a></p>

<p><q>As a fiscal sponsor organization with over 30 currently-associated Free
Software projects, Software in the Public Interest shares the Conservancy's
needs and interests in this area, and welcome the opportunity to collaborate
on the development of a Free Software solution to our accounting needs.</q>
&mdash; Bdale Garbee, President,  <a href="http://www.spi-inc.org/">Software
    in the Public Interest</a></p>

<p><q>Open Source accounting software specifically tailored for non-profits
    will fill a pretty large need.</q>
    &mdash; <a href="http://wagner.nyu.edu/calabrese">Thad Calabrese</a>,
    Assistant Professor of Public and Nonprofit Financial Management
    at <a href="http://wagner.nyu.edu/">NYU Wagner</a>, and co-author
    of <cite>Financial Management for Public, Health, and Not-for-Profit
    Organizations, 4th Edition</cite>.</p>

<p><q>Creating free software specifically designed to address the needs of
nonprofits is a laudable goal and one that Conservancy is extremely well
positioned to achieve.</q>  &mdash; <a href="http://gnomg.org">Karen
Sandler</a>, Executive
Director, The <a href="http://www.gnome.org/foundation/">GNOME Foundation</a></p>

<p><q>The Open Source Initiative has shared the experiences of Software
     Freedom Conservancy in navigating the financial management needs of
     non-profit organisations and shares their concern. We have many NPOs as
     members and we welcome this useful initiative by Conservancy.</q>
     &mdash; Simon Phipps, President, <a href="http://opensource.org/node/658">Open Source
     Initiative</a></p>

<p><q>The <a href="https://fsf.org/">Free Software Foundation</a> is committed to doing all of its work,
both public-facing and internal, using only free software. We are thankful to
the developers of SQL Ledger for providing the accounting software that has
served us well for many years. As we have grown, so have the complexities of
our finances.  Because of our own needs and our mission to help other
organizations &mdash; both inside and outside of the technology sphere
&mdash; run their operations on exclusively free software, we wholeheartedly
support this Conservancy initiative.</q> &mdash; <a href="http://www.fsf.org/about/staff-and-board#johns">John Sullivan</a>, Executive
Director, <a href="https://fsf.org">Free Software Foundation</a></p>

<p><q>Open source is a great way to solve new problems and make software that
is more flexible and responsive to the needs of the people who use it. That's
as true for the finance industry as it is on the web.</q>
&mdash; <a href="http://blog.mozilla.org/press/bios/mark-surman/">Mark
Surman</a>, Executive
Director, <a href="https://www.mozilla.org/foundation/">Mozilla
Foundation</a></p>

<p><q>As a young free software non-profit, OpenHatch is thrilled to see this
effort; it would let us spend more of our time on programs and less on
paperwork.  I have already personally <a href="#donate-box" class="donate-now">donated</a>.</q> &mdash; Asheesh Laroia,
Executive Director, <a href="https://openhatch.org/">OpenHatch</a></p>

<h3>Some Important Details for this Fundraiser</h3>

<ul>
<li>Donations made are general donations to the Software Freedom
  Conservancy, Inc., a 501(c)(3) charity incorporated in New York.
  Conservancy is committed to doing this work described herein, but cannot
  promise to complete the work if the fundraising goal is not reached.  If
  the fundraising goal is not reached, Conservancy will do its best to make
  progress on the plan above with the resources available.  It's expected
  that work will simply proceed, but more slowly and take more time, if the
  fundraising goal is not reached.</li>

<li>The license for the project is not yet chosen, since Phase 0 might
  prescribe contribution to particular upstream projects, and Conservancy is
  committed to contributing to upstream projects under their chosen license,
  where possible.  However, Conservancy promises that all software that is
  written will be released under a license that is both approved by
  the <a href="http://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses">FSF as a Free
  Software license</a> <strong>and</strong> by the OSI as
  an <a href="http://opensource.org/licenses">OSI-approved license</a>.  New
  documentation that is written will be released under some license
  compatible with <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">CC BY-SA 3.0 USA</a>.</li>

<!-- end campaign text -->
</div>

{% endblock %}
