{% extends "base_conservancy.html" %}
{% block subtitle %}Sponsors - {% endblock %}
{% block category %}sponsors{% endblock %}
{% block content %}

<h1>Conservancy Sponsors</h1>

<p>Conservancy relies on donations from the general public to support its
work, and asks everyone to <a href="/donate">to donate generously</a>.
The sponsors listed below (in alphabetical order) have donated
substantially in the past twelve months to support the ongoing work of
Conservancy.  These sponsors support our work through financial
contributions.  Conservancy graciously thanks these sponsors for their
support, but doesn't necessarily endorse nor promote any specific activity
of any of its sponsors.</p>

<ul>
</ul>

<!-- This section will be added when we have in-kind contributions -->

<!-- <h3>In-Kind Donation of Services</h3> -->

<!-- <p>Conservancy would also like to thank the following companies who have -->
<!--   donated services and/or resources in-kind to support Conservancy's -->
<!--   work.</p> -->

<!-- <ul> -->
<!-- </ul> -->
