{% extends "base_about.html" %}
{% block subtitle %}Staff - {% endblock %}
{% block submenuselection %}Staff{% endblock %}
{% block content %}
<h1>Staff</h1>

<h2>Karen M. Sandler - Executive Director</h2>
<a id="karen"></a>

<p>Karen M. Sandler is the executive director of Conservancy. Karen is known
as a cyborg lawyer for her advocacy for free software, particularly in
relation to the software on medical devices. Prior to joining Conservancy,
she was executive director of the GNOME Foundation. Before that, she was
general counsel of the Software Freedom Law Center. Karen
co-organizes <a href="http://www.outreachy.org">Outreachy</a>, the
award-winning outreach program for women globally and for people of color
who are underrepresented in US tech. She is also pro bono counsel to the FSF
and GNOME. Karen is a recipient of the O’Reilly Open Source Award and cohost
of the oggcast <a href="http://faif.us/">Free as in Freedom</a>.</p>

<p>Karen received her law degree from Columbia Law School in 2000, where she
was a James Kent Scholar and co-founder of the Columbia Science and
Technology Law Review. Karen received her bachelor’s degree in engineering
from The Cooper Union.</p>

<h2>Bradley M. Kuhn - President and Distinguished Technologist</h2>
<a id="bkuhn"></a>
<p><a href="http://ebb.org/bkuhn/">Bradley M. Kuhn</a> is the President and
Distinguished Technologist at Software
Freedom Conservancy and on the Board of Directors of the <a
href="http://fsf.org/">Free Software Foundation (FSF)</a>. Kuhn began his
work in the software freedom movement as a volunteer in 1992, when he became
an early adopter of the GNU/Linux operating system, and began contributing to
various FLOSS projects.  He worked during the 1990s as a system administrator
and software developer for various companies, and taught AP Computer Science
at Walnut Hills High School in Cincinnati.  Kuhn's non-profit career began in
2000, when he was hired by the FSF.  As FSF's Executive Director from
2001&ndash;2005, Kuhn led FSF's GPL enforcement, launched its Associate
Member program, and invented the <a
href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.  From
2005-2010, Kuhn worked as the Policy Analyst and Technology Director of the
Software Freedom Law Center.  Kuhn was the primary volunteer for Conservancy
from 2006&ndash;2010, and has been a full-time staffer since early 2011.
Kuhn holds a summa cum laude B.S. in Computer Science from <a
href="http://www.loyola.edu/academic/computerscience">Loyola University in
Maryland</a>, and an M.S. in Computer Science from the <a
href="http://www.cs.uc.edu/">University of Cincinnati</a>.  <a
href="http://www.ebb.org/bkuhn/articles/thesis/">Kuhn's Master's thesis</a>
discussed methods for dynamic interoperability of FLOSS programming
languages.  Kuhn received the <a
href="http://www.oscon.com/oscon2012/public/schedule/detail/25039">O'Reilly
Open Source Award in 2012</a>, in recognition for his lifelong policy work on
copyleft licensing.</p>

<h2>Tony Sebro - General Counsel</h2>
<a id="tony"></a>
<p>Tony Sebro is a seasoned technology attorney with a broad base of
business and legal experience relating to technology, strategy, and
business development.  Before joining Conservancy, Tony was most recently
a Partner with the PCT Companies, a family of professional service firms.
Prior to that, he was Program Director, Technology &amp; Intellectual
Property at IBM's Armonk, New York world headquarters, where he was
responsible for developing and executing licensing strategies in
partnership with IBM's Software Group.  In that role, Tony led
negotiations and structured deals with market leaders in the web
technology, e-commerce, retail, enterprise software, and financial
services sectors.  Tony also led various internal strategic initiatives,
including an effort to provide business leaders of key emerging market
opportunities with coordinated intellectual property development and
monetization strategies, as well as the revamping and supervision of IBM's
corporate-wide process for determining the value and availability of
patents for sale.  Prior to his tenure at IBM, Mr. Sebro practiced law in
the New York office of Kenyon &amp; Kenyon, LLP, handling litigation and
licensing matters for clients in the medical, pharmaceutical and
mechanical technology areas.  Tony received his J.D. and his M.B.A. from
the University of Michigan.  He received his B.S. from the Massachusetts
Institute of Technology. Tony is a member of the New York bar and
registered to practice before the U.S. Patent and Trademark Office. Tony
is also an active participant in and supporter of the non-profit
community, and has served on the boards of multiple non-profit
organizations.</p>

<h2>Brett Smith - Director of Strategic Initiatives</h2>
<a id="brett"></a>
<p>Brett Smith began his FLOSS advocacy in 2000 at college, organizing
student groups and discussing the issues with professors and journalists.  He
also spent a couple of those summers interning at the Free Software
Foundation, and working in various assisting roles there when he returned to
campus.  Later on he worked as the FSF's License Compliance Engineer from
2006-2012, helping to shepherd the GPLv3 drafting process and do outreach
after the license was released.  From there, he worked as a Systems Engineer
at the World Wide Web Consortium (W3C) and
an <a href="https://arvados.org/">Arvados</a> maintainer at Curoverse before
joining Conservancy as Director of Strategic Initiatives in 2016.  He holds a
BS in Computer Science from the University of Kentucky.</p>

<h2>Denver Gingerich - FLOSS License Compliance Engineer</h2>
<a id="denver"></a>

<p>
Denver works part-time managing the technical side of Conservancy's
license compliance work, triaging new reports and verifying complete and
corresponding source (C&amp;CS).  His roles elsewhere have recently
included financial trading software development on GNU/Linux and
previously involved writing system software for hardware companies,
including driver writing for the kernel named Linux at ATI (now AMD) and
Qualcomm.  He founded a company that designs and builds magnetic stripe
readers for security hobbyists where he designed the hardware and
developed the device's tools and firmware, which are both free software.
Denver also writes free software in his spare time, with patches accepted
into Wine, the kernel named Linux, and GNU wdiff.  Denver received his
BMath in Computer Science from the University of Waterloo.  He gives presentations
about digital civil rights and protecting the free software ecosystem,
having spoken at conferences such as CopyCamp Toronto, FOSSLC's
Summercamp, and the Open Video Conference.</p>

{% endblock %}
