{% extends "base_about.html" %}
{% block subtitle %}About - {% endblock %}
{% block submenuselection %}Filings{% endblock %}
{% block content %}

<h1>Public Filings</h1>

<p>Like all USA non-profits, the Conservancy files an annual Form 990 and,
as a non-profit in the State of New York, files an annual CHAR-500 with
New York State.  Below, Conservancy makes available these filings for
public inspection, in reverse chronological order:</p>

<p>
<ul>
<li>Fiscal Year 2011
<p>Conservancy's FY 2011 will end on 2012-02-29.  The initial filing deadline for
  FY 2011 Form 990 and CHAR 500 was 2012-07-16.  However, The IRS and NYS granted
  Conservancy an automatic three-month filing extension until 2012-10-15.</p>
</li>
<li>Fiscal Year 2010
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2010.pdf">FY 2010 Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2010.pdf">FY 2010 New York State CHAR-500 (PDF)</a></li>
<li><a href="/docs/conservancy_independent-audit_fy-2010.pdf">FY 2010 Independent Auditor's Report (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2009
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2009.pdf">FY 2009 Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2009.pdf">FY 2009 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2008
<ul>
<li><a href="/docs/conservancy-form-990-fy-2008.pdf">FY 2008 Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy-CHAR-500-fy-2008.pdf">FY 2008 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2007
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2007.pdf">FY 2007 Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2007.pdf">FY 2007 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2006
<ul>
<li><a href="/docs/conservancy_CHAR-500_fy-2006.pdf">FY 2006 New York State CHAR-500 (PDF)</a></li>
<li><a href="/docs/conservancy_Form-1023.pdf">Form 1023, as filed in
    September 2006</a></li>
<li><a href="/docs/conservancy_certificate-of-incorporation.pdf">Certificate
    of Incorporation, as granted by New York on 7 April 2006.</a></li>
<li><a href="/docs/conservancy_by-laws.pdf">Conservancy's By-Laws, as filed with the
    incorporation documents, and as approved by New York on 7 April 2006.</a></li>
</ul>
</li>
</ul></p>
{% endblock %}
