{% extends "base_about.html" %}
{% block subtitle %}About - {% endblock %}
{% block submenuselection %}Filings{% endblock %}
{% block content %}

<h1>Public Filings</h1>

<p>Like all USA non-profits, the Conservancy files an annual Form 990 and,
as a non-profit in the State of New York, files an annual CHAR-500 with
New York State.  Below, Conservancy makes available these filings for
public inspection, in reverse chronological order:</p>

<p>
<ul>
<li>Fiscal Year 2011
<p>Conservancy's FY 2011 will end on 2012-02-29.  The filing deadline for
  FY 2011 Form 990 and CHAR 500 will likely be 2012-07-16.</p>
</li>
<li>Fiscal Year 2010
<p>Conservancy's FY 2010 ended on 2011-02-28.  Conservancy was granted an
  automatic three-month FY 2010 Form 990 extension by the IRS and NYS.
  That extension allows Conservancy to file its FY 2010 Form 990 and
  CHAR-500 by 2011-10-15.  In addition, on 2011-09-03, Conservancy applied
  for the non-automatic additional three month filing extension.  If
  granted, Conservancy will not be required to file our FY 2010 Form 990
  and CHAR-500 until 2012-01-15.  Conservancy therefore plans to post its
  FY 2010 Form 990 and FY 2010 CHAR-500 here by 2012-01-23.</p>
</li>
<li>Fiscal Year 2009</li>
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2009.pdf">Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2009.pdf">New York State CHAR-500 (PDF)</a></li>
</ul>

<li>Fiscal Year 2008</li>
<ul>
<li><a href="/docs/conservancy-form-990-fy-2008.pdf">Federal Form 900 (PDF)</a></li>
<li><a href="/docs/conservancy-CHAR-500-fy-2008.pdf">New York State CHAR-500 (PDF)</a></li>
</ul>
</p>
{% endblock %}
