/* "Big screen" means, approximately, bigger than a phone */

.column:nth-child(odd) {
    clear: both;
    float: left;
    width: 49%;
}

.column:nth-child(even) {
    float: right;
    width: 49%;
}

.left {
    float: left;
    margin-right: 1.5em;
}

.right {
    float: right;
    margin-left: 1.5em;
}

.picture {
    width: 30em;
    padding: .75em;
}

#contractpatch-follow {
    float: left;
    width: 30em;
    margin-right: 1.5em;
    /* Below from .shaded, but we don't want the class on non-big screens. */
    padding: .75em;
    background: #F0FFB8;
}

#contractpatch-follow h2 {
    font-size: large;
}
