* { margin: 0; padding: 0; }
img { border: 0; }
body { margin: 0; padding: 0; }
.clear { clear: both; }
.hidden { display: none; }

p, h1, h2, h3, h4, h5, h6, #mainContent ul, #mainContent ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

body {
/*  font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Verdana", "FreeSans", sans-serif;
  font-size: 95%;
}

a { text-decoration: none; color: #557733; }
a:hover { text-decoration: underline; color: #577632; }

.toggle-control  {
cursor: pointer;
text-decoration: none; color: #557733;
}
.toggle-control:hover { text-decoration: underline; color: #577632; }

/* FIXME: We should do this:          */
/* http://www.waypointarts.com/blog/2013/06/29/fixing-a-side-bar-while-scrolling-until-bottom */
.donate-sidebar {
    position: fixed;
    top: 180px;
    right: 2%;
    width: 18%;
}
@media all and (max-width: 725px) {
    .donate-sidebar { display: none; }
    .content-with-donate-sidebar {
        align: center;
        width: 100%;
    }
}

p.footnote {
    font-size: 85%;
}

h1 { margin-top: .75em; margin-bottom: .5em; }
h2 { margin-top: .75em; margin-bottom: .5em; }
h3 { margin-top: .6em; margin-bottom: .4em; }

#mainContent h1 { border-bottom: 1px solid #00334b; }
#mainContent h2 { border-bottom: 1px solid #aaa; }

#mainContent ul, #mainContent ol { padding-left: 1.5em; }

#mainContent img { margin: 3px; }

.internalNavigate { width: 19%; float: right; }
#mainContent .internalNavigate ul { list-style-type: none; padding-left: 0; }
.internalNavigate ul li { margin-top: .3em; margin-bottom: .3em; }

/* Header */

#conservancyheader {
  margin: 0;
  /* Leave 0 padding on the right so the header image is clipped by the edge of
   * the browser window. */
  padding: 10px 0 10px 17px;
/*  background-color: #d1ff96; */
/*  background-color: #92CC58; */
/*  background-color: #BDD8A2; */
/*  background-color: #92cc58; */
/*  background-color: #b5cd9d; */
  background-color: #ffffff;
  border-bottom: 1px solid #808080;
  text-indent: -5000px; /* hide in favor of image */
}
#logobutton {
  display: block;
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100%;
  min-width: 350px;  /* So at least tree and text is visible */
  background: url(/img/conservancy-header.png) no-repeat;
}

/* Navigation bar */
#navbar-outer { background: #577632; }
#navbar { margin-left: 104px; margin-top: 3px; float: left; display: inline; }
#navbar ul { list-style: none; }
#navbar-clear { clear: both; border-bottom: 1px solid #808080; }
#navbar li.supporter a {
  display: block;
  background: #fafafe;
  padding: .2em .8em;
  margin-right: 3px;
  border: 1px solid #808080;
  font-size: .8em;
  background: #ffd843;
  background: -moz-linear-gradient(top, #fff, #ffd533);
  background: -webkit-linear-gradient(top, #fff, #ffd533);
  background: linear-gradient(to bottom, #fff, #ffd533);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffd533', GradientType=0);
  border-color: #ffffff;
}
#navbar li a {
  display: block;
  background: #fafafe;
  padding: .2em .8em;
  margin-right: 3px;
  border: 1px solid #808080;
  font-size: .8em;
  background: #eaf1f1;
  background: -moz-linear-gradient(top, #fff, #eaf1f1);
  background: -webkit-linear-gradient(top, #fff, #eaf1f1);
  background: linear-gradient(to bottom, #fff, #eaf1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaf1f1', GradientType=0);
  border-color: #ffffff;
}
#navbar li:hover a { background: #577632; color: #fff; }
#navbar li.supporter:hover a { background: #577632; color: #CE1F1F; }
#navbar li { float: left; display: inline; margin-bottom: 3px; }

#mainContent {
    margin-left: 50px;
    margin-right: 50px;
}

#progressbar {
    height: 1.8em;
}

#progressbar .ui-widget-header {
    background: rgb(206, 31, 31);
}

#siteprogressbar {
    margin: .5em 20% .5em 2%;
}
#siteprogressbar .goalText {
    color: #557733;
    font-size: 10pt;
}
#siteprogressbar .soFarText {
    font-size: 10pt;
}
#siteprogressbar .progress {
    background: #577632;
}
@media all and (max-width: 600px) {
  .goalText {
      font-size: 8pt;
  }
  .soFarText {
      font-size: 8pt;
  }
}
#siteprogressbar .progress {
    background: #577632;
}
#siteprogressbar .middle-goal {
    background: #d0d0d0;
}

#siteprogressbar .final-goal {
    background: #eeeeee;
}

#fundraiser-percentage {
    text-align: center;
}

.content-with-donate-sidebar {
    align: left;
    width: 80%;
}

#container {
    width: 100%;
    overflow: hidden;
}
#container #mainContent {
    background: #ffffff;
    margin-left: 225px;
    margin-right: 50px;
    font-size: medium;
    max-width: 1000px;
    line-hight: 1.25em;
}
#container #sidebar {
    width: 200px;
    float: left;
    background-color: #ccd4a3;
}

#container #sidebar li {
    text-align: center;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border: 1px solid #CCC;
    background: #eaf1f1;
    background: -moz-linear-gradient(top, #fff, #eaf1f1);
    background: -webkit-linear-gradient(top, #fff, #eaf1f1);
    background: linear-gradient(to bottom, #fff, #eaf1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaf1f1', GradientType=0);
}
#container #sidebar li a:hover { background: #577632; color: #fff; }

#container #sidebar.Directors ul li.Directors,
#container #sidebar.Eval ul li.Eval,
#container #sidebar.Overview ul li.Overview,
#container #sidebar.Contact ul li.Contact,
#container #sidebar.Officers ul li.Officers,
#container #sidebar.Staff ul li.Staff,
#container #sidebar.Outside ul li.Outside,
#container #sidebar.Filings ul li.Filings,
#container #sidebar.License ul li.License,
#container #sidebar.Current ul li.Current,
#container #sidebar.Services ul li.Services,
#container #sidebar.Applying ul li.Applying,
#container #sidebar.VMwareLawsuitAppeal ul li.VMwareLawsuitAppeal,
#container #sidebar.VMwareCodeSimilarity ul li.VMwareCodeSimilarity,
#container #sidebar.CopyleftPrinciples ul li.CopyleftPrinciples,
#container #sidebar.VMwareLawsuitFAQ ul li.VMwareLawsuitFAQ,
#container #sidebar.AboutCompliance ul li.AboutCompliance
{
    color: #000033;
    font-weight: bold;
    background: #eaf1f1;
    background: -moz-linear-gradient(bottom, #fff, #eaf1f1);
    background: -webkit-linear-gradient(bottom, #fff, #eaf1f1);
    background: linear-gradient(to top, #fff, #eaf1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f1', endColorstr='#ffffff', GradientType=0);
}
#container #sidebar h2 {
    text-align: center;
    font-size: 150%;
    margin: 1.5em 0 0.8em 0;
}
#container #sidebar hr {
    width: 75%;
    float: center;
    clear: all;
}

/* Navbar Submenus (currently unused) */
#navbar li ul { display: none; border: 1px solid #444; }
#navbar li:hover ul { display: block; position: absolute; }
#navbar li ul li { float: none; }
#navbar li ul li a { border: 0px; margin: 0px; }

.shaded { background: #F0FFB8; padding: .1em .5em; margin-bottom: .5em; }

.columns {
    width: 100%;
    overflow: hidden;
}

.column-small {
    width: 31%;
 }
.column-large {
    margin-left: 35%;
    margin-right: 50px;
}

.column-left { float: left; }
.column-right { float: right; }

.column h2 { font-size: 1.25em; }
.column h3 { font-size: 1.1em; }
.column hr { width: 50%; align: center; }

.column h2 a { text-decoration: none; color: #000000; }
.column h2 a:hover { text-decoration: underline; }

#conservancyfooter {
  margin-top: 1em;
  border-top: 1px solid #ccc;
  text-align: center;
  clear: both;
}

span.continued {
  display: block;
  font-size: .83em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

p.date {
  font-style: italic;
  font-size: .83em;
  margin-bottom: .3em;
  margin-top: .3em;
}

a.feedlink /* RSS icon */ { display: block; float: right; font-size: 10pt; }

blockquote, div.quote /* div.quote is used by conservancy whitepaper */ {
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #fff;
  background: #eee;
}

.newsgraphic { float: right; }
.newsgraphic img { border: 1px solid #000; }

.secondary_info { font-size: 83%; }
.next_page_button { float: right; }
.pagination_list { text-align: center; }
.document_format { border: 1px solid #888; padding: .2em; background: #fff99d;}
.copyright_info { font-size: 90%; }
hr.footnote-separator { width: 80%; margin-left: auto; margin-right: auto; }

/* Resources pages */
div.download-formats { margin-top: 2em; margin-bottom: 2em; }
.download-formats p { display: inline; }
#mainContent .download-formats ul { display: inline; list-style: none;
                                    padding-left: 0; }
.download-formats ul li { display: inline; padding-left: 2em; }

/* Resources - book styles */
hr.chapter-separator { display: none; }
h2.likechapterHead { text-align: center; }
h2.chapterHead { text-align: center; }
#mainContent ul.author { list-style-type: none; padding-left: 0; }
#mainContent div.footnotes { font-style: normal; } /* remove italics */
span.sectionToc { padding-left: 2em; } /* indent TOC properly */
span.subsectionToc { padding-left: 4em; }
span.subsubsectionToc { padding-left: 6em;}
.js, .js p, .js p.bibitem, .js p.bibitem-p { background-color: #cde7e9; }

body.conservancy-Members #navbar ul li.Members a,
body.conservancy-news #navbar ul li.news a,
body.conservancy-blog #navbar ul li.blog a,
body.conservancy-About #navbar ul li.About a,
body.conservancy-Compliance #navbar ul li.compliance a,
body.conservancy-donate #navbar ul li.donate a,
body.conservancy-npoacct #navbar ul li.npoacct a,
body.conservancy-sponsors #navbar ul li.sponsors a /* NO COMMA HERE! */
{
    color: #000033;
    font-weight: bold;
    background: #eaf1f1;
    background: -moz-linear-gradient(bottom, #fff, #eaf1f1);
    background: -webkit-linear-gradient(bottom, #fff, #eaf1f1);
    background: linear-gradient(to top, #fff, #eaf1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f1', endColorstr='#ffffff', GradientType=0);
}
body.conservancy-supporter #navbar ul li.supporter a
{
    color: #000033;
    font-weight: bold;
    background: #ffd843;
    background: -moz-linear-gradient(bottom, #fff, #ffd533);
    background: -webkit-linear-gradient(bottom, #fff, #ffd533);
    background: linear-gradient(to top, #fff, #ffd533);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd533', endColorstr='#ffffff', GradientType=0);
}

#supporters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#supporters li:before {
    content: '';
    display: inline-block;
    height: 2em;
    width: 2em;
    background-image: url(/img/conservancy-supporter-heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.25em 1.2em 0.25em 0.25em;
    vertical-align: middle;
}

#supporters li {
    padding: 0.5em 2em 1em 2em;
    margin-left: .25em;
    list-style: none;
}

#sponsor ul {
  clear: all;
  margin-bottom: 10px;
}

#sponsor li {
  width: 100%;
  float: left;
  margin-top: 10px;
  text-align: center;
  list-style: none;
  margin-right: 5px;
}

#subbox {
   position: absolute;
   padding-top: 10px;
   right: 0px;
   width: 200px;
   font-size: 12px;
}

img.inside-faq {
  max-width: 100%;
  width: auto;
  overflow: scroll;
}
pre {
  overflow: auto;
}

.supporter-type-selector a {
    font-size: 125%;
    font-weight: normal;
}

.supporter-type-selector a.supporter-type-selector-selected {
    font-size: 127%;
    font-weight: bold;
}

/* Make dl's ( such as for FAQ entries) look nice on screens, both big and small. */

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    text-align: center;
    margin: 0em 1em 0.5em 0.5em;
    font-weight: bold;
    color: green; }
dd {
    margin: 0 0 1.5em 2em;
}

@media only screen and (min-width: 685px) {
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    text-align: center;
    width: 10em;
    margin: 0em 1em 0.5em 0.5em;
    font-weight: bold;
    color: green; }
dt:after {
    content: ":";
}
dd {
    margin: 0 0 2.5em 11.5em;
}
}
.fundraiser-top-text {
    background: #F0FFB8;
    padding: .7em .7em .7em .7em;
}
.fundraiser-top-text em {
    font-size: 120%;
}

/* These vido controls are based on the fact that our videos often appear on
** the blog summary areas, which are in a div with class column, and in the
** main blog, which is in the body with class conservancy-blog
*/

div.column video {
    float: right;
    height: auto !important;
    width: 25% !important;
    max-width:50%;
    margin-left: .7em;
    margin-bottom: .4em;
}

body.conservancy-blog video {
    float: right;
    height: auto !important;
    width: 50% !important;
    max-width: 75%;
    margin-left: .7em;
    margin-bottom: .7em;
}

/* In older firefox/iceweasel, the above did not work.  The below is a legacy
** hack, and requires you to remember to put class="small-right" and class="medium-right"
*/

video.small-right {
    float: right;
    height: auto !important;
    width: 25% !important;
    max-width:50%;
    margin-left: .7em;
    margin-bottom: .4em;
}

video.medium-right {
    float: right;
    height: auto !important;
    width: 50% !important;
    max-width: 75%;
    margin-left: .7em;
    margin-bottom: .7em;
}

img.blog-right {
    float: right;
    padding-left: 1em;
    margin: .25em;
    min-width: 8%;
    max-width: 30%;
    width: auto;
}
