{% extends "base_conservancy.html" %}
{% block subtitle %}Overview - {% endblock %}
{% block category %}overview{% endblock %}
{% block content %}

<h1>Overview</h1>

<p>The Software Freedom Conservancy is an organization composed of Free,
Libre and Open Source Software (FLOSS) projects (called Conservancy's
&ldquo;member projects&rdquo;).  Conservancy is a fiscal sponsor for these
member projects, thus the Conservancy's member projects benefit from
financial, administrative services and non-profit oversight.  By joining
the Conservancy, member projects can obtain the benefits of a formal legal
structure while keeping themselves focused on software development.</p>

<p><b>What are the benefits of joining the Conservancy?</b></p>

<p>One of the principal benefits of joining the Conservancy is that member
projects get all the protections of being a corporate entity without
actually having to form and maintain one. These benefits include, most
notably, the ability to collect earmarked project donations and protection
from personal liability for the developers of the project.  Projects can
continue to operate in the same way they did before joining the
Conservancy without having to select a board of directors or any other
layer of corporate management, without having to maintain corporate
records and without having to do any of the other things required of
incorporated entities.  The Conservancy handles all of that burden on
behalf of its projects.</p>

<p>The Conservancy is a tax-exempt 501(c)(3) organization, so member
projects can receive tax-deductible donations to the extent permitted
by law.  The Conservancy files a single tax return that covers all of
its member projects and handles other corporate and tax related issues
on behalf of its members, who are, of course, always free to join and
leave the Conservancy at any time.  Additionally, by not having to
form a new organization, projects avoid having to pay the fees and
spend the time required by the state incorporation and federal tax
exemption application processes.</p>

<p>Another benefit of joining the Conservancy is that projects can use
it to hold assets, which are managed by the Conservancy on behalf of
and at the direction of the project.  For example, any monies received
by a project are put in a separate Conservancy fund and maintained
there until the project directs the Conservancy to do something with
the funds.  This prevents developers from having to commingle project
funds with their own accounts or having to set up their own project
specific account.  Since the Conservancy is a tax-exempt organization,
there are some limits that the law places on what member projects can
do with their assets, but those limits are the same as if the project
was an independent non-profit entity.</p>

<p>All of these benefits are currently provided for free.  The Conservancy
does not currently charge its member projects any fees.  The Conservancy
of course welcomes and appreciates voluntary contributions from member
projects to help cover the cost of providing these services.</p>

<p><b>How does a project join the Conservancy?</b></p>

<p>In order to join, projects need to meet certain criteria, including the
requirement that the project be exclusively devoted to the development of
Free and Open Source Software and that it be consistent with the
Conservancy's tax-exempt purposes and the financial requirements imposed
by the IRS.  Most FLOSS projects will meet these requirements.  To find out
if your project can join the Conservancy, or to get more information,
<a href="/about/contact/">contact us</a>, preferably by email.  Qualifying
projects that wish to join the Conservancy will form an agreement with the
Conservancy that sets out all of their rights and responsibilities.</p>

<p>While any project licensed under a widely recognized FOSS license can
  apply, the Conservancy seeks in particular projects that are
  well-established and have some track record of substantial contributions
  from a community of volunteer developers.  The Conservancy does gives
  higher priority to projects that have an established userbase and
  interest, but also tries to accept some smaller projects with strong
  potential.</p>

<p><b>If my project joins the Conservancy, how will it change?</b></p>

<p>Substantively, member projects continue to operate in the same way as they
did before joining the Conservancy.  So long as the project remains
devoted to Free and Open Source Software and operates consistently with
the Conservancy's tax-exempt status, the Conservancy does not intervene in
the project's development other than to provide administrative assistance.
For example, the Conservancy keeps and maintains books and records for the
project and assists with the logistics of receiving donations, but does
not involve itself with technical or artistic decision making.  Projects
are asked, however, to keep the Conservancy up to date on their
activities.</p>

<p><b>Once a project joins, who owns its assets (money, copyrights, trademarks,
etc.)?</b></p>

<p>The Conservancy holds assets on behalf of its member projects and
manages and disburses those assets in accordance with the project's
wishes.  Monies received by the Conservancy on behalf of a project are
kept track of separately for each specific project and the management of
those funds is directed by the project.  For example, if a donor wanted to
contribute $100 to Project X, they would formally make the donation to the
Conservancy and identify Project X as the desired project to support.  The
Conservancy would then deposit the check and earmark the funds for use by
Project X.  Project X would then tell the Conservancy how that money
should be spent.</p>

<p>Similarly, any copyrights, trademarks or other assets transferred to a
project can also be held by the Conservancy on behalf of the project.  A
significant service that the Conservancy provides its members is a vehicle
through which copyright ownership in the project can be unified.  There
are several advantages to having a consolidated copyright structure,
including that it makes enforcement activity easier and more effective.
However, although it is almost always beneficial for projects to
consolidate their copyrights, such is not a requirement in order to join
the Conservancy.</p>

<p><b>How can a project leave the Conservancy?</b></p>

<p>As set out in an agreement between member projects and the Conservancy,
projects can leave the Conservancy at any time.  Federal tax exemption
law, though, states that projects must transfer their assets from the
Conservancy in a way that is consistent with the Conservancy's
not-for-profit tax status &mdash; meaning the assets cannot be transferred
to an individual or a for-profit entity.  Generally, a project would
either find another fiscal sponsor or form their own independent
tax-exempt non-profit.</p>

<p><b>Who runs the Conservancy?</b></p>

<p>Like many non-profits, The Conservancy is directed by a
self-perpetuating <a href="/about/team/board/">Board of Directors</a>, who
appoint <a href="/about/team/officers/">Officers</a> to carry out the
day-to-day operations of the Conservancy.  The Directorship of the
Conservancy is designed to include both talented non-profit managers and
seasoned FOSS project leaders who can both guide the administrative
operations of the organization as well as mentor member project leadership
as needed.  Our Directors constantly search for additional directors who
can contribute a variety of expertise and perspective related to the
Conservancy's mission.</p>

<h2>Public Filings</h2>

<p>Like all USA non-profits, the Conservancy files an annual Form 990 and, as
a non-profit in the State of New York, files an annual CHAR-500 with New
York State.  Below, Conservancy makes available these filings for public
inspection:</p>

<p><ul>
<li>Fiscal Year 2008</li>
<ul>
<li><a href="/docs/conservancy-form-990-fy-2008.pdf">Federal Form 900 (PDF)</a></li>

<li><a href="/docs/conservancy-CHAR-500-fy-2008.pdf">New York State
    CHAR-500 (PDF)</a></li>
</li>

{% endblock %}
