{% extends "base_conservancy.html" %}
{% block subtitle %}Donations - {% endblock %}
{% block category %}donate{% endblock %}
{% block head %}
<link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/jquery.min.js"></script>
<script src="/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<div style="position:fixed;top:180px;right:2%;width:18%">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">
<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Donate Now!</h1></div>
</div>
<!-- PayPal start -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4ZKJN4F9BMFAS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!-- PayPal end -->
<p>
Other donation methods:
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer"
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
        Please
            contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Please Include your currency and country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check"
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check donations to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548<br/>
    Please write <q>GPL COMPLIANCE FOR LINUX DEVS</q> in the memo line.
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->
</p></td></tr></table>
</div>
<div style="align:left;width:80%;">

<h1>GPL Compliance Project for Linux Developers</h1>

<p>The GPL Compliance Project for Linux Developers is comprised of copyright
holders in the kernel, Linux, who have contributed to Linux under its
license, <a href="http://www.gnu.org/licenses/gpl-2.0.html">the
GPLv2</a>. These copyright holders have formally asked Conservancy to engage
in compliance efforts for their copyrights in the Linux kernel.</p>

<p>Historically, Conservancy was well-known for its ongoing license
compliance efforts on behalf of its BusyBox member project.  In May
2012, <a href="https://sfconservancy.org/news/2012/may/29/compliance/">Conservancy
announced a coordinated compliance effort</a> on behalf of its BusyBox and
Samba projects, and also launched this unique project, called the <cite>GPL
Compliance Project for Linux Developers</cite>, which handles compliance and
enforcement activities on behalf of more than a dozen Linux copyright
holders.</p>
 
<p>Conservancy's GPL Compliance Project is run in a collaborative manner with
the project developers.  All copyright holders involved have the opportunity
to give input and guidance on Conservancy's strategy in dealing with
compliance issues.  Thus, all Conservancy's compliance matter have full
support of relevant copyright holders.</p>

<p>Conservancy is dedicated to encouraging all users of software to comply
  with Free Software licenses. Toward this goal, in its compliance efforts,
  Conservancy helps distributors of Free Software in a friendly spirit of
  cooperation and participation.</p>

<p>Those who are interested in how Conservancy handles GPL enforcement and
  compliance work should read in
  detail <a href="https://sfconservancy.org/blog/2012/feb/01/gpl-enforcement/">our
  blog post outlining the compliance process</a>.</p>

<p>If you are aware of a license violation or compliance issue regarding
  Linux, or
  any <a href="https://sfconservancy.org/members/current/">Conservancy member
  project</a> (and in particular BusyBox, Evergreen, Inkscape, Mercurial,
  Samba, Sugar Labs, or Wine),
  please <a href="mailto:compliance@sfconservancy.org">contact us by email at
  &lt;compliance@sfconservancy.org&gt;</a></p>

<p>Finally, Conservancy welcomes earmarked donations in support of the GPL
  Compliance Project for Linux Developers.  Use the PayPal link on this page
  or <a href="/donate/">any of our other donation methods</a>.  Be sure to
  mention &ldquo;GPL Compliance Project for Linux Developers&rdquo; in the
  memo line or description field of the donation.</p>
</div>
{% endblock %}
