{% extends "base_compliance.html" %}
{% block subtitle %}GPL Compliance Project For Linux Developers - {% endblock %}
{% block submenuselection %}VMwareLawsuitAppeal{% endblock %}
{% block content %}
<h1>The time has come to stand up for the GPL.</h1>

<p><em>Today Conservancy <a href="/news/2015/mar/05/vmware-lawsuit/">announces Christoph Hellwig's
    lawsuit against VMware in Germany</a>.  Help us meet our anonymous match to 
    support Conservancy's and Christoph's efforts in this area
    by <a href="https://sfconservancy.org/supporter/">becoming a Conservancy
    supporter</a> or <a href="#donate-box" class="donate-now">donate link on the right</a>.</em></p>


<p>We were told to ask nicely and repeatedly, so we did.</p>

<p>We asked allies to help us make contact in friendly and professional
  ways.</p>

<p>Everyone asked us to give companies as many chances as possible and as
  much help as possible to comply with copyleft, so we did.</p>

<p>We've worked for years to help VMware comply with the GPL, but they
refuse. Negotiations broke down for the last time when they insisted on an 
NDA just to discuss settlement terms!</p>

<p>Christoph is among the most active developers of Linux.  As of Feburary 
19, 2015, Christoph has contributed 279,653 lines of code to the Linux kernel, 
and ranks 20th among the 1,340 developers involved in the latest 3.19 kernel 
release.  Christoph also
ranks 4th among those who have reviewed third-party source code, tirelessly
corrected and commented on other developers' contributions.  Christoph
licenses his code to the public under the terms of the GPL for practical and
ideological reasons.  VMware, a company with net revenue of over $1 billion
and over 14,000 employees, ignored Christoph's choice.  They took Christoph's
code from Linux and modified it to work with their own kernel without releasing
source code of the resulting complete work.  This is precisely the kind of
activity Christoph and other kernel developers seek to prevent by choosing
the GPL.  The GPL was written to prevent this specific scenario!</p>

<h3>This is a matter of principle.</h3>

<p>Free and open source software is everywhere and in everything; yet our
  software freedom is constantly eroded.</p>

<p>We want companies to incorporate our software into new products, but there
are a few simple rules.  Copylefted free software is so prevalent because
there's no way a company can compete without using a significant amount of
free software to bring products to market in reasonable time. They get so
much benefit from our work.  Allowing the whole community to review, use,
improve and work with the code seems very little to ask in return.  Copyleft
also ensures competitors cannot undercut those who contribute.  Without active enforcement, the GPL is
effectively no different from a non-copyleft license.</p>

<p>What point is there for companies to make sure that they're compliant if
there are no consequences when the GPL is violated? Many will continue to
ignore the rules without enforcement.  We know that there are so many
companies that willingly comply and embrace GPL as part of their business.
Some are temporarily out of compliance and need to be brought up to speed,
but willingly comply once they realize there is an issue.  Sadly, VMware sits
in the rare but infamous class of perpetually non-compliant companies. VMware
has been aware of their noncompliance for years but actively refuses to do
the right thing.  Help us do right by those who take the code in the spirit
it was given and comply with copyleft, and stop those don't.</p>

<p>We know that copyleft isn't a favorite licensing strategy for some in our
community.  Even so, this case will help bring clarity on the question of
combined and derivative works, and is essential to the future of all software
freedom.  This case deserves support from copyleft and non-copyleft free
software communities alike.</p>

<h3>Show you care</h3>

<p>Bad actors have become complacent because they think you don't care.  A
  strong show of public support for Conservancy and Christoph's position will
  help our legal case and demonstrate the interpretive context for it.
  Please <a href="#donate-box" class="donate-now">donate</a> to our campaign to enforce the GPL.  Help Conservancy
  increase its number of individual donors, so we have clear evidence to show
  bad actors that the GPL matters to the individuals in our community.
  After you <a href="#donate-box" class="donate-now">donate</a>, go and tell the world: &ldquo;Play by the rules, @VMware. I defend the #GPL with Christoph &amp; @Conservancy. #DTRTvmware  Help at https://sfconservancy.org/supporter/ &rdquo; on your blog or microblog.
  </p>


<h3>Isn't the combined works and/or derivative works question a legal grey area?</h3>

<p>We don't think so, but this case will let the court to decide that question.
Either way, it's beneficial to our entire community to find out what the
judges think.  (Check out our <a href="/linux-compliance/vmware-lawsuit-faq.html">FAQ to find out more
information</a>.)</p>

<p>Help us pay for this expensive lawsuit and to generally defend software
  freedom and the GPL.  Help us show the world that copyleft matters.  We are excited 
  to announce an anonymous match for this campaign, where every dollar donated 
  will be matched up to $50,000. Please
  donate now: by becoming <a href="/supporter/">a Conservancy Supporter</a> or
  via <a href="#donate-box" class="donate-now">donate link on the right</a>.</p>
{% endblock %}
