{% extends "base_about.html" %}
{% block subtitle %}Directors - {% endblock %}
{% block submenuselection %}Directors{% endblock %}
{% block content %}

<h1>Directors</h1>

<p>Like many non-profits, Conservancy is directed by a
self-perpetuating Board of Directors, who
appoint <a href="/about/officers/">Officers</a> to carry out the
day-to-day operations of the organization.  The Directorship of the
Conservancy includes both talented non-profit managers and experienced
FLOSS project leaders who can both guide the administrative operations of
the organization as well as mentor member project leaders as needed.  Our
Directors constantly search for additional directors who can contribute a
variety of expertise and perspective related to the Conservancy's
mission.</p>

<p>Currently, the directors of Conservancy are:</p>

<h2>Jeremy Allison</h2>

<p>Jeremy Allison is one of the lead developers on the Samba Team, a
group of programmers developing an Open Source Windows compatible file
and print server product for UNIX systems. Developed over the Internet
in a distributed manner similar to the Linux system, Samba is used by
all Linux distributions as well as many thousands of corporations and
products worldwide. Jeremy handles the co-ordination of Samba
development efforts and acts as a corporate liaison to companies using
the Samba code  commercially.</p>

<p>He works for Google, Inc. who fund him to work on improving Samba and
solving the problems of  Windows and Linux interoperability.</p>

<h2>Mark Galassi</h2>

<p>Mark Galassi has been involved in the GNU project since 1984. He
currently works as a researcher in the International, Space, and Response
division at Los Alamos National Laboratory, where he has worked on the
HETE-2 satellite, ISIS/Genie, the Raptor telescope, the Swift satellite,
and the muon tomography project. In 1997 Mark took a couple of years off
from Los Alamos (where he was previously in the ISR division and the
Theoretical Astrophysics group) to work for Cygnus (now a part of Red Hat)
writing software and books for eCos, although he continued working on the
HETE-2 satellite (an astrophysical Gamma Ray Burst mission) part
time. Mark earned his BA in Physics at Reed College and a PhD from the
Institute for Theoretical Physics at Stony Brook. </p>

<h2>Bradley M. Kuhn</h2>

<p><a href="http://ebb.org/bkuhn/">Bradley M. Kuhn</a> is the President and
Distinguished Technologist at <a href="http://sfconservancy.org/">Software
Freedom Conservancy</a> and on the Board of Directors of the <a
href="http://fsf.org/">Free Software Foundation (FSF)</a>. Kuhn began his
work in the software freedom movement as a volunteer in 1992, when he became
an early adopter of the GNU/Linux operating system, and began contributing to
various FLOSS projects.  He worked during the 1990s as a system administrator
and software developer for various companies, and taught AP Computer Science
at Walnut Hills High School in Cincinnati.  Kuhn's non-profit career began in
2000, when he was hired by the FSF.  As FSF's Executive Director from
2001&ndash;2005, Kuhn led FSF's GPL enforcement, launched its Associate
Member program, and invented the <a
href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.  From
2005-2010, Kuhn worked as the Policy Analyst and Technology Director of the
Software Freedom Law Center.  Kuhn was the primary volunteer for Conservancy
from 2006&ndash;2010, and has been a full-time staffer since early 2011.
Kuhn holds a summa cum laude B.S. in Computer Science from <a
href="http://www.loyola.edu/academic/computerscience">Loyola University in
Maryland</a>, and an M.S. in Computer Science from the <a
href="http://www.cs.uc.edu/">University of Cincinnati</a>.  <a
href="http://www.ebb.org/bkuhn/articles/thesis/">Kuhn's Master's thesis</a>
discussed methods for dynamic interoperability of FLOSS programming
languages.  Kuhn received the <a
href="http://www.oscon.com/oscon2012/public/schedule/detail/25039">O'Reilly
Open Source Award in 2012</a>, in recognition for his lifelong policy work on
copyleft licensing.</p>

<h2>Mike Linksvayer</h2>

<p>Mike Linksvayer serves on the boards of AcaWiki and OpenHatch,
and is chair of the Open Definition Advisory Council. From 2003 to
2012 he served as CTO and VP of Creative Commons, where he is now a
Senior Fellow. In 2000 he co-founded Bitzi, an early open content/open
data mass collaboration platform.</p>

<h2>Martin Michlmayr</h2>

<p>Martin Michlmayr has been involved in various free and open source
software projects for well over 15 years.  He acted as the leader of the
Debian project for two years, served on the board of the Open Source
Initiative (OSI) for six years and currently serves on the board of
Software Freedom Conservancy.  Martin works for Hewlett Packard Enterprise
(HPE) as an Open Source Community Expert.  In this role, he facilitates
open source activities both internally within HPE as well as externally
within the broader open source community.  Martin earned a PhD from the
University of Cambridge and he received an O'Reilly Open Source Award in
2013 for his contributions to the open source community.</p>

{% endblock %}
