{% extends "base_news.html" %}
{% block subtitle %}News - {% endblock %}

{% block outercontent %}
    <div id="container">
         <div id="sidebar" class="{% block submenuselection %}other{% endblock %}">
         <h2>News Index by Year</h2>
         <ul>
         {% for year in date_list reversed %}<li class="{{ year|date:"Y" }}"><a href="{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a></li>{% endfor %}
         </ul>
         </div>
         <div id="mainContent">
         <h1><a href="/feeds/news/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> Conservancy News</h1>


{% ifnotequal news.number 1 %}<p>(Page {{ news.number }} of {{ news.paginator.num_pages }})</p>{% endifnotequal %}

{% for news_item in news %}
    <p class="date">{{ news_item.pub_date|date:"F j, Y" }}</p>
    <h3><a href="{{ news_item.get_absolute_url }}">{{ news_item.headline|safe }}</a></h3>
    {% if news_item.is_recent %}
        {% if news_item.subhead %}<h4>{{ news_item.subhead|safe }}</h4>{% endif %}
        {{ news_item.summary|safe }}
    {% if news_item.body %}<p><span class="continued"><a href="{{ news_item.get_absolute_url }}">Read More...</a></span></p>{% endif %}
    {% endif %}
{% endfor %}

<p>
{% if news.has_next %}<a class="next_page_button" href="?page={{ news.next_page_number }}">Next page (older) &raquo;</a>{% endif %}
{% if news.has_previous %}<a href="?page={{ news.previous_page_number }}">&laquo; Previous page (newer)</a>{% endif %}
</p>
{% if news.paginator.num_pages > 1 %}<p class="pagination_list"> {% for pagenum in news.paginator.page_range %}{% ifequal pagenum news.number %}[{{ pagenum }}]{% else %}<a href="?page={{ pagenum }}">{{ pagenum }}</a>{% endifequal %} {% endfor %}</p>{% endif %}
         </div>
 </div>
<div class="clear"></div>

{% endblock %}
