{% extends "base_conservancy.html" %}
{% block subtitle %}Support Conservancy - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<script type="text/javascript" src="/js/supporter-page.js"></script>
<link href="/css/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="donate-sidebar">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">
<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Support
    Now!</h1></div>

<h3 class="donate-box-highlight">Become a Supporter Now:</h3>

<p>Support us now!</p>

<h4><a href="#annual"><span class="donate-box-highlight">Annual supporter</span> via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#monthly"><span class="donate-box-highlight">Monthly supporter</span> via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#renewal"><span class="donate-box-highlight">Renewing Annual supporter</span> via PayPal, ACH, or credit card.</a></h4>
   
<span class="donate-box-highlight">Other annual supporters methods:</span>
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer" 
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
       Contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Include  currency &amp; country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check" 
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check for $120 to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548 &nbsp; USA<br/>
    Please write <q>SUPPORTER</q>, t-shirt size, if you are renewing, and if
    you want public acknowledgment in memo line. 
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<p><a href="/donate">Even More Ways to Donate</a></p>
<!-- Flattr end -->
</td></tr></table>
</div>
<div class="content-with-donate-sidebar">
  <h1 class="appeal"><img class="appeal-header" alt="Become a Conservancy Supporter!" src="/img/conservancy-supporter-header.png"/></h1>

  
<div class="supporter-type-selector">
  <strong>Become a Supporter Now:</strong>   <a id="annualSelector" href="#annual">Annual</a> | <a id="monthlySelector" href="#monthly">Monthly</a> | <a id="renewalSelector" href="#renewal">Annual Renew</a></div>

{% include "supporter/form_partial.html" with form_id="annual" min_amt=minimum_amount partial_amt=partial_amount article="an" only %}

{% include "supporter/form_partial.html" with form_id="monthly" min_amt=10 only %}

<a name="renew" class="hidden"></a>
{% include "supporter/form_partial.html" with form_id="renewal" min_amt=120 verb="renew" article="an" supptype="annual" only %}

<span id="form-correction-needed" class="form-error">Please ensure all form data above is correct.</span>

<hr style="clear: both;"/>
<h4>Software Freedom needs your help.</h4>

<p><em>Conservancy is continuing its shift towards being a
Supporter-driven organization so we can focus on critical free software 
issues.  Support our great 
member projects, stand up for the GPL, and make your voice heard in support of free software. 
We're counting on you. 
<a href="#donate-box" class="donate-now">Donate today!</a></em></p>

<!--- FIXME scale this properly like on VMware page -->

<a href="/img/member-project-logos.png"><img class="appeal-left" src="/img/member-project-logos.png"/></a>
<p>
Software is critical to all of our infrastructure and as a society, we are deeply reliant on the software we use. Making sure our software is free and open assures that tomorrow we can still use those solutions we invest in today. Software freedom is fundamental &mdash; we need it in order to effectively solve our problems in the long term. While the world today is powered increasingly by free software, many
people don't realize is how much support is needed to keep all of these
projects free and open. The work that we do every day ensures the success and
the continued freedom of the projects.  Our developers dedicate themselves to improving our <a href="/projects/current/">member
projects</a>, and we enable them to do that. This includes projects like Git, Samba,
Wine, BusyBox, QEMU, Inkscape, Selenium, and dozens more.</p>

<p>We are asking for you
  to <a href="#donate-box" class="donate-now">join us as a
  Conservancy Supporter</a>. Last year, over 1,000 of you became annual
  Supporters, allowing us to continue our basic operations.  We still need
  2,500 (total) annual Supporters to continue our full range of operations
  through 2017.  If you don't become a Supporter now, we will be forced to
  reduce our program activities going forward.</p>

<h4 style="clear: left;">2016 successes</h4>

<p>
Software Freedom Conservancy has had a lot of major successes this year:
<ul>

<li>We brought three new projects under the protection of Conservancy: <a href="https://forums.librehealth.io/">LibreHealth</a>, a critical initiative for health in free and open source software, <a href="https://www.spec-ops.io/">Spec-Ops</a>, a project dedicated to creating of open standards in critical areas, including payments and identity
and <a href="http://brew.sh/">Homebrew</a>, a software package manager for Apple's OS X. </li>

<li>We <a href="/news/2015/mar/05/vmware-lawsuit/">supported
the lawsuit</a> Christoph Hellwig brought against VMware in Germany, the
first case on derivative works and the GPL. Christoph's case <a href="/news/2016/aug/09/vmware-appeal/">continues on appeal</a>.</li>

<li>We helped Conservancy projects Bro, Buildbot, and Godot receive Mozilla MOSS grants. Another Conservancy project, phpMyAdmin, successfully completed a thorough security audit as part of Mozilla's Secure Open Source Fund (no serious issues were found!).</li>


<li>We <a href="/news/2016/may/10/yorba-assigns-copyrights/">received an assignment of copyrights from the Yorba Foundation</a>, including Shotwell and Geary, in order to safeguard those copyrights for the future.</li>

<li>We conducted friendly discussions with companies out of compliance with
the GPL, seeking non-litigious resolutions in accordance with our <a href="/copyleft-compliance/principles.html">Principles</a>. We <a href="/news/2016/nov/03/linux-compliance-agreements/">published our template agreements</a> and held two <a href="https://lwn.net/SubscriberLink/706361/a9ca4ee12c04d5d7/">feedback</a> <a href="/blog/2016/oct/27/feedback-gpl/"> sessions</a> to evaluate and improve our compliance efforts. We also worked with other community members to <a href="/blog/2016/jul/19/patrick-mchardy-gpl-enforcement/">bring clarity to international activities around GPL compliance</a> and help make the ecosystem safer for free software adoption. We stayed committed to providing <a href="/blog/2016/feb/25/zfs-and-linux/">straightforward analysis about the GPL</a>.</li>

<li>Our Executive Director, Karen Sandler, <a href="/news/2016/feb/23/FOSSA-testimony/">testified to the New York City Council Committee on Contracts in favor of the Free and Open Source Software Act and the Civic Commons Act</a> which would increase the use of free and open source software by New York City departments and agencies. Karen later in the year also <a href="/news/2016/oct/26/karen-sandler-oscon-eu-2016/">taught kids in London about free software</a>.</li>

<li>We <a href="/contractpatch/">launched a new initiative called ContractPatch</a> to help provide information and understanding about employment agreements.</li>

<li>We <a href="/news/2016/nov/23/compliance-principles-chinese-translation/">published “Principles of Community-Oriented GPL Compliance” in Chinese,</a> thanks to a translation by Kaiyuanshe.</li>

<li>We <a href="/blog/2016/jun/06/openchain-spec/">commented on the OpenChain specification</a> to help make sure that the initiative by companies to collaboratively come up with standards and shared materials around compliance also meets community expectations about how compliance obligations are satisfied.</li>

<li>We supported, helped coordinate, and financially backed volunteers from 
  our member projects to organize seven conferences in three continents, where thousands of
  attendees learned about free and open source software.</li>

<!-- conledger -V -b 2015-01-01 --limit 'tag("Approval") =~ /\/2015/ and tag("TaxImplication") !~ /(Reimbursement|USA-501c3|Corporation|Tax-Payment|LLC|W2|Refund)/' reg '/Assets/'|wc -l -->

<!--<li>We made FIXME contractor payments to developers writing free and open source 
  software, which included various different internships and contract
  software development work.</li> -->

<!--  conledger -V -b 2015-01-01 --limit 'tag("Approval") =~ /\/2015/ and tag("TaxImplication") =~ /Reimbursement/' reg '/Assets/'|egrep '^2015'|wc -l -->

<!-- <li>We processed and paid FIXME reimbursement requests to individuals doing work
  around the globe advocating for their free and open source software
  projects at conferences and other venues.</li> -->

<li>We processed and paid reimbursement requests to individuals doing work
  around the globe advocating for their free and open source software
  projects at conferences and other venues. We also paid contractors to 
improve our projects' software.</li>

<li>We gave keynotes
at <a href="/news/2016/oct/26/karen-sandler-oscon-eu-2016/">OSCON EU</a>, <a href="/news/2016/sep/14/brocon-keynote/">BroCon</a>, <a href="https://nextcloud.com/blog/nextcloud-conference-keynote-speakers-and-launch-event/">the NextCloud conference</>, <a href="/blog/2016/aug/16/guadec-2016/">GUADEC</a>, <a href="/news/2016/aug/08/guadec-opensym/">OpenSym 2016</a>, <a href="https://debconf16.debconf.org/talks/57/">Debconf</a>, <a href"/news/2016/may/31/kuhn-sweden-norway/">OSS 2016</a>, <a href="https://media.libreplanet.org/u/libreplanet/collection/companies-free-software-and-you/">LibrePlanet</a>, <a href="https://www.openwest.org/keynote/">OpenWest</a>
and participated many more conferences all over the world. We also 
shared our expertise in initiatives
like <a href="https://copyleft.org/">copyleft.org</a>. We gave
interviews, published <a href="/blog/">blog posts</a>, and
Bradley and Karen released episodes of <a href="http://faif.us/">Free as in
Freedom</a>, all dedicated to discussing the important issues in software
freedom.</li>
 
</ul>
<p>And we did <strong>all of this</strong> with a tiny staff of only four full time employees.</p>

<p>We are focused on the most important ethical issues in software
freedom. We work tirelessly and don't shy away from difficult issues.</p>

<p>We're a unique organization &mdash; a staunch defender of copyleft (for Linux,
Debian, and many of our member projects), a source of education and champions
of diversity for the community via Outreachy and other programs, and are the
legal home to 40 member projects that are essential to developing free
software.</p>

<p>We undertake these critical programs because they are essential to the
future of technology. We do them because they are right. <strong>But we cannot do
them without you.</strong> Last year you helped us to fundraising goals that didn't merely keep us running, but even funded <a href="/news/2016/aug/22/brett-joins/">hiring of a new employee</a>. Yet even this staffing level isn't enough to handle our existing workload.</p>

<p>Our fiscal sponsorship model is not financially self-sustaining by itself:
we cannot afford even one staff member and basic overhead with the revenue we
take in from our projects.  With over 1,000 Supporters, we can now sustain the basic
work and we will survive.  But to thrive, and handle the really complex tasks like
copyright and licensing advice, and license compliance, we need even more
resources.  That's why our final target remains 2,500 Supporters.  If you use
or care about our <a href="/members/current/">member projects</a>, which
include some of the most widely used free software, you can help them all
by <a href="#donate-box" class="donate-now">signing up as a Supporter
today</a>.</p>

<h4>Fighting for the GPL</h4>

<a href="/img/gpl-heart.png" alt="We ♥ GPL"><img class="appeal-right"  src="/img/gpl-heart.png"/></a>

<p>Many consider our GPL compliance and enforcement controversial.   We don't
think it is:  we stand up for the GPL at the request of our member projects, 
the Debian community, and members of the Linux kernel community. 
Most recently, that has resulted in our funding
of the <a href="/news/2015/mar/05/vmware-lawsuit/">suit
against VMware</a>, which is the first lawsuit on derivative works and the
GPL. (Christoph's case <a href="/news/2016/aug/09/vmware-appeal/">continues on appeal</a>.) While this work is extremely important to the continued long-term
success of software freedom and copyleft (not to mention in the long-term 
interest of the industry as a whole) it makes fundraising from companies
very difficult.  Some companies 
have ceased funding us and some have even successfully pressured 
conferences to cancel or prevent talks on our compliance work. We do
this work because we think that it is good for everyone in the long run,
because we know it is the right thing to do, and because we know that we are
in the best position to do it. But that's not enough &mdash; you have to think it's
right too and <a href="#donate-box" class="donate-now">show us by
becoming a Supporter now</a>.</p>
 
<img alt="Photo of Conservancy t-Shirt that Supporters receive" class="appeal-left" src="/img/conservancy-t-shirt.jpg"/>

<h4>It's up to you</h4>

<p>Conservancy is deeply committed to supporting, promoting, developing, and
defending free and open source software.  We pursue our mission on various
fronts, and we're proud of what we've been able to accomplish in 2016.  To
do even more in 2017 and in the years to come, we need your help.</p>

<p>We believe 2017 will be a critical year for Conservancy, our member
projects, and our work.  We look forward to making huge strides in providing
software tools for public charities as well as services for developer 
communities.  We will continue to champion the rights of the public and the
interests of copyright holders who have licensed their contributions to the 
commons for the public's benefit.  We will continue to host and speak at
conferences, create and maintain educational resources, and raise awareness
about how free and open source software is essential to a free and open
society. </p>

<p>While we appreciate our corporate donors, we simply cannot depend 
solely on grants from companies who may not find our mission to be 
compatible with shifting corporate strategies.  We need you, the public, as
well.  Simply put, we need 2,500 Supporters in order to maintain our staff, 
continue to provide a full range of administrative, bookkeeping, and legal
services to our member projects, educate the public, <strong>and</strong>
undertake compliance efforts.  We hope you will <a href="#donate-box" class="donate-now">sign up as a Supporter</a> to help us achieve this. If we don't reach our goal, we will 
have no choice but to hibernate some of our activities &mdash; likely 
our compliance efforts &mdash; until we have the resources to resume them
properly at some point in the future.</p>

<img class="appeal-footer" alt="Supporters ♥ Conservancy" src="/img/conservancy-supporter-heart.png"/>

<p>If you care about Conservancy's mission, <a href="#donate-box" 
class="donate-now">help us meet our goal</a> so we can stand up for software
freedom together.</p>

<p>Please <a href="#donate-box" class="donate-now">join our Supporter program</a> 
and spread the word!</p>

<div style="clear: left;"></div>
</div>
{% endblock %}
