{% extends "base_conservancy.html" %}
{% block subtitle %}Support Conservancy - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<script type="text/javascript" src="/js/supporter-page.js"></script>
<link href="/css/forms.css" rel="stylesheet" type="text/css"/>
{% include "opengraph_partial.html" with url="/supporter/" title="Support Conservancy!" description="Software freedom is critical to many of today&rsquo;s most pressing social issues, but it&rsquo;s only effective when FOSS is for everyone. Support Conservancy today to help make that happen!" %}
{% include "opengraph_urllist_partial.html" with property='image' urls='' fallback='/img/conservancy-logo.png' %}
{% endblock %}

{% block content %}
<div class="donate-sidebar">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">
<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Support
    Now!</h1></div>

<h3 class="donate-box-highlight">Become a Supporter Now:</h3>

<p>Support us now!</p>

<h4><a href="#annual"><span class="donate-box-highlight">Annual supporter</span> via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#monthly"><span class="donate-box-highlight">Monthly supporter</span> via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#renewal"><span class="donate-box-highlight">Renewing Annual supporter</span> via PayPal, ACH, or credit card.</a></h4>
   
<span class="donate-box-highlight">Other annual supporters methods:</span>
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer" 
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
       Contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Include  currency &amp; country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check" 
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check for $120 to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548 &nbsp; USA<br/>
    Please write <q>SUPPORTER</q>, t-shirt size, if you are renewing, and if
    you want public acknowledgment in memo line. 
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<p><a href="/donate">Even More Ways to Donate</a></p>
<!-- Flattr end -->
</td></tr></table>
</div>
<div class="content-with-donate-sidebar">
  <h1 class="appeal"><img class="appeal-header" alt="Become a Conservancy Supporter!" src="/img/conservancy-supporter-header.png"/></h1>

  
{% if partial_amount > 0 %}
  {% include "supporter/form_partial.html" with form_id="annual" min_amt=minimum_amount partial_amt=partial_amount article="an" only %}
{% else %}
  <div class="supporter-type-selector">
    <strong>Become a Supporter Now:</strong>
    <a id="annualSelector" href="#annual">Annual</a>
    | <a id="monthlySelector" href="#monthly">Monthly</a>
    | <a id="renewalSelector" href="#renewal">Annual Renew</a>
  </div>

  {% include "supporter/form_partial.html" with form_id="annual" min_amt=120 article="an" only %}

  {% include "supporter/form_partial.html" with form_id="monthly" min_amt=10 only %}

  <a name="renew" class="hidden"></a>
  {% include "supporter/form_partial.html" with form_id="renewal" min_amt=120 verb="renew" article="an" supptype="annual" only %}
{% endif %}

<span id="form-correction-needed" class="form-error">Please ensure all form data above is correct.</span>

<hr style="clear: both;"/>

<div class="picture right">
  <img alt="" src="/img/member-project-logos.png">
  <p>Conservancy is currently home to <a href="/projects/current/">forty-six member projects</a>.</p>
  <img alt="Photo of Conservancy executive director Karen Sandler and Homebrew maintainer Mike McQuaid talking with a visitor at the Conservancy booth at FOSDEM" src="/img/2017-02-fosdem-stand-karen-mike.jpg">
  <p>We love when member project participants help out at the Conservancy booth! Here's Homebrew maintainer Mike McQuaid with our executive director Karen Sandler at FOSDEM. Photo by Neil McGovern.</p>
  <img alt="Photo of linux.conf.au attendees coming to the front stage to contribute money towards Outreachy internships" src="/img/2017-01_LCA-Outreachy-donations.png">
  <p>Conservancy helps administer Outreachy internships, and we were there at linux.conf.au when they raised money to sponsor three!</p>
</div>

<p><strong>Software freedom is critical to many of today&rsquo;s most pressing social issues, but it is only effective when FOSS is for everyone</strong>—no matter what their background is, what technology they&rsquo;re using, or whether or not they&rsquo;re working with a company.  Software Freedom Conservancy makes this possible by helping create more free software, promoting diversity, defending copyleft, and advocating for software freedom.  We&rsquo;re a creative, responsive, and resourceful organization. We work with practical and impactful solutions.  We help FOSS projects grow while maintaining independence from a single corporate sponsor.  We introduce people to software freedom through the lens of today&rsquo;s new technology questions, and we raise and address the newest questions facing the FOSS community.</p>
<p>This work is too big for any single project to tackle, and we cannot do it without your help. Sign up as a Supporter today and contribute to these important efforts!</p>
<h3>Helping our member projects grow</h3>
<p>As a fiscal sponsorship organization, some people think all we do is manage a bank account for our member projects.  In fact, the services we provide are much more comprehensive than that, and doing this work for all our member projects means we serve as a force multiplier for everyone.</p>
<p><strong>We help pay people to work on FOSS.</strong>  In 2017, six of our member projects paid 93 different people for FOSS contributions.  Collectively, Bro, Godot, Outreachy, phpMyAdmin, Selenium, and Sugar paid contributors over $640,000 for everything from project organization to software development to translation.  In all these cases, Conservancy handles most of the administration, including contract negotiation, legal compliance, work review, and tax reporting.</p>
<p><strong>We help run FOSS conferences.</strong>  We handled some conference logistics for six of our member projects in 2017: Boost, Bro, Evergreen, North Bay Python, Selenium, and Wine.  Our experience working with vendors on venues, catering, AV, and other necessities helps streamline much of the routine work, and we&rsquo;ve paid vendors more than $360,000 to make each of these conferences a success.  We&rsquo;ve also reimbursed 150 people traveling to these and other events, enabling more valuable face-to-face collaboration.</p>
<p><strong>We arrange technical infrastructure for our projects.</strong>  We work with a variety of providers to help run domains and servers for many of our projects.  We take care of all the back-end administration, including handling billing and renewals.  We even help some of our projects plan out new infrastructure, like Outreachy&rsquo;s new web site and mailing lists.</p>
<p>Many organizations do work like this occasionally, or for a few specific projects.  For us, it&rsquo;s the core of what we do.  That experience helps us do it more efficiently, and do it better for everyone.  Lessons we learn working on one project benefit all of our members.</p>
<h3>Supporting new projects</h3>
<p>We constantly hear from projects that would like to join Conservancy, and 2017 has been a flagship year for new members.  Some of the projects that have joined us recently are established software projects you might already use: Clojars, coreboot, Etherpad.  Others are newer projects doing cutting-edge work: Harvey OS, Linux XIA, North Bay Python, Teaching Open Source.  We&rsquo;re happy to support them all and help them grow to next level that&rsquo;s right for each.</p>
<p>Bringing on new member projects and helping them with all of the services we offer is the most efficient way for us to advance FOSS.  The first thing that stops us from taking on more is making sure we have staff time available to fulfill our promises to all of them.  Conservancy Supporters help make that possible, giving us the confidence to welcome more projects.</p>
<h3>Advocacy for today&rsquo;s issues</h3>
<p>If you attended a FOSS conference in 2017, odds are you saw Conservancy there.  Over the year we&rsquo;ve spoken or presented at almost twenty conferences on five different continents.  We talk about a range of important issues, including copyleft compliance, outreach to underrepresented people, FOSS in regulated devices like medical devices and automobiles, and the risks of too much corporate control over our projects and communities.</p>
<p>We&rsquo;re not just giving feel-good thinkpiece talks, either.  Our conference travel is often a two-way conversation, building awareness and spurring action on issues that might be little-known but are critically important to our communities.  We have booths at many of these conferences to give us valuable face time with current member projects and help recruit new ones.  We host discussions like our <a href="/blog/2017/jan/13/compliance-feedback-sessions-2017/">compliance feedback sessions</a> to hear how the community feels about our work and what we can improve in our tactics.  Our talks lead to results you can see like <a href="/news/2017/oct/16/linux-kernel-enforcement-statement/">our license enforcement principles affirmed by Linux developers</a> and <a href="/news/2017/oct/30/dmca-exemptions-renewed/">renewed DMCA exemptions for medical devices</a>.</p>
<p>Supporting Conservancy is an investment in the future of FOSS.  It enables us to bring on more member projects; to provide newly needed services to all of them; and to keep pushing forward on the issues that affect us all.  Join as a Supporter today to help us bring that work to even more people!</p>

{% endblock %}
