{% extends "base_conservancy.html" %}
{% load humanize %}

{% block subtitle %}NPOAcct - {% endblock %}
{% block category %}npoacct{% endblock %}

{% block content %}

<div class="donate-sidebar">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">
<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Support
    Now!</h1></div>

<h3>Support NPOAcct Now!</h3>

<p>
  To support our non-profit accounting work,
  please&hellip; </p>

<p><span class="donate-box-highlight">Donate now via PayPal:</span>
</p>
<!-- PayPal start -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3VRTJALJ5PQRW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="border:0" name="submit" alt="Donate Now!">
<img alt="" style="border:0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!-- PayPal end -->

<p>Or, <a href="/supporter/#annual"><span class="donate-box-highlight">become a Conservancy
      Supporter</span></a> (&mdash; a better option if you're donating more
      than $120, since you'll get a t-shirt!).</p>
</td></tr></table>
</div>
<div class="content-with-donate-sidebar">

<h2>Non-Profit Accounting Software</h2>

<img src="/img/conservancy-accounting-campaign-logo.png" alt="Conservancy accounting campaign logo" style="float:left;" />

<p>Conservancy has a plan to help all non-profit organizations (NPOs) by
creating an Open Source and Free Software accounting system usable by
non-technical bookkeepers, accountants, and non-profit managers.  You can
help us do it by donating now.
</p>

<h3>News</h3>

<p><b>31 August 2016</b>: We're beginning work on a system for Payment and Reimbursement Requests.  This is a smaller piece of the larger NPO Accounting project.  Because it doesn't require much integration with larger accounting systems, we can help address this specific bookkeeping problem for NPOs sooner, and start building interest in the larger NPO Accounting project.</p>

<p>We haven't started writing code yet, so now's a great time to get in on the ground floor!  Check the <a href="http://npoacct.sfconservancy.org/Reimbursements/Requirements/">Requirements document</a> we're putting together on the wiki.  <a href="http://lists.sfconservancy.org/mailman/listinfo/npo-accounting">Join us on the mailing list</a> to let us know what's missing, and hear first other ways you can contribute as we start building the system.</p>

<h3>What is the Non-Profit Accounting Software Project?</h3>

<p>To keep their books and produce annual government filings, most NPOs rely
on proprietary software, paying exorbitant licensing fees.  This is
fundamentally at cross purposes with their underlying missions of charity,
equality, democracy, and sharing.</p>

<p>This project has the potential to save the non-profit sector
millions in licensing fees every year.  Even non-profits that continue to use proprietary accounting
software will benefit, since the existence of quality Open Source and Free
  Software for a particular task curtails predatory behavior by proprietary
  software companies, and creates a new standard of comparison.</p>

<p>But, more powerfully, this project's realization
will increase the agility and collaborative potential
for the non-profit sector &mdash; a boon to funders, boards, and employees &mdash;  bringing the Free Software and general NPO communities
into closer collaboration and understanding.</p>

<p><a href="#endorsements">Endorsers of this effort</a> include April, Fractured Atlas, The Free Software
Foundation, Mozilla Foundation, GNOME Foundation, OpenHatch, Open
Source Initiative, QuestionCopyright.org, and Software in the Public
Interest; all encourage you to <a href="#donate-box" class="donate-now">donate and support it</a>.</p>


<h3>Background</h3>

<p>Like many non-profit organizations (NPOs) in the USA, Conservancy's
  financial accounts are audited annually by an independent accounting firm;
  we recently completed our fiscal year 2011 audit.  As usual, our auditors
  asked plenty of questions about our accounting software.  Conservancy uses
  only Free Software, of course, centered around a set of straightforward reporting
  scripts that we created to run on top
  of <a href="http://www.ledger-cli.org/">Ledger CLI</a>. (Conservancy's
  current configuration using Ledger CLI
  is <a href="https://gitorious.org/ledger/npo-ledger-cli">publicly
  documented and explained</a>.)</p>

<p>Our auditors were only familiar with proprietary accounting software, and
  so our system seemed foreign to them, as it relies on Ledger CLI's text files, Emacs and
  version control.  During their questions
  about our setup, we asked them to hypothetically prescribe a specific
  proprietary software setup as a model for  managing Conservancy's
  accounts.  Our chief auditor started by mentioning a few well-known
  proprietary solutions.   But then he paused and continued:  <q>Given
  that Conservancy's a fiscal sponsor with so many temporarily restricted
  accounts, existing systems really wouldn't do that good of a job for
  you</q>.</p>

<p>Indeed, Conservancy reached out into the broader fiscal sponsorship
  community beyond the <abbr title="Free, Libre and Open Source Software">FLOSS</abbr>
  <abbr title="Non-profit Organization">NPO</abbr> community and discovered that many larger fiscal sponsors &mdash; even
  those willing to use proprietary components &mdash; have cobbled together
  their own unique systems, idiosyncratically tailored to their specific
  environments.  Thus, good, well-designed, and reusable accounting software
  for non-profit fiscal sponsorship is not just missing in the software
  freedom community; it's missing altogether.</p>


<p>The project that Conservancy proposes will take a modest step
  forward in creating a better solution for everyone. 
  <a href="#quotes">Many NPO leaders and academics agree</a> with Conservancy about the
  immediate need for work to begin on this
  effort.  <a id="endorsements"
  style="text-decoration:none"></a><a href="http://april.org">April</a>, <a href="https://www.fracturedatlas.org">Fractured Atlas</a>, The <a href="http://fsf.org">Free Software
  Foundation</a>, The <a href="https://www.mozilla.org/foundation/">Mozilla
Foundation</a>, The <a href="http://www.gnome.org/foundation/">GNOME Foundation</a>,  <a
        href="https://openhatch.org/">OpenHatch</a>, <a href="http://opensource.org/node/658">Open Source Initiative</a>,
  <a href="http://QuestionCopyright.org">QuestionCopyright.org</a>, and <a href="http://www.spi-inc.org/">Software in the Public Interest</a> have
  all endorsed Conservancy's plan, and they encourage you to <a href="#donate-box" class="donate-now">donate and
  support it</a>.</p>

<p>Conservancy is uniquely qualified to undertake this task.  Using only Free
  Software, Conservancy already meets the complex accounting challenges of
  earmarked, directed donations for over thirty different projects.  We've
  learned much about this work in our first seven years of
  operation, and we're prepared to apply what we've learned to solve
  this problem not just for ourselves, but for anyone who seeks a
  solution that both respects software freedom and handles non-profit
  accounting for all sorts of NPOs, including fiscal sponsors.  General NPO
  accounting is just a &ldquo;base case&rdquo; of fiscal sponsorship (i.e.,
  an NPO is just a fiscal sponsor for one and only one specific project),
  and Conservancy therefore believes a solution that handles fiscal sponsors
  will also handle the simpler case as well.</p>

<h3>Why Conservancy Must Fund This Work</h3>

<p>As it stands, nearly all Open Source and Free Software NPOs either use
  proprietary software, or fully outsource their bookkeeping and accounting
  to third-parties.  Those that don't do so (such as Conservancy and the Free
  Software Foundation) have long complained that existing Free Software in
  this area is inadequate, and have been forced to develop customized,
  one-off solutions in-house to make the systems work.</p>

<p>It's highly unlikely that the for-profit sector will adapt existing Free
  Software accounting systems to meet the differing needs of NPOs (let alone
  the more complex needs of fiscal sponsors; based on
  advice from our auditors and other fiscal sponsors, Conservancy understands that <em>no existing
  solution &mdash; proprietary or Free &mdash; meets the requirements of fiscal sponsorship accounting</em>).  Fiscal sponsors like
  Conservancy must track a separate set of books for every project, keeping
  in mind that a project may leave at any time for another NPO and need to take
  their books with them.  Yet, the books of the entire organization are the
  aggregate of the books of all these projects, and internally, they need to
  be presented as a single set of books for those purposes.</p>

<p>Meanwhile, even if an organization is not a fiscal sponsor, non-profit
  accounting is <em>just different</em> than for-profit accounting, particularly in
  the USA.  For example, for-profit-oriented systems often make problematic
  assumptions about the workflow of accounting tasks (often because NPOs
  rely primarily on donations, rather than fee-for-service or widget-selling
  income).  Also, non-profit income is categorized differently than
  for-profit income, and the reporting requirements vary wildly from their
  for-profit equivalents.</p>

<p>Conservancy's existing system is working adequately, but requires daily
  the relatively more expensive time of a highly technical person to do the
  job of bookkeeping.  Also, the system cannot easily be adapted in its
  current form for another NPO, unless they also have a
  skilled technical employee to act as bookkeeper.  This project aims to build
  on what Conservancy has learned and produce a non-profit accounting system
  that corrects these flaws.</p>

<p>Finally, Conservancy's mission (as stated
on <a href="http://sfconservancy.org/docs/conservancy_Form-1023.pdf">our Form
1023 with the USA IRS</a>) includes producing Open Source and Free Software.
Thus, this project is a great way to pursue Conservancy's mission and address a
specific need that so many NPOs (including us) have.  If no one steps up to create Free Software to replace the widely used
proprietary software, NPOs in aggregate will pay <em>much more</em> money for
proprietary licensing than Conservancy will ever spend in developing a
replacement. Please <a href="#donate-box" class="donate-now">donate
generously</a> to help us do it!</p>

<a id="quotes"></a>
<h3>Statements of Support For This Project from Others</h3>

<p><q>As a national fiscal sponsor with over 3,000 arts and cultural projects
under our umbrella, Fractured Atlas is ecstatic about this effort's
potential. After 15 years wrestling with Quickbooks and other inadequate
options, the idea of an open source tool designed specifically for this niche
of the field is beyond welcome. We wholeheartedly support the Conservancy's
work on this front and look forward to seeing where it leads.</q> &mdash;
<a href="https://www.fracturedatlas.org/site/bios/staff/1/Adam%20Forest_Huttler">Adam
  Huttler</a>, Executive Director, <a href="https://www.fracturedatlas.org">Fractured Atlas</a></p>

<p><q><a href="http://QuestionCopyright.org">QuestionCopyright.org</a> is
just one of many organizations that would benefit from a Free Software
accounting system that is usable by non-technical people.  We
enthusiastically support the Conservancy's campaign to create one, and look
forward to using the result.</q>
&mdash; <a href="http://questioncopyright.org/speakers/karl_fogel">Karl
Fogel</a>, Executive Director,
  <a href="http://QuestionCopyright.org">QuestionCopyright.org</a></p>

<p><q>As a fiscal sponsor organization with over 30 currently-associated Free
Software projects, Software in the Public Interest shares the Conservancy's
needs and interests in this area, and welcome the opportunity to collaborate
on the development of a Free Software solution to our accounting needs.</q>
&mdash; Bdale Garbee, President,  <a href="http://www.spi-inc.org/">Software
    in the Public Interest</a></p>

<p><q>Open Source accounting software specifically tailored for non-profits
    will fill a pretty large need.</q>
    &mdash; <a href="http://wagner.nyu.edu/calabrese">Thad Calabrese</a>,
    Assistant Professor of Public and Nonprofit Financial Management
    at <a href="http://wagner.nyu.edu/">NYU Wagner</a>, and co-author
    of <cite>Financial Management for Public, Health, and Not-for-Profit
    Organizations, 4th Edition</cite>.</p>

<p><q>Creating free software specifically designed to address the needs of
nonprofits is a laudable goal and one that Conservancy is extremely well
positioned to achieve.</q>  &mdash; <a href="http://gnomg.org">Karen
Sandler</a>, Executive
Director, The <a href="http://www.gnome.org/foundation/">GNOME Foundation</a></p>

<p><q>The Open Source Initiative has shared the experiences of Software
     Freedom Conservancy in navigating the financial management needs of
     non-profit organisations and shares their concern. We have many NPOs as
     members and we welcome this useful initiative by Conservancy.</q>
     &mdash; Simon Phipps, President, <a href="http://opensource.org/node/658">Open Source
     Initiative</a></p>

<p><q>The <a href="https://fsf.org/">Free Software Foundation</a> is committed to doing all of its work,
both public-facing and internal, using only free software. We are thankful to
the developers of SQL Ledger for providing the accounting software that has
served us well for many years. As we have grown, so have the complexities of
our finances.  Because of our own needs and our mission to help other
organizations &mdash; both inside and outside of the technology sphere
&mdash; run their operations on exclusively free software, we wholeheartedly
support this Conservancy initiative.</q> &mdash; <a href="http://www.fsf.org/about/staff-and-board#johns">John Sullivan</a>, Executive
Director, <a href="https://fsf.org">Free Software Foundation</a></p>

<p><q>Open source is a great way to solve new problems and make software that
is more flexible and responsive to the needs of the people who use it. That's
as true for the finance industry as it is on the web.</q>
&mdash; <a href="http://blog.mozilla.org/press/bios/mark-surman/">Mark
Surman</a>, Executive
Director, <a href="https://www.mozilla.org/foundation/">Mozilla
Foundation</a></p>

<p><q>As a young free software non-profit, OpenHatch is thrilled to see this
effort; it would let us spend more of our time on programs and less on
paperwork.  I have already personally <a href="#donate-box" class="donate-now">donated</a>.</q> &mdash; Asheesh Laroia,
Executive Director, <a href="https://openhatch.org/">OpenHatch</a></p>

<!-- closes div.content-with-donate-sidebar -->
</div>

{% endblock %}
