{% extends "base_projects.html" %}
{% block subtitle %}Member Project Policies - {% endblock %}
{% block submenuselection %}Policies{% endblock %}
{% block content %}

<h1>Member Project Policies</h1>

<p>These are the policies that member projects follow in working with Conservancy.  These pages are provided as a reference to all projects participants.</p>

<ul>
  <li><a href="conservancy-travel-policy.html">Travel and reimburseable expense policy</a></li>
</ul>

<p>For more background about the policies, including licensing and change requests, please refer to <a href="https://k.sfconservancy.org/policies">their source code in Git</a>.</p>

{% endblock %}
