{% extends "base_about.html" %}
{% block subtitle %}Officers - {% endblock %}
{% block submenuselection %}Officers{% endblock %}
{% block content %}

<h1>Officers</h1>

<p>The <a href="/about/team/board/">Board of Directors</a> of the Conservancy
elects its officers.  The current officers are:</p>

<h2>Bradley M. Kuhn - President and Board Chairperson</h2>

<p>Bradley M. Kuhn began his work in the Free Software Movement as a
volunteer when, in 1992, he became an early adopter of the popular
GNU/Linux operating system, and began contributing to various Free
Software projects.  He worked during the 1990s as a system administrator
and software development consultant for Westinghouse, Lucent Technologies,
and numerous small companies.  He also spent one year teaching Advanced
Placement Computer Science (using GNU/Linux and GCC) at Walnut Hills High
School in Cincinnati.  In January 2000, he was hired by the Free Software
Foundation (FSF), and he served as its Executive Director from March 2001
until March 2005, when he left FSF to join the founding team of SFLC.
Kuhn holds a summa cum laude B.S. in Computer Science from Loyola College
in Maryland, and an M.S. in Computer Science from the University of
Cincinnati.  His Master's thesis discussed methods for dynamic
interoperability of Free Software languages.  He is also currently the
FOSS Community Liaison and Technology Director for the
  <a href="http://www.softwarefreedom.org/">SFLC</a>.</p>

<h2>Mark Galassi - Vice-President</h2>

<p>Mark Galassi has been involved in the GNU project since 1984. He currently works as a researcher in the International, Space, and Response division at Los Alamos National Laboratory, where he has worked on the HETE-2 satellite, ISIS/Genie, the Raptor telescope, the Swift satellite, and the muon tomography project. In 1997 Mark took a couple of years off from Los Alamos (where he was previously in the  ISR division and the Theoretical Astrophysics group) to work for Cygnus (now a part of Red Hat) writing software and books for eCos,although he continued working on the HETE-2 satellite (an astrophysical Gamma Ray Burst mission) part time. Mark earned his BA in Physics at Reed College and a PhD from the Institute for Theoretical Physics at Stony Brook. </p>

<h2>Karen Sandler - Secretary</h2>

<p>Karen M. Sandler joined the SFLC in 2005 after working as an associate in
the corporate departments of Gibson, Dunn &amp; Crutcher LLP in New York
and Clifford Chance in New York and London. Sandler received her law
degree from Columbia Law School in 2000, where she was a James Kent
Scholar and co-founder of the Columbia Science and Technology Law
Review. Sandler received her bachelor's degree in engineering
from The Cooper Union.</p>

{% endblock %}
