{% extends "base_about.html" %}
{% block subtitle %}Officers - {% endblock %}
{% block submenuselection %}Officers{% endblock %}
{% block content %}

<h1>Officers</h1>

<p>The <a href="/about/board/">Board of Directors</a> of the Conservancy
elects its officers.  The current officers are:</p>

<h2>Bradley M. Kuhn - President</h2>

<p><a href="http://ebb.org/bkuhn/">Bradley M. Kuhn</a> is the President and
Distinguished Technologist at <a href="http://sfconservancy.org/">Software
Freedom Conservancy</a> and on the Board of Directors of the <a
href="http://fsf.org/">Free Software Foundation (FSF)</a>. Kuhn began his
work in the software freedom movement as a volunteer in 1992, when he became
an early adopter of the GNU/Linux operating system, and began contributing to
various FLOSS projects.  He worked during the 1990s as a system administrator
and software developer for various companies, and taught AP Computer Science
at Walnut Hills High School in Cincinnati.  Kuhn's non-profit career began in
2000, when he was hired by the FSF.  As FSF's Executive Director from
2001&ndash;2005, Kuhn led FSF's GPL enforcement, launched its Associate
Member program, and invented the <a
href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.  From
2005-2010, Kuhn worked as the Policy Analyst and Technology Director of the
Software Freedom Law Center.  Kuhn was the primary volunteer for Conservancy
from 2006&ndash;2010, and has been a full-time staffer since early 2011.
Kuhn holds a summa cum laude B.S. in Computer Science from <a
href="http://www.loyola.edu/academic/computerscience">Loyola University in
Maryland</a>, and an M.S. in Computer Science from the <a
href="http://www.cs.uc.edu/">University of Cincinnati</a>.  <a
href="http://www.ebb.org/bkuhn/articles/thesis/">Kuhn's Master's thesis</a>
discussed methods for dynamic interoperability of FLOSS programming
languages.  Kuhn received the <a
href="http://www.oscon.com/oscon2012/public/schedule/detail/25039">O'Reilly
Open Source Award in 2012</a>, in recognition for his lifelong policy work on
copyleft licensing.</p>

<h2>Mark Galassi - Vice-President and Board Chairperson</h2>

<p>Mark Galassi has been involved in the GNU project since 1984.  He
currently works as a researcher in the International, Space, and Response
division at Los Alamos National Laboratory, where he has worked on the
HETE-2 satellite, ISIS/Genie, the Raptor telescope, the Swift satellite,
and the muon tomography project.  In 1997, Mark took a couple of years off
from Los Alamos (where he was previously in the ISR division and the
Theoretical Astrophysics group) to work for Cygnus (now a part of Red Hat)
writing software and books for eCos, although he continued working on the
HETE-2 satellite (an astrophysical Gamma Ray Burst mission) part
time. Mark earned his BA in Physics at Reed College and a PhD from the
Institute for Theoretical Physics at Stony Brook. </p>

<h2>Peter Brown - Treasurer</h2>

<p>Peter Brown has worked in non-profit management and finance for more
   than twenty years. He served as the Executive Director of the Free
   Software Foundation from 2005 until 2011, and previously as its
   Financial Controller and GPL Compliance Lab Manager. Peter has also
   been a Director of New Internationalist Publications Cooperative, and
   worked in London for BBC Network Radio.</p>

<h2>Martin Michlmayr - Assistant Treasurer</h2>

<p>Martin Michlmayr has been involved in various free and open source
software projects for well over 15 years.  He acted as the leader of the
Debian project for two years, served on the board of the Open Source
Initiative (OSI) for six years and currently serves on the board of
Software Freedom Conservancy.  Martin works for HP as an Open Source
Community Expert.  In this role, he facilitates open source activities both
internally within HP as well as externally within the broader open source
community.  Martin earned a PhD from the University of Cambridge and he
received an O'Reilly Open Source Award in 2013 for his contributions to the
open source community.</p>

<h2>Karen Sandler - Secretary</h2>
<a id="karen"></a>

<p>Karen M. Sandler is Executive Director of Conservancy.  She was previously
  the Executive Director of the GNOME Foundation.  In partnership with the
  GNOME Foundation, Karen co-organizes the award winning Outreach Program for
  Women.  Prior to taking up this position, Karen was General Counsel of the
  Software Freedom Law Center (SFLC).  She continues to do pro bono legal work
  with SFLC, the GNOME Foundation and QuestionCopyright.Org.  Before joining
  SFLC, Karen worked as an associate in the corporate departments of Gibson,
  Dunn &amp; Crutcher LLP in New York and Clifford Chance in New York and
  London. Karen received her law degree from Columbia Law School in 2000,
  where she was a James Kent Scholar and co-founder of the Columbia Science
  and Technology Law Review.  Karen received her bachelor’s degree in
  engineering from The Cooper Union.  She is a recipient of an O'Reilly Open
  Source Award and also co-host of the <a href="http://faif.us">&ldquo;Free
  as in Freedom&rdquo; podcast</a>.</p>

{% endblock %}
