{% extends "base_members.html" %}
{% block subtitle %}Project Membership in {% endblock %}
{% block content %}

<h1>Conservancy Project Membership</h1>

<p>A major component of Conservancy's work to advance software freedom is
  through its work to provide
  non-profit <a href="/members/services/">infrastructure and services</a>
  to
  <a href="/members/current/">its member projects</a>.  Conservancy's goal
  is to handle all the parts of advocacy, leadership, organization and
  coordination other than actual development of the software and
  documentation.  By handling all these details, Conservancy allows its
  member project developers to focus on what they do best: writing,
  improving and documenting FLOSS.</p>

<p>Project leaders who believe that their project might benefit from
  Conservancy's <a href="/members/services/">member project services</a>
  are encouraged to <a href="/members/apply/">apply for
  membership</a>.</p>
{% endblock %}
