{% extends "base_projects.html" %}
{% block subtitle %}Current Projects - {% endblock %}
{% block submenuselection %}Current{% endblock %}
{% block head %}
<style type="text/css">
#mainContent .project-logo { float: right; height: 5em; margin: .5em 0 1.5em 1.5em; }
</style>
{% endblock %}
{% block content %}

<h1>Current Projects</h1>

<p>Conservancy is currently home to forty-six member projects.</p>

<h2><a href="http://argouml.tigris.org/">ArgoUML</a></h2>

<img class="project-logo" src="../../img/projects/argouml.jpg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="T5E9U8MNJMN6A">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to ArgoUML via PayPal">
</form>

<p>ArgoUML is the leading open source UML modeling tool and includes
support for all standard UML 1.4 diagrams. It runs on any Java platform
and is available in ten languages. See the feature list for more details.</p>

<h2><a href="http://bongo-project.org/">Bongo</a></h2>

<img class="project-logo" src="../../img/projects/bongo.png" alt="" />

<p>The Bongo Project is creating fun and simple mail, calendaring and
contacts software: on top of a standards-based server stack; we're
innovating fresh and interesting web user interfaces for managing
personal communications. Bongo is providing an entirely free software
solution which is less concerned with the corporate mail scenario and
much more focused on how people want to organize their lives.</p>

<h2><a href="http://www.boost.org/">Boost</a></h2>

<img class="project-logo" src="../../img/projects/boost.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AD5NQR44365FQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Boost via PayPal">
</form>

<p>Boost provides free peer-reviewed portable C++ source libraries.</p>

<p>Boost emphasizes libraries that work well with the C++ Standard
  Library.  Boost libraries are intended to be widely useful, and usable
  across a broad spectrum of applications.  The Boost license encourages
  both commercial and non-commercial use.</p>

<p>Boost aims to establish &ldquo;existing practice&rdquo; and provide
reference implementations so that Boost libraries are suitable for
eventual standardization. Ten Boost libraries are already included in the
C++ Standards Committee's Library Technical Report (TR1) as a step toward
becoming part of a future C++ Standard. More Boost libraries are proposed
for the upcoming TR2.</p>

<h2><a href="https://www.bro.org/">Bro Network Security Monitor</a></h2>

<img class="project-logo" src="../../img/projects/bro.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="U2R4QDRE5VJ4L">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Bro via PayPal">
</form>

<p>Bro provides a comprehensive platform for network traffic analysis, with a
particular focus on semantic security monitoring at scale. While often
compared to classic intrusion detection/prevention systems, Bro takes a quite
different approach by providing users with a flexible framework that
facilitates customized, in-depth monitoring far beyond the capabilities of
traditional systems. With initial versions in operational deployment during
the mid '90s already, Bro finds itself grounded in more than 20 years of
research.</p>

<h2><a href="http://buildbot.net/">Buildbot</a></h2>

<img class="project-logo" src="../../img/projects/buildbot.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2977NBBAEC29L">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Buildbot via PayPal">
</form>

<p>
Buildbot is a freely-licensed framework which enables software
developers to automate software build, test, and release processes for their
software projects.  First released in 2003, Buildbot is used by leading
software projects around the world to automate all aspects of their
software development cycle. </p>

<h2 id="busybox"><a href="https://busybox.net/">BusyBox</a></h2>

<img class="project-logo" src="../../img/projects/busybox.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="79R6DXDHK7Q84">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to BusyBox via PayPal">
</form>

<p>BusyBox combines tiny versions of many common UNIX utilities into a
single small executable. It provides replacements for most of the
utilities you usually find in GNU fileutils, shellutils, etc. The
utilities in BusyBox generally have fewer options than their
full-featured GNU cousins; however, the options that are included
provide the expected functionality and behave very much like their GNU
counterparts. BusyBox provides a fairly complete environment for any
small or embedded system.</p>

<p>BusyBox has been written with size-optimization and limited
resources in mind. It is also extremely modular so you can easily
include or exclude commands (or features) at compile time. This makes
it easy to customize your embedded systems. To create a working
system, just add some device nodes in /dev, a few configuration files
in /etc, and a Linux kernel.</p>

<h2><a href="https://clojars.org/">Clojars</a></h2>

<img class="project-logo" src="../../img/projects/clojars.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CXEQ6V4DH9NNW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Clojars via PayPal">
</form>

<p>Clojars is a community-maintained repository for free and open source
libraries written in the Clojure programming language. Clojars emphasizes
ease of use, publishing library packages that are simple to use with build
automation tools.</p>

<h2><a href="https://www.coreboot.org/">coreboot</a></h2>

<img class="project-logo" src="../../img/projects/coreboot.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9KEVMQR6VC5MG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to coreboot via PayPal">
</form>

<p>coreboot is an extended firmware platform that delivers lightning fast
secure boot on modern computers and embedded systems. As an open source
project it provides auditability and maximum control over the computers that
run it.  It is industrial-strength firmware that secures more 30 million
shipped devices, including personal computers, headless servers, tablets,
and Internet of Things devices.</p>

<h2><a href="http://darcs.net/">Darcs</a></h2>

<img class="project-logo" src="../../img/projects/darcs.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MTH4A88BJQQBN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Darcs via PayPal">
</form>

<p>Darcs is a distributed revision control system written in Haskell. In
Darcs, every copy of your source code is a full repository, which allows for
full operation in a disconnected environment, and also allows anyone with
read access to a Darcs repository to easily create their own branch and
modify it with the full power of Darcs' revision control. Darcs is based on
an underlying theory of patches, which allows for safe reordering and
merging of patches even in complex scenarios. For all its power, Darcs
remains a very easy to use tool for every day use because it follows the
principle of keeping simple things simple.  Darcs is free software
licensed under the GNU GPL.</p>

<h2><a href="/news/2015/aug/17/debian/">Debian Copyright Aggregation Project</a></h2>

<p>The Debian Copyright Aggregation Project offers contributors to
  the <a href="https://www.debian.org">Debian project</a> the optional
  opportunity, regarding their works contributed to Debian, to assign
  copyrights or sign a license enforcement agreement (which delegates to
  Conservancy the authority of license enforcement).  The Project also
  creates an ongoing relationship between Conservancy and Debian, wherein
  Conservancy offers Debian its expertise and advice on software licensing,
  enforcement, and related issues.</p>

<h2><a href="http://etherpad.org/">Etherpad</a></h2>

<img class="project-logo" src="../../img/projects/etherpad.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6493L8KNR2RC6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Etherpad via PayPal">
</form>

<p>Etherpad is is a highly customizable web-based editor providing
collaborative real-time editing.</p>

<h2><a href="https://evergreen-ils.org/">Evergreen</a></h2>

<img class="project-logo" src="../../img/projects/evergreen.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ADDEVUYBWUK4C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Evergreen via PayPal">
</form>

<p>The Evergreen Project develops an open source ILS (integrated library
system) used by hundreds of libraries across the world. The software, also
called Evergreen, is used by libraries to provide their public catalog
interface as well as to manage back-of-house operations such as
circulation (checkouts and checkins), acquisition and cataloging of
library materials, and sharing resources among groups of libraries and
consortia on the same Evergreen system.  Evergreen is designed to be
scalable and supports library operations ranging from a small high school
to large state-wide consortia.  Evergreen is released under
the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a>-or-later.</p>

<h2><a href="http://www.gevent.org/">Gevent</a></h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WWTKXX5YS5GSU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Gevent via PayPal">
</form>

<p>Gevent is a fast, coroutine-based networking library for Python.
Gevent is used in network applications, including servers that scale
up to tens thousands of connections but without the complexity usually
associated with event-driven architecture.</p>

<p>Gevent provides light-weight &ldquo;green&rdquo; threads with a similar
interface as the standard &ldquo;threading&rdquo; and
&ldquo;multiprocessing&rdquo; packages.  The library includes a DNS
resolver, a WSGI server, a monkey patching utility to make 3rd party
protocol implementations cooperative and support for SSL sockets.</p>

<h2><a href="https://git-scm.com/">Git</a></h2>

<img class="project-logo" src="../../img/projects/git.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GXTE9AECX4LAL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Git via PayPal">
</form>

<p>Git is a free and open source distributed version control system
  designed to handle everything from small to very large projects with
  speed and efficiency.</p>

<p>Every Git clone is a full-fledged repository with complete history and
  full revision tracking capabilities, not dependent on network access
  or a central server. Branching and merging are fast and easy to do.</p>

<p>Git is used for version control of files, much like tools such as
  Mercurial, Bazaar, Subversion, CVS, Perforce, and Visual SourceSafe.</p>

<h2><a href="https://www.godotengine.org/">Godot Engine</a></h2>

<img class="project-logo" src="../../img/projects/godot/godot-logo.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XS2JCYXMHV9KJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Godot via PayPal">
</form>

<p>Godot is an advanced, feature packed, multi-platform 2D and 3D game
engine. It provides a huge set of common tools, so you can just focus on
making your game without reinventing the wheel. Godot is is completely Free
and Open Source under the MIT License.</p>

<h2><a href="/copyleft-compliance/">GPL Compliance Project for Linux Developers</a></h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4ZKJN4F9BMFAS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to GPL Compliance Project for Linux Developers via PayPal">
</form>

<p>The GPL Compliance Project for Linux Developers is comprised of
copyright holders in the kernel, Linux, who have contributed to Linux
under its license, the GPLv2. These copyright holders have formally asked
Conservancy to engage in compliance efforts for their copyrights in the
Linux kernel.</p>

<h2><a href="http://harvey-os.org/">Harvey OS</a></h2>

<img class="project-logo" src="../../img/projects/harvey.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7Q45ZGJBQZZVN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Harvey OS via PayPal">
</form>

<p>Harvey is a new operating system. It’s most directly descended from Plan 9, the research operating system developed at Bell Labs as a successor to Unix. This influence spans from its distributed application architecture all the way down to much of its code. However, Harvey aims to be a more practical, general-purpose operating system, so it also uses ideas and code from other systems.</p>

<p>Harvey strives to provide an accessible development environment. The kernel is compact—less than 100,000 lines of code. You can build it with either GCC or LLVM, and run it under QEMU or real hardware. This makes it especially suitable for education and experimentation. It is a work in progress and the development team welcomes new contributors and ideas.</p>

<h2><a href="http://brew.sh/">Homebrew</a></h2>

<img class="project-logo" src="../../img/projects/homebrew.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="V6ZE57MJRYC8L">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Homebrew via PayPal">
</form>

<p>Homebrew is a software package manager for Apple's OS X operating
system. Homebrew installs the free and open source software that OS X
users need that Apple didn't install by default.</p>

<h2><a href="https://inkscape.org/">Inkscape</a></h2>

<img class="project-logo" src="../../img/projects/inkscape.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="VRQMKRX9TCDSW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Inkscape via PayPal">
</form>

<p>Inkscape is an Open Source vector graphics editor, with capabilities
similar to Illustrator, Freehand, CorelDraw, or Xara X using the
open-standard Scalable Vector Graphics (SVG) file format. Inkscape's
main goal is to create a powerful and convenient drawing tool fully
compliant with XML, SVG, and CSS standards.</p>

<p>In contrast to raster (bitmap) graphics editors such as Photoshop or
Gimp, Inkscape stores its graphics in a vector format. Vector graphics
is a resolution-independent description of the actual shapes and
objects that you see in the image. This description is then used to
determine how to plot each line and curve at any resolution or zoom
level.</p>

<h2><a href="http://www.k-3d.org">K-3D</a></h2>

<img class="project-logo" src="../../img/projects/k3d.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CCTXUR497YLHW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to K-3D via PayPal">
</form>

<p>K-3D is the free-as-in-freedom 3D modeling, animation, and rendering
system for GNU/Linux, MacOSX, and Windows operating systems. K-3D is based
on a powerful Visualization Pipeline that enables procedural modeling and
a robust plugin architecture, and is designed to scale to the needs of
professional artists.</p>

<h2><a href="https://kallithea-scm.org/">Kallithea</a></h2>

<img class="project-logo" src="../../img/projects/kallithea.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="EYXFS3SQPHYUL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Kallithea via PayPal">
</form>

<p>Kallithea is a free software source code management system supporting two
leading version control systems, Mercurial and Git.  Kallithea hosts your
code, manages access control lists and provides an easy web interface to the
version control system of your choice.</p>

<h2><a href="https://kohanaframework.org">Kohana</a></h2>

<p>Kohana is an elegant HMVC PHP5 framework that provides a rich set of
components for building web applications.  It requires very little
configuration, fully supports UTF-8 and I18N, and provides many of the
tools that a developer needs within a highly flexible system. The
integrated class auto-loading, cascading filesystem, highly consistent
API, and easy integration with vendor libraries make it viable for any
project, large or small.</p>

<h2><a href="http://libbraille.org/">Libbraille</a></h2>

<p>Libbraille is a computer shared library which makes it possible to
easily develop software for Braille displays. It provides a simple API
to write text on the display, directly draw dots, or get the value of
keys pressed on the Braille keyboard. Libbraille supports a wide range
of Braille displays with a serial or USB connection and can
auto-detect most of them. Libbraille supports the terminals of the
following manufacturers: Alva, Baum, Blazie Engineering, EuroBraille,
HandyTech, Hermes, ONCE, Papenmeier, Pulse Data, TechniBraille and
Tieman.</p>

<h2><a href="http://librehealth.io/">LibreHealth</a></h2>

<img class="project-logo" src="../../img/projects/librehealth.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="V3DNW54NCNK46">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to LibreHealth via PayPal">
</form>

<p>LibreHealth is the foundation of a worldwide ecosystem of free and open
source Health IT innovation, and is a place where people can come together
to build tools that enhance the quality of healthcare around the
world. LibreHealth projects currently include: LibreHealth Toolkit, a
foundational base for building Health IT tools; LibreHealth EHR, an
electronic health record derived from best practices and technology from
leading open source systems; and LibreHealth Radiology, a specialized
distribution of Toolkit customized for radiology health care
professionals.</p>

<h2><a href="https://github.com/AltraMayor/XIA-for-Linux/wiki">Linux XIA</a></h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2G7QYTR9FSYS4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Linux XIA via PayPal">
</form>

<p>Linux XIA is a new protocol stack for Linux built using eXpress Internet
Architecture (XIA), an interoperable meta network architecture. Linux XIA is
designed to meet unfulfilled demands of real-world networking. The project's
roadmap includes the development of a DDoS protection system, and the
addition of state-of-the-art algorithms and data structures to increase
Linux XIA's speed and flexibility.</p>

<h2><a href="http://www.luxrender.net/">LuxRender</a></h2>

<img class="project-logo" src="../../img/projects/luxrender.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XJ8BBKSGLVFCL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to LuxRender via PayPal">
</form>

<p>LuxRender is a physically based and unbiased rendering engine. Based on
state of the art algorithms, LuxRender simulates the flow of light
according to physical equations, thus producing realistic images of
photographic quality.</p>

<h2><a href="https://www.mercurial-scm.org/">Mercurial</a></h2>

<img class="project-logo" src="../../img/projects/mercurial.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WCP4RSC5E8F2W">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Mercurial via PayPal">
</form>

<p>Mercurial is a fast, lightweight Source Control Management system
which can track revisions to software during development.  Since its
conception in April 2005, Mercurial has been adopted by many projects
for revision control, including Xen, One Laptop Per Child, and the
Advanced Linux Sound Architecture (ALSA).  Mercurial runs on Unix-like systems, Mac
OS X, and Windows computers, and it is licensed under the GNU General
Public License.</p>

<h2><a href="http://www.metalinker.org/">Metalink</a></h2>

<img class="project-logo" src="../../img/projects/metalink.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LDDTAJM9XNPR2">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Metalink via PayPal">
</form>

<p>Metalink is dedicated to improving downloads. Metalink makes it much
easier for people &mdash; especially those in areas with inferior Internet
connections &mdash; to download Open Source and Free Software. Metalink
increases the effectiveness and efficiency of downloads by combining the
speed, bandwidth distribution, and redundancy of an optimized hybrid
mirror/peer-to-peer network, without any questions of legality, integrity,
or safety.</p>

<h2><a href="https://www.northbaypython.org/">North Bay Python</a></h2>

<img class="project-logo" src="../../img/projects/north-bay-python.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E96FCPFPZK25C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to North Bay Python via PayPal">
</form>

<p>North Bay Python is a community-organized conference in Petaluma,
California that brings together professionals, enthusiasts, and
students interested in the Python programming language.</p>

<h2><a href="http://www.openchange.org/">OpenChange</a></h2>

<p>OpenChange aims to provide a portable Open Source implementation of
  Microsoft Exchange Server and Exchange protocols.  Exchange is a
  groupware server designed to work with Microsoft Outlook, and providing
  features such as a messaging server, shared calendars, contact
  databases, public folders, notes and tasks.</p>

<h2><a href="http://www.opentripplanner.org/">OpenTripPlanner</a></h2>

<img class="project-logo" src="../../img/projects/opentripplanner.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AVPYMNLYATCZG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to OpenTripPlanner via PayPal">
</form>

<p>
OpenTripPlanner is the leading open source platform for multimodal trip
itinerary planning and network analysis.  Launched in 2009, OpenTripPlanner
has since attracted a thriving community of users and developers, with live
deployments now found in twelve countries.  OpenTripPlanner provides a
multimodal trip planner allowing users to plan trips using a variety of
transportation modes. Additionally, OpenTripPlanner has features for
transportation analysis, including measures of mobility and accessibility.</p>

<h2><a href="https://www.gnome.org/outreachy/">Outreachy</a></h2>

<img class="project-logo" src="../../img/projects/outreachy.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9P3DB3AFPDZ7Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Outreachy via PayPal">
</form>

<p>Outreachy helps people from groups underrepresented in free and open
source software get involved by providing a supportive community for
newcomers to contribute to throughout the year, and by offering focused
internship opportunities twice a year with many free software organizations.
</p>

<h2><a href="https://phpmyadmin.net/">phpMyAdmin</a></h2>

<img class="project-logo" src="../../img/projects/phpmyadmin.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UUZWPJLQ9D4E8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to phpMyAdmin via PayPal">
</form>

<p>
phpMyAdmin is a free and open source web interface for the MySQL and
MariaDB database systems. Frequently used operations
(managing databases, tables, columns, relations, indexes, users,
permissions, etc) can be performed via the user interface, while you
still have the ability to directly execute any SQL statement.</p>

<p>Since its first release in September 1998, phpMyAdmin has been adopted
by many web host providers, and has translations underway for more than
seventy languages.</p>

<h2><a href="http://pypy.org/">PyPy</a></h2>

<img class="project-logo" src="../../img/projects/pypy.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J268ZTLRE2BW8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to PyPy via PayPal">
</form>

<p>The PyPy project aims to provide:</p>

<ul>
<li>a common translation and support framework for producing
implementations of dynamic languages, emphasizing a clean
separation between language specification and implementation
aspects.</li>
<li>a compliant, flexible and fast implementation of the Python Language
using the above framework to enable new advanced features without having
to encode low level details into it.</li></ul>

<h2><a href="http://qemu.org">QEMU</a></h2>

<img class="project-logo" src="../../img/projects/qemu.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="YN74TZRMBBM6U">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to QEMU via PayPal">
</form>

<p> QEMU is a generic and open source machine emulator and
        virtualizer. When used as a machine emulator, QEMU can run OSes and
        programs made for one machine (e.g. an ARM board) on a different
        machine (e.g. your own PC). By using dynamic translation, it achieves
        very good performance. When used as a virtualizer, QEMU achieves near
        native performances by executing the guest code directly on the host
        CPU. QEMU supports
 virtualization when executing under the Xen hypervisor or using the
        KVM kernel module in Linux. When using KVM, QEMU can virtualize x86,
        server and embedded PowerPC, and S390 guests.</p>

<h2><a href="https://www.samba.org/samba/">Samba</a></h2>

<img class="project-logo" src="../../img/projects/samba.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="JJCAM7BX48Z42">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Samba via PayPal">
</form>

<p>Samba is a FOSS suite that provides seamless file and print
services to SMB/CIFS clients, namely, to Microsoft Windows. Samba is
freely available, unlike other SMB/CIFS implementations, and allows
for interoperability between Linux/Unix servers and Windows-based
clients.  Samba is software that can be run on a platform other than
Microsoft Windows. For example, Samba runs on Unix, GNU/Linux, IBM
System z, Solaris, Mac OS X, and OpenVMS, among others. It is
standard on virtually all distributions of GNU/Linux and is commonly
included as a basic system service on other UNIX-based systems as
well. Samba uses the TCP/IP protocol that is installed on the host
server.</p>

<p>One of the key goals of the project is to remove barriers to
interoperability. Samba is a software package that gives network
administrators flexibility and freedom in setup, configuration, choice
of systems, and equipment. Samba is released under the GPL.</p>

<h2><a href="http://seleniumhq.org">Selenium</a></h2>

<img class="project-logo" src="../../img/projects/selenium.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="V56W8WNRPQ5SS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Selenium via PayPal">
</form>

<p>Selenium is a suite of tools for browser automation. It is composed of
&ldquo;IDE&rdquo;, a recording and playback mechanism,
&ldquo;WebDriver&rdquo; and &ldquo;RC&rdquo; which provide APIs for
browser automation in a wide variety of languages, and &ldquo;Grid&rdquo;,
which allows many tests using the APIs to be run in parallel. It works
with most browsers, including Firefox, Internet Explorer, Google Chrome,
Safari and Opera.</p>

<h2><a href="https://www.spec-ops.io/">Spec-Ops</a></h2>

<img class="project-logo" src="../../img/projects/spec-ops.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="VWQ65XRBPK9YY">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Spec-Ops via PayPal">
</form>

<p>Spec-Ops' mission is to identify critical open standards activities
and move them along. Spec-Ops puts experts in the room who understand
the technology, who know about the process of creating standards, and
who have no specific personal or corporate agenda &mdash; then lets them get
on with it. Spec-Ops also develops free and open source software
(licensed under BSD-style licenses) to test and implement these
standards, in order to speed adoption and ensure their long term
viability and success.</p>

<h2><a href="http://squeak.org/">Squeak</a></h2>

<img class="project-logo" src="../../img/projects/squeak.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6WECWGYHQF2A6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Squeak via PayPal">
</form>

<p>Squeak is a modern, open source, full-featured implementation of
the powerful Smalltalk programming language and environment. Squeak is
highly-portable - even its virtual machine is written entirely in
Smalltalk making it easy to debug, analyze, and change. Squeak is the
vehicle for a wide range of projects from multimedia applications,
educational platforms to commercial web application development.</p>

<h2><a href="https://sugarlabs.org">Sugar Labs</a></h2>

<img class="project-logo" src="../../img/projects/sugar-labs.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="L5KQFW6YMATRJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Sugar Labs via PayPal">
</form>

<p>Sugar is a learning platform that reinvents how computers are used for
education.  Sugar's focus on sharing, criticism, and exploration is
grounded in the culture of free software.  Sugar Labs' mission is to
produce, distribute and support the use of the Sugar learning platform.
Sugar Labs supports the community of educators and software developers who
want to extend the platform.  Sugar is a community project: under the
Sugar Labs umbrella hundreds of software developers and thousands of
educators work together to build, disseminate, and support Sugar.</p>

<h2><a href="http://surveyos.sourceforge.net/">SurveyOS</a></h2>

<img class="project-logo" src="../../img/projects/surveyos.png" alt="" />

<p>The Survey Open Source (SurveyOS) Project is a non-profit project of
the Software Freedom Conservancy dedicated to fostering cooperation
between land surveyors and GIS professionals through the development of
open source software and open technology standards. The SurveyOS Project
currently devotes programming efforts and source code to the open source
desktop GIS program known as OpenJUMP. It also dedicates a set of AutoLISP
source code via the GPL that can be used to add surveying and geospatial
functionality to other software.</p>

<h2><a href="http://www.swig.org/">SWIG</a></h2>

<img class="project-logo" src="../../img/projects/swig.jpg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="M84TPJKABREKQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to SWIG via PayPal">
</form>

<p>SWIG is a software development tool that connects programs written in C
and C++ with a variety of high-level programming languages.  SWIG is used
with different types of languages including common scripting languages
such as Perl, PHP, Python, Tcl and Ruby. The list of supported languages
also includes C&#35;, Java, Lua, Octave and R amongst others. SWIG is most
commonly used to create high-level interpreted or compiled programming
environments, user interfaces, and as a tool for testing and prototyping
C/C++ software.</p>

<h2><a href="http://teachingopensource.org/">Teaching Open Source</a></h2>

<img class="project-logo" src="../../img/projects/teaching-open-source.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TUBC9HDTQJVS2">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Teaching Open Source via PayPal">
</form>

<p>Teaching Open Source (TOS) exists to support instructors and FLOSS community
members who desire to support student involvement in FLOSS projects
within academic institutions.  The TOS community is supported by a web
site, mailing list, and planet and welcomes new community members from
both academia and FLOSS projects.</p>

<h2><a href="https://twistedmatrix.com/">Twisted</a></h2>

<img class="project-logo" src="../../img/projects/twisted.svg" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZB3NXPUZHQUKS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Twisted via PayPal">
</form>

<p>Twisted is an event-based engine for Internet applications, written in
Python. Twisted supports TCP, SSL and TLS, UDP, Unix sockets, multicast,
and serial ports. It also includes a Web server, an SMTP/POP3 server, a
telnet server, an SSH server, an IRC server, a DNS server, and of course
APIs for creating new protocols. It supports integration with GTK+ 2, Qt,
Tkinter, wxPython, Mac OS X (PyObjC) and Win32 event loops.</p>

<h2><a href="https://www.uclibc.org/">uCLibc</a></h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6LQNR2U2MTGJN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to uCLibc via PayPal">
</form>

<p>uClibc (pronounced yew-see-lib-see) is a C library
for developing embedded Linux systems. It is much smaller than the GNU
C Library, but nearly all applications supported by glibc also work
perfectly with uClibc. Porting applications from glibc to uClibc
typically involves just recompiling the source code. uClibc even
supports shared libraries and threading. It currently runs on standard
Linux and MMU-less (also known as uClinux) systems with support for
alpha, ARM, cris, i386, i960, h8300, m68k, mips/mipsel, PowerPC, SH,
SPARC, and v850 processors.</p>

<h2><a href="http://www.winehq.org/">Wine</a></h2>

<img class="project-logo" src="../../img/projects/wine.png" alt="" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="G9BDG2ABR7PYA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to Wine via PayPal">
</form>

<p>Wine is an Open Source implementation of the Windows API on top of
X and Unix.  It is a compatibility layer for running Windows
programs. Wine does not require Microsoft Windows, as it is a
completely free alternative implementation of the Windows API
consisting of 100% non-Microsoft code, however Wine can optionally use
native Windows DLLs if they are available. Wine provides both a
development toolkit for porting Windows source code to Unix as well as
a program loader, allowing many unmodified Windows programs to run on
x86-based Unixes, including Linux, Mac OS X, FreeBSD, and Solaris.</p>

{% endblock %}
