{% extends "base_conservancy.html" %}
{% block subtitle %}Contact - {% endblock %}
{% block category %}contact{% endblock %}
{% block content %}

<h1>Contact the Conservancy</h1>

<p>The best way to contact the Conservancy is via email to <a
href='mailto:info@sfconservancy.org'>&lt;info@sfconservancy.org&gt;</a>.
We do our best to respond to all email within a reasonable time
period.  If you don't hear from us within a few days, please try
again.</p>

<h2>Telephone</h2>
<p>+1-212-461-3245 tel<br />
+1-212-580-0898 fax</p>

<h2>Postal Address</h2>
<p>Software Freedom Conservancy<br />
1995 Broadway FL 17<br />
New York, NY 10023-5882</p>

<h2>Internet Relay Chat</h2>

<p>Our IRC room is #conservancy on irc.freenode.net.</p>

{% endblock %}
