{% extends "base_conservancy.html" %}
{% block subtitle %}Donations - {% endblock %}
{% block category %}donate{% endblock %}
{% block content %}

<h1>Become a Conservancy Supporter!</h1>

<p>As a not-for-profit charity, Conservancy relies on support from the
  public to continue its work.  Please give generously to support
  Conservancy's work.</p>

<p>By donating below, you'll directly support the operation of Conservancy
  itself.  Conservancy also maintains directed donation programs for
  its <a href="/members/">member projects</a>.  Donation links for these
  directed donation programs can found on the individual websites
  of our <a href="/members/">members</a>.</p>

<h3>Donate via Google Checkout (including Visa, Mastercard, AMEX, or Discover)</h3>

<p>Donating via Google Checkout puts more of your donation to work, since
  Google charges no checkout fees to 501(c)(3) organizations like ours!.</p>
 
<script type="text/javascript"> 
function validateAmount(amount){
	if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
		return true;
	}else{
		alert('You must enter a valid donation.');
		amount.focus();
		return false;
	}
}
</script>
<form action="https://checkout.google.com/cws/v2/Donations/622836985124940/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top">
    <input name="item_name_1" type="hidden" value="Donation supporting the Software Freedom Conservancy, Inc."/>
    <input name="item_description_1" type="hidden" value="This donation is to the Software Freedom Conservancy, Inc., a 501(c)(3) non-profit organization incorporated in New York."/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="item_is_modifiable_1" type="hidden" value="true"/>
    <input name="item_min_price_1" type="hidden" value="10.0"/>
    <input name="item_max_price_1" type="hidden" value="25000.0"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="6" type="text" value="100.00"/>
            </td>
            <td align="left" width="1%">
                <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=622836985124940&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>

<h3>Donate by paper check</h3>

<p>Send paper check donations to:</p>

<p>Software Freedom Conservancy<br />
137 MONTAGUE ST  STE 380<br/>
Brooklyn, NY 11201-3548<br/>
USA
</p>

<h3>Donate via Paypal (including Visa, Mastercard, AMEX or ACH)</h3>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZMQKSPUYQLWZW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<p>The Software Freedom Conservancy, Inc. is a 501(c)(3) organization
  incorporated in New York, and donations made to it are fully tax-deductible to the extent permitted by law.</p>

{% endblock %}
