{% extends "base_conservancy.html" %}
{% block subtitle %}Donations - {% endblock %}
{% block category %}donate{% endblock %}
{% block content %}

<h1>Donate to Conservancy!</h1>

<p>As a not-for-profit charity, Conservancy relies on support from the
  public to continue its work.  Please give generously to support
  Conservancy's work.</p>

<p>By donating below, you'll directly support the operation of Conservancy
  itself.  Conservancy also maintains directed donation programs for
  its <a href="/members/current/">member projects</a>.  Donation links for these
  directed donation programs can found on the individual websites
  of our <a href="/members/current/">members</a>.</p>

<h3>Donate by paper check</h3>

<p>Send paper check donations, drawn in USD, to:</p>

<p>Software Freedom Conservancy<br />
137 MONTAGUE ST  STE 380<br/>
Brooklyn, NY 11201-3548<br/>
USA
</p>
<br/>

<h3>Donate monthly via PayPal (including Visa, Mastercard, AMEX or ACH)</h3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XCZS3F7V957LS">
<table>
<tr><td><input type="hidden" name="on0" value="Monthly Donation Amount">Monthly Donation Amount</td></tr><tr><td><select name="os0">
	<option value="Fifty Dollar Monthly Donation">Fifty Dollar Monthly Donation : $50.00 USD - monthly</option>
	<option value="Forty Dollar Monthly Donation">Forty Dollar Monthly Donation : $40.00 USD - monthly</option>
	<option value="Thirty Dollar Monthly Donation">Thirty Dollar Monthly Donation : $30.00 USD - monthly</option>
	<option value="Twenty-Five Dollar Monthly Donation">Twenty-Five Dollar Monthly Donation : $25.00 USD - monthly</option>
	<option value="Twenty Dollar Monthly Donation">Twenty Dollar Monthly Donation : $20.00 USD - monthly</option>
	<option value="Ten Dollar Monthly Donation">Ten Dollar Monthly Donation : $10.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" style="border:0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" style="border:0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br/>

<h3>Donate via Paypal (including Visa, Mastercard, AMEX or ACH)</h3>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZMQKSPUYQLWZW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="border:0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" style="border:0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<h3>Donate via Flattr</h3>
<p>
<a href="https://www.flattr.com">Flattr</a> is a social micro-payment system that allows users to make donations via the web.  Flattr does not charge any processing fees on donations to Conservancy.  If you are a Flattr user and you would like to "flattr" Conservancy with a donation, click on the button below:
</p>

<a href="https://flattr.com/thing/922714/Donate-to-Software-Freedom-Conservancy" target="_blank">
<img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr us!" title="Flattr us!" style="border:0" /></a>

<br/>

<h3>Donate by wire transfer</h3>

<p>Donations are accepted by wire transfer.  Please
contact <a href="mailto:accounting@sfconservancy.org">&lt;accounting@sfconservancy.org&gt;</a>
    for wire transfer instructions, and include in your email the following
  information:</p>
<ul>
<li>The country of origin of your wire transfer.</li>
<li>The native currency of your donation.</li>
</ul>
<p>Note that Conservancy can accept donations by wire in CAD, EUR, GBP, and
  USD without currency conversion fees!</p>

<br/>
<h3>Donate stock</h3>

<p>Conservancy can accept donation of stocks!   Please
contact <a href="mailto:accounting@sfconservancy.org">&lt;accounting@sfconservancy.org&gt;</a>
  for details.</p>

<p>Software Freedom Conservancy, Inc. is a 501(c)(3) organization
  incorporated in New York, and donations made to it are fully tax-deductible to the extent permitted by law.</p>

{% endblock %}
