#supporter-form label {
    display: inline-block;
    width: 200px;
    text-align: right;
}
#supporter-form-inputs {
    float: left;
}
#supporter-form-submit {
    padding-left: 20em;
    padding-top: 40px;
    float: center;
}

#supporter-form div {
    margin-top: 1em;
}

.form-error {
    display: none;
    margin-left: 10px;
    color: green;
}		

.form-error-show {
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid {
    border: 2px solid red;
}

input.valid, textarea.valid {
    border: 2px solid green;
}

.supporter-type-selector {
    font-size: 125%;
    text-align: center;
    width: 80%;
    align: left;
}

.supporter-type-selection {
    clear: both;
    padding-bottom: 60px;
    width: 80%;
    align: left;
}

img.appeal {
    float: left;
    padding-right: 2em;
    min-width: 10%;
    max-width: 100%;
    height: auto;
}

img.appeal-header {
    max-width: 100%;
    height: auto;
}

img.appeal-footer {
    max-width: 40%;
    float: right;
    width: 10%;
    min-width: 1%;
    height: auto;
}
