<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Software Freedom Conservancy{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The Software Freedom Conservancy provides a non-profit home and services to Free, Libre and Open Source Software (FLOSS) projects." />
    <meta name="keywords" content="software, freedom, conservancy, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/conservancy.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% block head %}{% endblock %}
  </head>

  <body class="conservancy-{% block category %}other{% endblock %}">
    <div id="conservancyheader">
      <h1><span id="logobutton"><a href="/">Software Freedom Conservancy</span></a></h1>
    </div>
    <div id="navbar-outer">
      <div id="navbar">
	<ul>
          <li class="overview"><a href="/overview/">Overview</a></li>
	  <li class="members"><a href="/members/">Member Projects</a></li>
          <li class="news"><a href="/news/">News</a></li>
          <li class="About"><a href="/about/">About</a></li>
	  <li class="donate"><a href="/donate/">Support Conservancy!</a></li>
	</ul>
      </div>
      <div id="navbar-clear"></div>
    </div>
      {% block outercontent %}<div id="mainContent">{% block content %}{% endblock %}</div>{% endblock %}
    <div id="conservancyfooter">
      <p><a href="/">Main Page</a> | <a href="/about/contact/">Contact</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/feeds/news/">News Feed</a></p>
      <p class="copyright_info">This page is licensed under the <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/">Creative Commons Attribution-NonCommercial-NoDerivs 2.0 license</a>.</p>
    </div>
  </body>
</html>
