{%
# Copyright 2005-2008, James Garrison
# Copyright 2010, Bradley M. Kuhn

# This software's license gives you freedom; you can copy, convey,
# propagate, redistribute, modify and/or redistribute modified versions of
# this program under the terms of the GNU Affero General Public License
# (AGPL) as published by the Free Software Foundation (FSF), either
# version 3 of the License, or (at your option) any later version of the
# AGPL published by the FSF.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in a file in the toplevel directory called
# "AGPLv3".  If not, see <http://www.gnu.org/licenses/>.

# req.subprocess_env is not set when the PostReadRequestHandler runs,
# so we just bypass it altogether and set the relevant variable here.
# See deployment documentation for more info.

{% extends "base_conservancy.html" %}
{% block outercontent %}
    <div id="container">
         <div id="sidebar" class="{% block submenuselection %}other{% endblock %}">
            <h2>{% block category %}About{% endblock %}</h2>
            <ul>
            <li class="Contact"><a href="/about/contact">Contact</a></li>
            <li class="Directors"><a href="/about/board/">Directors</a></li>
            <li class="Officers"><a href="/about/officers/">Officers</a></li>
            <li class="Staff"><a href="/about/officers/">Staff</a></li>
            </ul>
         </div>
               <div id="mainContent">{% block content %}{% endblock %}
               </div>
   </div>
{% endblock %}
