{% load humanize %}
{% load subtract %}
{% load min %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Software Freedom Conservancy{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The Software Freedom Conservancy provides a non-profit home and services to Free, Libre and Open Source Software (FLOSS) projects." />
    <meta name="keywords" content="software, freedom, conservancy, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/conservancy.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" href="/css/jquery.ui.multiprogressbar.css" />
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.outerhtml.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.multiprogressbar.js"></script>
    <script type="text/javascript" src="/js/supporter-page.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="conservancy-{% block category %}other{% endblock %}">
    <h1 id="conservancyheader"><a id="logobutton" href="/">Software Freedom Conservancy</a></h1>
    <div id="navbar-outer">
      <div id="navbar">
	<ul>
          <li class="About"><a href="/about/">About</a></li>
          <li class="news"><a href="/news/">News</a></li>
          <li class="blog"><a href="/blog/">Blog</a></li>
	  <li class="Members"><a href="/members/">Membership</a></li>
	  <li class="sponsors"><a href="/sponsors/">Sponsors</a></li>
          <li class="compliance"><a href="/linux-compliance/">Copyleft Compliance</a></li>
          <li class="npoacct"><a href="/npoacct/">NPOAcct</a></li>
	  <li class="donate"><a href="/donate/">Donate</a></li>
          <li class="supporter"><a href="/supporter/">Become a Supporter!</a></li>
	</ul>
      </div>
      <div id="navbar-clear"></div>

    </div>
    <div class="fundraiser-top-text">
{% if sitefundgoal.fundraiser_so_far_amount < sitefundgoal.fundraiser_donation_count %}
   <em>Conservancy
   <a href="/supporter/">needs <span id="site-fundraiser-middle-goal">{{ sitefundgoal.fundraiser_donation_count|intcomma }}</span> Supporters</a> to continue its basic community services &amp;
   <span id="site-fundraiser-final-goal">{{ sitefundgoal.fundraiser_goal_amount|intcomma }}</span> to
   avoid hibernating its enforcement efforts.
{% else %}
      <em>Conservancy will continue our basic community services, thanks to our
        first <span id="site-fundraiser-middle-goal">{{ sitefundgoal.fundraiser_donation_count|intcomma }}</span> Supporters! We still need
        <span id="site-fundraiser-final-goal">{{ sitefundgoal.fundraiser_goal_amount|subtract:sitefundgoal.fundraiser_donation_count_disclose_threshold|subtract:sitefundgoal.fundraiser_so_far_amount|intcomma }}</span> more Supporters to avoid reducing licensing work &amp; hibernating our
        enforcement efforts.
{% endif %}
{% if sitefundgoal.fundraiser_donation_count_disclose_threshold < 632 %}
The <strong>next {{ 632|subtract:sitefundgoal.fundraiser_donation_count_disclose_threshold }} supporters
who sign up <a href="/news/2016/feb/01/PIA-match-extended/">by the end of Feb. 29th (anywhere on earth) will count twice</a></strong>, thanks to <a href="https://www.privateinternetaccess.com/">Private Internet Access</a>!
{% endif %}
</em>
<div id="siteprogressbar">
<a href="/supporter">
<span id="site-fundraiser-so-far">{{ sitefundgoal.fundraiser_so_far_amount|intcomma }}</span> have joined so far.
{% if sitefundgoal.fundraiser_so_far_amount > 750 %}
Thus, our 750 goal was achieved &amp; {{ sitefundgoal.fundraiser_so_far_amount|subtract:750|intcomma }}</span> have
    joined beyond that.
{% endif %}
{% if sitefundgoal.fundraiser_donation_count_disclose_threshold > 0 %}
Also, match pledges reduced our <span id="site-fundraiser-final-goal">{{ sitefundgoal.fundraiser_goal_amount|intcomma }}</span> maximum need by <span id="site-fundraiser-match-count">{{ sitefundgoal.fundraiser_donation_count_disclose_threshold|min:632|intcomma }}</span>
{% endif %}
!</div></a>
</div>
      {% block outercontent %}<div id="mainContent"> {% block content %}{% endblock %}</div>{% endblock %}
    <div id="conservancyfooter">
      <p><a href="/">Main Page</a> | <a href="/about/contact/">Contact</a> | <a href="/sponsors/">Sponsors</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/feeds/omnibus/">RSS Feed</a></p>
      <p>Find Conservancy
      on <a href="https://identi.ca/conservancy">pump.io</a>,
      <a href="https://twitter.com/conservancy">Twitter</a>, <a href="https://www.youtube.com/channel/UCUEeuNvX2UyTTyTYXR9dm_A">Youtube</a>, <a href="https://plus.google.com/104268783278405704634/">Google+</a>
      and other social networks too!</p>
      <p class="copyright_info">
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> 
      <br />This page, and all contents herein, unless a license is otherwise
      specified, are licensed under a
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">Creative
      Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </body>
</html>
