{% load humanize %}
{% load subtract %}
{% load min %}

<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Software Freedom Conservancy{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The Software Freedom Conservancy provides a non-profit home and services to Free, Libre and Open Source Software (FLOSS) projects." />
    <meta name="keywords" content="software, freedom, conservancy, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/conservancy.css" />
    <link rel="stylesheet" type="text/css" media="(min-width: 67em)" href="/css/conservancy-bigscreen.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" href="/css/jquery.ui.multiprogressbar.css" />
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.outerhtml.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.multiprogressbar.js"></script>
    <script type="text/javascript" src="/js/conservancy.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="conservancy-{% block category %}other{% endblock %}">
    <h1 id="conservancyheader"><a id="logobutton" href="/">Software Freedom Conservancy</a></h1>
    <div id="navbar-outer">
      <div id="navbar">
	<ul>
      <li class="supporter"><a href="/supporter/">Become a Supporter!</a></li>
      <li class="donate"><a href="/donate/">Donate</a></li>
      <li class="news"><a href="/news/">News</a></li>
      <li class="blog"><a href="/blog/">Blog</a></li>
      <li class="Projects"><a href="/projects/">Projects</a></li>
      <li class="compliance"><a href="/copyleft-compliance/">Copyleft Compliance</a></li>
      <li class="npoacct"><a href="/npoacct/">NPOAcct</a></li>
      <li class="sponsors"><a href="/sponsors/">Sponsors</a></li>
      <li class="About"><a href="/about/">About</a></li>
    </ul>
      </div>
      <div id="navbar-clear"></div>

    </div>

{% comment %}
FUNDRAISER VARIABLES AND CONSTANTS GUIDE

fundraiser_goal_amount: The highest number of Supporters we want
fundraiser_so_far_amount: The number of Supporters we have
fundraiser_donation_count: The "minimum" number of Supporters we want (not currently used)
fundraiser_donation_count_disclose_threshold: The number of Supporters that have been matched

When we started this match, we had 1076 Supporters matched, so we subtract
that from count_disclose_threshold to determine how many happened in the
current match.
{% endcomment %}

{% comment %}
{% with this_match_goal=150 this_match_so_far=sitefundgoal.fundraiser_donation_count_disclose_threshold|subtract:1076 %}
{% with this_match_remaining=this_match_goal|subtract:this_match_so_far %}
    <div class="fundraiser-top-text">
      <em>
        {% if this_match_remaining <= 0 %}
        Thanks to {{ this_match_goal|intcomma }} Supporters we earned our full match!  Help us go further to stand up for software
        freedom &mdash; <a href="/supporter">sign up now</a>!
        {% else %}
        Let's stand up for software freedom together!
        The next {{ this_match_remaining|intcomma }} Supporters who join or
        renew by February 28th will be matched by an anonymous donor!  <a href="/supporter/">Join today!</a>
        {% endif %}
      </em>
<div id="siteprogressbar">
<a href="/supporter">
  {% if this_match_remaining <= 0 %}
  <span id="site-fundraiser-match-count">{{ this_match_goal|intcomma }}</span>
  {% else %}
  <span id="site-fundraiser-match-count">{{ this_match_so_far|intcomma }}</span>
  {% endif %}
  Supporters have been matched, out of
  <span id="site-fundraiser-final-goal">{{ this_match_goal|intcomma }}</span> possible.
</a>
</div>
</div>
{% endwith %}
{% endwith %}
{% endcomment %}

      {% block outercontent %}<div id="mainContent"> {% block content %}{% endblock %}</div>{% endblock %}
    <div id="conservancyfooter">
      <p><a href="/">Main Page</a> | <a href="/about/contact/">Contact</a> | <a href="/sponsors/">Sponsors</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/feeds/omnibus/">RSS Feed</a></p>

      <p>Connect with Conservancy on
        <a href="https://mastodon.technology/@conservancy">Mastodon</a>,
        <a href="https://twitter.com/conservancy">Twitter</a>,
        <a href="https://identi.ca/conservancy">pump.io</a>,
        <a href="https://plus.google.com/104268783278405704634/">Google+</a>,
        <a href="https://www.facebook.com/SoftwareFreedomConservancy/">Facebook</a>,
        and <a href="https://www.youtube.com/channel/UCUEeuNvX2UyTTyTYXR9dm_A">YouTube</a>.</p>

      <p class="copyright_info">
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> 
      <br />This page, and all contents herein, unless a license is otherwise
      specified, are licensed under a
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">Creative
      Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </body>
</html>
