{% extends "base_conservancy.html" %}
{% load date_within %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy Complete Feed" href="/feeds/omnibus/" />
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy News" href="/feeds/news/" />
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy Blogs" href="/feeds/blog/" />
{% endblock %}

{% block content %}

<div class="singleColumn">

<h1>Software Freedom Conservancy</h1>

<p>Software Freedom Conservancy is a not-for-profit charity that
  helps promote, improve, develop, and defend Free, Libre, and Open Source
  Software (FLOSS) projects.  Conservancy provides a non-profit home and
  infrastructure for FLOSS projects.  This allows FLOSS developers to
  focus on what they do best &mdash; writing and improving FLOSS for the
  general public &mdash; while Conservancy takes care of the projects' needs that
  do not relate directly to software development and documentation.</p>
</div>

<div class="columns">

<div class="column">
<h2><a href="/feeds/news/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> <a href="/news/">Recent News</a></h2>
<p class="date">{{ press_releases.0.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.0.get_absolute_url }}">{{ press_releases.0.headline|safe }}</a></h3>
{{ press_releases.0.summary|safe }}
{% if press_releases.0.body %}<p><span class="continued"><a href="{{ press_releases.0.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% if press_releases.1 and press_releases.1.pub_date|date_within_past_days:30 %}
<hr/>
<p class="date">{{ press_releases.1.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.1.get_absolute_url }}">{{ press_releases.1.headline|safe }}</a></h3>
{{ press_releases.1.summary|safe }}
{% if press_releases.1.body %}<p><span class="continued"><a href="{{ press_releases.1.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% endif %}
{% if press_releases.2 and press_releases.2.pub_date|date_within_past_days:30 %}
<hr/>
<p class="date">{{ press_releases.2.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.2.get_absolute_url }}">{{ press_releases.2.headline|safe }}</a></h3>
{{ press_releases.2.summary|safe }}
{% if press_releases.2.body %}<p><span class="continued"><a href="{{ press_releases.2.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% endif %}
<p><span class="continued"><a href="/news/">Conservancy News Archive&hellip;</a></span></p>
</div>

<div class="column">
<h2><a href="/feeds/blog/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> <a href="/blog/">Conservancy Blog</a></h2>
{% for entry in blog|slice:":5" %}
  {% if forloop.first or entry.pub_date|date_within_past_days:30 %}
    {% if not forloop.first %}<hr>{% endif %}
    {% include "blog/entry_partial.html" with entry=entry show="summary" only %}
  {% endif %}
{% endfor %}

<p><span class="continued"><a href="/blog/">Conservancy Blog Archive&hellip;</a></span></p>
</div>

<div class="column">
<h2>Support Conservancy</h2>
<p>As a 501(c)(3) non-profit charity, Conservancy relies on
  charitable donations for its operations.
  Please join {{supporters_count|safe}} others and <a href="/supporter/"><strong>become a Conservancy Supporter
  today</strong></a> and/or <a href="/donate/">donate generously</a> to help our work!
</p>
</div>

<div class="column">
<h2>Follow Conservancy News &amp; Blogs</h2>

<p>There is a <a href="/feeds/omnibus/">full site feed available</a> (as
  well as separate feeds for the <a href="/feeds/news/">news items</a> and
  <a href="/feeds/blog/">blog posts</a>).  You can follow Conservancy
 on <a href="https://identi.ca/conservancy">pump.io</a>,
  <a href="https://twitter.com/conservancy">Twitter</a>, <a href="https://www.youtube.com/channel/UCUEeuNvX2UyTTyTYXR9dm_A">Youtube</a>, <a href="https://plus.google.com/104268783278405704634/">Google+</a>,
      and other social networks, too.  Look
      for us everywhere and follow/like us!</p>

<p>You can also subscribe to <a href="http://lists.sfconservancy.org/pipermail/announce/">Conservancy's low-traffic news list</a>.</p>

<h2>Learn More about Conservancy</h2>
<p>
<span class="continued"><a href="/about/">An Overview of Conservancy&hellip;</a></span>
<span class="continued"><a href="/members/current/">Conservancy's current member projects&hellip;</a></span>
<span class="continued"><a href="/members/services/">Services Conservancy provides to its member projects&hellip;</a></span>
<span class="continued"><a href="/copyleft-compliance/">Conservancy's unique work  defending and upholding  copyleft licenses (e.g., the GPL) &hellip;</a></span>
<span class="continued"><a href="/npoacct/">Conservancy's Non-Profit Accounting Project &hellip;</a></span>
</p>
</div>

</div>
{% endblock %}
