{% extends "base_conservancy.html" %}
{% block subtitle %}Sponsors - {% endblock %}
{% block category %}sponsors{% endblock %}
{% block head %}
<meta charset="UTF-8"/>
{% endblock %}

{% block content %}

<h1>Conservancy's Sponsors &amp; Supporters</h1>

<p>Conservancy relies on donations from the general public to support its
work, and asks everyone <a href="/donate">to donate generously</a>.

<h2>Sponsors</h2>

<p>The sponsors whose logos are listed below (in alphabetical order) have donated
substantially in the past twelve months to support the ongoing work of
Conservancy.  These sponsors support our work through financial
contributions  and have asked for public acknowledgment of their
contributions.  Conservancy graciously thanks these sponsors for their
support, but doesn't necessarily endorse nor promote any specific activity of
any of its sponsors.</p>

<ul id="sponsor">
<li><a href="http://www.citrix.com/"><img src="/img/sponsors/citrix.png" height="79" width="250" alt="Citrix" /></a></li>
<li><a href="https://www.collabora.com/"><img src="/img/sponsors/collabora.png" height="42" width="250" alt="Citrix" /></a></li>
<li><a href="http://gandi.net"><img src="/img/sponsors/gandi.png" height="65" width="171" alt="Gandi.Net" /></a></li>
<li><a href="http://google.com"><img src="/img/sponsors/google.png" height="76" width="238" alt="Google" /></a></li>
<li><a href="http://linuxfoundation.org"><img src="/img/sponsors/linuxfoundation.png" height="76" width="250" alt="Linux Foundation" /></a></li>
<li><a href="https://www.mozilla.org/foundation/"><img src="/img/sponsors/mozilla.png" height="101" width="250" alt="Mozilla Foundation" /></a></li>
<li><a href="https://www.privateinternetaccess.com/"><img src="/img/sponsors/privateinternetaccess.jpg" height="52" width="220" alt="Private Internet Access" /></a></li>
<li><a href="https://www.redhat.com/"><img src="/img/sponsors/redhat.png" height="80" width="250" alt="Red Hat" /></a></li>
<li><a href="https://www.samsung.com/"><img src="/img/sponsors/samsung.jpg" height="83" width="250" alt="Samsung" /></a></li>
</ul>

<!-- This section will be added when we have in-kind contributions -->

<!-- <h3>In-Kind Donation of Services</h3> -->

<!-- <p>Conservancy would also like to thank the following companies who have -->
<!--   donated services and/or resources in-kind to support Conservancy's -->
<!--   work.</p> -->

<!-- <ul> -->
<!-- </ul> -->
<br/>
<hr/>
<br/>
<h2>Supporters</h2>

<p>Conservancy currently has {{supporters_count|safe}} Supporters.
  Conservancy Supporters are individuals (or small companies) who give $120
  or more annually as part of <a href="/supporter/">the Official Conservancy
  Supporter program</a>.  Those who request public acknowledgment are listed
  here in lexicographical order by surname:</p>

<ul id="supporters">
<li>Anonymous ({{anonymous_count|safe}} people)</li>
{% for ss in supporters %}
<li>{{ ss.display_name|safe }}</li>
{% endfor %}
</ul>

{% endblock %}
