{% extends "base_members.html" %}
{% block subtitle %}Member Project Services - {% endblock %}
{% block submenuselection %}Applying{% endblock %}
{% block content %}

<h1>How To Apply to Become a Member Project</h1>

<p>New applications for project membership with Conservancy are considered
  twice a year.  The deadlines for submission of application materials are
  1 February and 1 September each year.</p>

<p>The application process is somewhat informal.  New applicants should
  write
  to <a href="mailto:apply@sfconservancy.org">&lt;apply@sfconservancy.org&gt;</a>
  with a very brief description of their project and a URL to their
  project's website.  We'll send back initial questions if we have any,
  and after that, we'll send the full application materials.  Applications
  should be submitted in plain ASCII text via email.</p>

<p>Projects are reviewed by Conservancy's Evaluation Subcommittee (which
  is a subcommittee of Conservacy's Directors), and the subcommittee's
  recommendations are submitted to
  Conservancy's <a href="/about/board/">Board of Directors</a>, who make
  the final decision to offer membership.</p>

<h1>Project Membership Application FAQs</h1>

<p>The following are various questions that we typically get from project
  leaders that wish to apply to Conservancy.</p>


<h2>What are the key criteria our project must meet to join?</h2>

<p>In order to join, projects need to meet certain criteria, including the
requirement that the project be exclusively devoted to the development of
FLOSS and that it be consistent with the Conservancy's tax-exempt purposes
and the financial requirements imposed by the IRS.  Most FLOSS projects
will meet these requirements.</p>

<p>Additionally, the project must be licensed in a way fitting with
  software freedom principles.  Specifically, all software of the project
  should be licensed under a license that is listed both as
  a <a href="http://www.gnu.org/licenses/license-list.html">Free Software
  license by the Free Software Foundation</a> and as
  an <a href="http://www.opensource.org/licenses/alphabetical">Open Source
  license by the Open Source Initiative</a>.  All software documentation
  for the project should be licensed under a license on the preceding
  lists, or under Creative
  Commons' <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-By-SA</a>
  or <a href="http://creativecommons.org/licenses/by/3.0/">CC-By</a> or
  <a href="http://creativecommons.org/choose/zero/">CC-0</a>.</p>

<p>While any project licensed under FLOSS licenses can apply, the
  Conservancy seeks in particular projects that are well-established and
  have some track record of substantial contributions from a community of
  volunteer developers.  The Conservancy does gives higher priority to
  projects that have an established userbase and interest, but also tries
  to accept some smaller projects with strong potential.</p>

<h2>Is our project required to accept membership if offered?</h2>

<p>Not at all.  Many projects apply and subsequently decide not to join a
  non-profit, or decide to join a different non-profit entity.  Don't
  worry about &ldquo;wasting our time&rdquo; if your project's developers
  aren't completely sure yet if they want to join conservancy.  If
  membership in Conservancy is currently a legitimate consideration for
  your project, we encourage you to apply.  We'd rather that you apply and
  turn down an offer for membership than fail to apply and have to wait
  until the next application round when you're sure.</p>

<h2>What will the project leaders have to agree to if our project joins?</h2>

<p>Once you're offered membership, we'll send you a draft fiscal
  sponsorship agreement.  These aren't secret documents and many of our
  memer projects have even chosen to put theirs online.  However, we wait
  to send a draft of this document, until the application process is
  complete, as we often tailor and modify the agreements based on
  individual project needs.  This is painstaking work, and it's better to
  complete that work after both Conservancy and the project are quite sure
  that they both want the project will join Conservancy.</p>

<h2>What benefits does our project get from joining?</h2>

<p>We maintain a <a href="/members/services">detailed list of services
    that Conservancy provides to member projects</a>.  If you have
    detailed questions about any of the benefits, please
    ask <a href="mailto:apply@sfconservancy.org">&lt;apply@sfconservancy.org&gt;</a>.</p>

<h2>If my project joins the Conservancy, how will it change?</h2>

<p>Substantively, member projects continue to operate in the same way as
they did before joining the Conservancy.  So long as the project remains
devoted to software freedom and operates consistently with the
Conservancy's tax-exempt status, the Conservancy does not intervene in the
project's development other than to provide administrative assistance.
For example, the Conservancy keeps and maintains books and records for the
project and assists with the logistics of receiving donations, but does
not involve itself with technical or artistic decision making.  Projects
are asked, however, to keep the Conservancy up to date on their
activities.</p>

<h2>Once our project joins, who holds its assets (money, copyrights, trademarks, etc.)?</h2>

<p>The Conservancy holds assets on behalf of its member projects and
manages and disburses those assets in accordance with the wishes of the
project's leadership.  Funds received by the Conservancy on behalf of a
project are kept track of separately for each specific project and the
management of those funds is directed by the project.  For example, if a
donor wanted to contribute $100 to Project Foo, they would formally make
the donation to the Conservancy and identify Project Foo as the desired
project to support.  The Conservancy would then deposit the check and
earmark the funds for use by Project Foo.  Project Foo would then tell the
Conservancy how that money should be spent.</p>

<p>Similarly, any copyrights, trademarks, domain name or other assets
transferred to a project can also be held by the Conservancy on behalf of
the project.  A significant service that the Conservancy provides its
members is a vehicle through which copyright ownership in the project can
be unified.  There are several advantages to having a consolidated
copyright structure, including that it makes enforcement activity easier
and more effective.  However, copyright, trademark, and domain name
assignment is not a requirement in order to join the Conservancy, rather,
it is an option for those projects that ask for it.</p>

<h2>If our project joins, must it be a member project of Conservancy forever?</h2>

<p>All agreements between member projects and the Conservancy stipulate
clearly that the member project can leave the Conservancy at any time.
Federal tax exemption law, though, states that projects must transfer
their assets from the Conservancy in a way that is consistent with the
Conservancy's not-for-profit tax status &mdash; meaning the assets cannot
be transferred to an individual or a for-profit entity.  Generally, a
project would either find another fiscal sponsor or form their own
independent tax-exempt non-profit.</p>

<p>We fully expect that some Conservancy projects will ultimately wish to
  form their own non-profit 501(c)(3) organizations; that's why we design
  our agreements with projects to allow them to leave to another 501(c)(3)
  organization.  Typically, projects join Conservancy because the project
  leaders don't want the burdens of running a non-profit themselves.
  Often, as projects grow, leaders get interested in the non-profit
  management and organizational side of the activities and are then
  prepared to take on the additional work themselves.</p>

<h2>How are &ldquo;product leaders&rdquo; defined with respect to Conservancy?</h2>

<p>How leaders are chosen for projects varies greatly from project to
  project.  Our goal is to do our best to embody the &ldquo;natural&rdquo;
  leadership structure that evolved in your project into the formal
  agreement with Conservancy.  As part of the agreement drafting, we work
  carefully with you to understand your project's governance and write up
  formally with you the decision-making process you use. Most project
  contributors find this process of formalizing the leadership structure
  helps them clarify in their own minds the governance of their project,
  even though the process can be difficult.  Since it can be a complicated
  process, we suggest that you prepare your project community for this
  discussion once your project is accepted.</p>

<h2>How much does will it cost us financially to join Conservancy?</h2>

<p>After your application is approved, as part of the negotiation of the
  formal agreement, we'll discuss this issue.  Typically, we ask that
  member projects voluntarily choose to donate some percentage of their
  donations received to support Conservancy's general operations servicing
  all its member projects (including yours).  We do understand that,
  particularly for small projects that only receive a few small donations,
  that donating a percentage of your income back to Conservancy can be a
  high burden.  Therefore, this is not a mandatory requirement.  We thus
  suggest that you be prepared to discuss this issue with us in detail
  after your application is approved.</p>

{% endblock %}
