{% extends "base_conservancy.html" %}
{% block subtitle %}Privacy Policy - {% endblock %}
{% block content %}

<h1>Privacy Policy</h1>

<p>The Software Freedom Conservancy ("SFC") is committed to protecting
the privacy of our website visitors and our supporters. In this
policy, "SFC" or "We" refers to the SFC Board of Directors,
Management, staff, cooperating attorneys, interns, volunteers, and
consultants. As to all of the information described below, SFC will
not give, sell, rent, or exchange the information with anyone else
without your prior consent, except as compelled by law (see section on
Compelled Disclosure below).</p>

<h3>Information Collected</h3> <p>When you visit our site, SFC may
record the numerical Internet protocol address of the computer you are
using, the browser software you use and your operating system, the
date and time you access our site, and the Internet address of the
website from which you linked directly to our site, in addition to
other information. We use this information to measure the number of
visitors to different sections of the site, to diagnose and correct
system errors, and to improve the site. When you communicate with us
through our site, we may collect your name, email address, postal
address, and other personal, financial, legal or technical
information.</p>

<h3>Compelled Disclosure</h3> <p>If we are required by law to disclose
any of the information collected about you, we will attempt to provide
you with notice (unless we are prohibited) that a request for your
information has been made in order to give you an opportunity to
object to the disclosure. We will attempt to provide this notice by
email, if you have given us an email address, or by postal mail if you
have provided a postal address. We will independently object to overly
broad requests for access to information about users of our site. If
you do not challenge the disclosure request, we may be legally
required to turn over your information.</p>

{% endblock %}
