{% extends "base_compliance.html" %}
{% block subtitle %}GPL Compliance Project For Linux Developers - {% endblock %}
{% block submenuselection %}AboutCompliance{% endblock %}
{% block content %}
<h1>GPL Compliance Project for Linux Developers</h1>

<p>The GPL Compliance Project for Linux Developers is comprised of copyright
holders in the kernel, Linux, who have contributed to Linux under its
license, <a href="http://www.gnu.org/licenses/gpl-2.0.html">the
GPLv2</a>. These copyright holders have formally asked Conservancy to engage
in compliance efforts for their copyrights in the Linux kernel.</p>

<p>Historically, Conservancy was well-known for its ongoing license
compliance efforts on behalf of its BusyBox member project.  In May
2012, <a href="https://sfconservancy.org/news/2012/may/29/compliance/">Conservancy
announced a coordinated compliance effort</a> on behalf of its BusyBox and
Samba projects, and also launched this unique project, called the <cite>GPL
Compliance Project for Linux Developers</cite>, which handles compliance and
enforcement activities on behalf of more than a dozen Linux copyright
holders.</p>
 
<p>Conservancy's GPL Compliance Project is run in a collaborative manner with
the project developers.  All copyright holders involved have the opportunity
to give input and guidance on Conservancy's strategy in dealing with
compliance issues.  Thus, all Conservancy's compliance matter have full
support of relevant copyright holders.</p>

<p>Conservancy is dedicated to encouraging all users of software to comply
  with Free Software licenses. Toward this goal, in its compliance efforts,
  Conservancy helps distributors of Free Software in a friendly spirit of
  cooperation and participation.  In this spirit, Conservancy also sponsors
  the <a href="https://copyleft.org/guide/"><cite>Copyleft and the GNU
  General Public License:A Comprehensive Tutorial and Guide</cite></a>, in
  collaboration with the Free Software Foundation (FSF),
  which <a href="/news/2014/nov/07/copyleft-org/">Conservancy formally
  launched in fall 2014</a>.  The Guide includes tutorial materials about
  copyleft and compliance with copyleft licenses,
  including <a href="https://copyleft.org/guide/comprehensive-gpl-guidepa2.html"><cite>A
  Practical Guide to GPL Compliance</cite></a>.  The materials
  on <a href="https://copyleft.org/">copyleft.org</a> have been developed and
  improved since 2002, and are themselves copylefted, and developed
  collaboratively in public.</p>

<p>However, the Guide is admittedly a large document, so for those who are
  interested in a short summary of describing how Conservancy handles GPL
  enforcement and compliance
  work, <a href="https://sfconservancy.org/blog/2012/feb/01/gpl-enforcement/">this
  blog post outlining the compliance process</a> is likely the best source.</p>

<p>If you are aware of a license violation or compliance issue regarding
  Linux, or
  any <a href="https://sfconservancy.org/members/current/">Conservancy member
  project</a> (and in particular BusyBox, Evergreen, Inkscape, Mercurial,
  Samba, Sugar Labs, or Wine),
  please <a href="mailto:compliance@sfconservancy.org">contact us by email at
  &lt;compliance@sfconservancy.org&gt;</a>.</p>

<p>Finally, Conservancy welcomes <a href="#donate-box"
  class="donate-now">donations</a> in support of the GPL Compliance Project
  for Linux Developers.  Just use the <a href="#donate-box"
  class="donate-now">PayPal link on this page or any of our other donation
  methods listed</a>.  Be sure to mention &ldquo;GPL Compliance Project for
  Linux Developers&rdquo; in the memo line or description field of the
  donation.</p>
</div>
{% endblock %}
