{% extends "base_compliance.html" %}
{% block subtitle %}Copyleft Compliance Projects - {% endblock %}
{% block submenuselection %}AboutCompliance{% endblock %}
{% block content %}
<h1>Conservancy's Copyleft Compliance Projects</h1>

<p>Free and open source software is
        everywhere and in everything; yet our software freedom is constantly
        eroded.  With the help of its volunteers, <a href="/members/current/">member projects</a>, and <a href="/about/staff/">staff</a>,
  Conservancy stands up for users' software freedom via its copyleft compliance work.</p>

<p>Conservancy engages in copyleft compliance work in two different ways: by acting directly
on behalf of <a href="/projects/">Conservancy's Member Projects</a> who request
Free and Open Source License compliance efforts, and for
specific, targeted member projects for communities of developers.</p>

<p>Conservancy's Copyleft Compliance Projects are run in a collaborative manner with
the project developers.  All copyright holders involved have the opportunity
to give input and guidance on Conservancy's strategy in dealing with
compliance issues.  Thus, all Conservancy's compliance matter have full
support of relevant copyright holders.</p>

<h2>Compliance Project For Our Fiscally Sponsored Projects</h2>

<p>Historically, Conservancy was well-known for its ongoing license
compliance efforts on behalf of its BusyBox member project.  Today, Conservancy
does semi-regular compliance work for its BusyBox, Evergreen, Git, Inkscape, Mercurial,
Samba, Sugar Labs and Wine member projects.  If you are a copyright holder
in any member project of Conservancy, please contact the project's leadership committtee,
via <a href="mailto:PROJECTNAME@sfconservancy.org">&lt;PROJECTNAME@sfconservancy.org&gt;</a>
for more information on getting involved in compliance efforts in that project.
</p>

<h2>GPL Compliance Project For Linux Developers</h2>

<p>In May
2012, <a href="/news/2012/may/29/compliance/">Conservancy
launched</a> the <cite>GPL
Compliance Project for Linux Developers</cite>, which handles compliance and
enforcement activities on behalf of more than a dozen Linux copyright
holders.</p>
 
<p>The GPL Compliance Project for Linux Developers is comprised of copyright
holders in the kernel, Linux, who have contributed to Linux under its
license, <a href="http://www.gnu.org/licenses/gpl-2.0.html">the
GPLv2</a>. These copyright holders have formally asked Conservancy to engage
in compliance efforts for their copyrights in the Linux kernel.  In addition,
some developers have directly assigned their copyrights on Linux to Conservancy,
so Conservancy also enforces the GPL on Linux via its own copyrights in Linux.</p>

<p>Linux copyright holders who wish to assign copyright to or sign an enforcement agreement with
Conservancy should contact <a href="mailto:linux-services@sfconservancy.org">&lt;linux-services@sfconservancy.org&gt;</a>.</p>


<h2>The Debian Copyright Aggregation Project</h2>

<p>In August 2015, <a href="/news/2015/aug/17/debian/">Conservancy announced the Debian Copyright Aggregation
Project</a>.  This project allows Debian contributors to assign copyrights to
Conservancy, or sign enforcement agreements allowing Conservancy to enforce
Free and Open Source (FOSS) licenses on their behalf.  Many Debian contributors
have chosen each of these options already, and more continue to join.</p>

<p>Debian contributors who wish to assign copyright to or sign an enforcement agreement with
Conservancy should contact <a href="mailto:debian-services@sfconservancy.org">&lt;debian-services@sfconservancy.org&gt;</a>.</p>

<h2>Conservancy's Commitment to Copyleft License Compliance</h2>

<p>Conservancy is dedicated to encouraging all users of software to comply
  with Free Software licenses. Toward this goal, in its compliance efforts,
  Conservancy helps distributors of Free Software in a friendly spirit of
  cooperation and participation.  In this spirit, Conservancy has co-published,
  with the Free Software Foundation (FSF), <a href="/linux-compliance/principles.html">the principles that both organizations
  follow in their compliance efforts</a>.
  Also in collaboration with the FSF, Conservancy also sponsors
  the <a href="https://copyleft.org/guide/"><cite>Copyleft and the GNU
  General Public License:A Comprehensive Tutorial and Guide</cite></a>,
  which <a href="/news/2014/nov/07/copyleft-org/">formally
  launched in fall 2014</a>.  The Guide includes tutorial materials about
  copyleft and compliance with copyleft licenses,
  including <a href="https://copyleft.org/guide/comprehensive-gpl-guidepa2.html"><cite>A
  Practical Guide to GPL Compliance</cite></a>.  The materials
  on <a href="https://copyleft.org/">copyleft.org</a> have been developed and
  improved since 2002, and are themselves copylefted, and developed
  collaboratively in public.</p>

<p>However, the Guide is admittedly a large document, so for those who are
  interested in a short summary of describing how Conservancy handles GPL
  enforcement and compliance
  work, <a href="https://sfconservancy.org/blog/2012/feb/01/gpl-enforcement/">this
  blog post outlining the compliance process</a> is likely the best source.</p>

<h2>Reporting GPL Violations To Us</h2>

<p>If you are aware of a license violation or compliance issue regarding
  Debian, Linux, or
  any <a href="https://sfconservancy.org/members/current/">Conservancy member
  project</a> (&mdash; in particular BusyBox, Evergreen, Inkscape, Mercurial,
  Samba, Sugar Labs, or Wine),
  please <a href="mailto:compliance@sfconservancy.org">contact us by email at
    &lt;compliance@sfconservancy.org&gt;</a>.</p>

<p>If you think you've found a GPL violation, we encourage you to
   read <a href="http://ebb.org/bkuhn/blog/2009/11/08/gpl-enforcement.html">this
   personal blog post by our Distinguished Technologist, Bradley M. Kuhn</a>,
   about good practices in discovering and reporting GPL violations.  (We'd
   also like someone to convert the text of that blog post into a patch for
   <a href="http://compliance.guide">The Compliance Guide on
   copyleft.org</a>; submit it
   via <a href="https://k.copyleft.org/guide/">k.copyleft.org</a>.)</p>
   
<h2>Donate to Support This Work</h2>

<p>Finally, Conservancy welcomes <a href="#donate-box"
  class="donate-now">donations</a> in support of our GPL Compliance Projects,
  and we encourage you to become a <a href="/supporter/">an official
  Supporter of Software Freedom Conservancy</a>. </p>
</div>
{% endblock %}
