{% extends "base_compliance.html" %}
{% block subtitle %}Copyleft Compliance Projects - {% endblock %}
{% block submenuselection %}CopyleftPrinciples{% endblock %}
{% block content %}
<a href="/copyleft-compliance/principles.kr.pdf">[ PDF version in Korean
  ]</a><br/>
<a href="/copyleft-compliance/principles.html">[ English version ]</a><br/>

<h1>커뮤니티 중심의 GPL 시행 원칙</h1>

<p>GNU 일반 공중 사용 허가서(GPL)는 주요 카피레프트 라이선스이다. 카피레프트는
사용자 자유를 허가하지만 보호하지는 않는 기타 자유 라이선스와는 대조적으로
사용자 자유를 승인함과 동시에 보호하는 명확한 사용 허가를 지녔으며 배포된
작업물의 지속적인 공유가 이루어지도록 하는 기틀이다. GPL 에 의거하여 출시된
자유 소프트웨어는 노트북, 데스크탑부터 가전기구, 자동차, 휴대전화, 인터넷
기반시설에 이르기까지 모든 것을 가능하게 해주어 현대 테크놀로지에 없어서는 안
될 근본적인 요소이다. GPL 의 조건은 준수하기 쉽다 – 단지 GPL 의 소프트웨어가
사용자를 제한하는 조건으로 배포된 소프트웨어를 포함하고 있는 경우에만 조금
복잡해질 뿐이다. 심지어 조금 복잡해지는 경우에도 많은 기업이 이를 잘 준수하고
있다. 하지만 그와 동시에 일부 기업은 당사의 이윤을 추구하기에 유리한 방향으로
GPL 규정을 변경시키거나 심지어 이를 위반하는 경우도 있다.</p>

<p>자유 소프트웨어 재단(FSF)과 소프트웨어 프리덤 컨서번시(Conservancy)는 GPL
라이선스군의 컴플라이언스가 이행될 수 있도록 전 세계적인 노력을 주도하고 있다.
FSF 는 1980 년대부터 카피레프트 시행에 착수했고, 컨서번시는 약 10 년 전 조직의
설립 이후 협력 프로젝트에 대한 GPL 을 시행했다. 지난해, FSF 와 컨서번시는
<a href="https://copyleft.org/guide/">카피레프트와 GNU 일반 공중 사용 허가서:
포괄적 교육 및 지침(Copyleft and the GNU General Public License: A
Comprehensive Tutorial and Guide)</a> 을 공동 발행했는데, FSF 와 컨서번시의
통상적인 GPL 시행 프로세스를 설명하는
&ldquo;<a href="https://copyleft.org/guide/comprehensive-gpl-guidepa2.html#x17-116000II">GPL
컴플라이스를 위한 실용적 지침(A Practical Guide to GPL Compliance)&rdquo;</a>
및
&ldquo;<a href="https://copyleft.org/guide/comprehensive-gpl-guidepa3.html#x26-152000III">GPL
시행 관련 사례 연구(Case Studies in GPL Enforcement)</a>&rdquo; (FSF 및
컨서번시 블로그에서 요약 설명본을 확인할 수 있다)와 같은 섹션이 포함되어
있다.  커뮤니티의 자유를 위해 노력하는 성실한 일꾼으로서, 우리는 기업이
사용자의 카피레프트 소프트웨어 카피, 공유, 변경 및/혹은 재배포를 방해하는
경우, 사용자의 대리인으로서의 역할을 수행한다. 모든 사용자의 자유를 보호하고,
사용자 자유를 존중하는 기업을 지원하며, 동시에 악행 기업들을 저지시키고
처벌하기 위해 모든 배포자가 GPL 을 준수하도록 요구하고 있다.</p>

<p>카피레프트는 저작권(copyright)을 기준으로 한다: 사용자의 프로그램 변경 및
재배포를 제한하기보다는 변경하고 재배포할 수 있는 자유를 보호하기 위해
저작권의 권한을 활용한다. 전통적인 저작권 라이선스는 작업물을 허가 없이
타인에게 전달하는 경우 위반으로 간주한다: 하지만, 카피레프트 라이선스는
타인에 의한 추후 재배포를 예방 하기 위해 규제를 가하는 것을 위반으로
본다. 그럼에도 불구하고, 저작권법에 근거를 두고 있는 카피레프트 라이선스는
다른 저작권 라이선스와 동일한 언어와 프로세스를 사용하는 등 동일한 메커니즘을
통해 시행된다. 카피레프트 시행에 있어 우리는 카피레프트의 궁극적인 자유를
확보하는 것 즉, 카피레프트의 목적을 널리 확산시키되 지나치거나 처벌적인
접근법에 초점을 맞추거나 저작권 시스템에 내재된 불공정한 측면을 합법화하는
쪽으로 기울지않도록 노력해야 한다. 따라서 컨서번시와 FSF 는 2001 년 FSF 가
처음 마련한 커뮤니티 중심의 원칙에 따른 시행을 추구한다.</p>

<h4>커뮤니티 중심의 GPL 시행 지침 원칙</h4>

<ul>
<li><strong>GPL 시행에 있어 우리의 주요 목적은 GPL 컴플라이언스를 실현하는 것이다.</strong>
카피레프트의 가장 중요한 정책적 목표는 사용자의 자유를 존중하는 일을 규범으로
만드는 일이다. FSF 는 이러한 취지로 GNU GPL 의 규정을 마련했다. 이러한 정신에
의거한 카피레프트 시행은 부정확한 배포를 중단시키고, 올바른 배포가
이루어지도록 하며 과거의 위반 사례로 손해를 입은 커뮤니티와 사용자 문제를
해결하는 것에 초점을 두고 있다. 과거의 피해를 해결하는 작업에는 이미
소프트웨어를 받은 이들에게 관련 소스코드를 받을 수 있는 방법을 알려주고 관련된
권리 범위를 설명하기 위한 절차를 따르는 일 등이 포함된다. 기타 부수적인 목적이
GPL 에 대한 전적인 컴플라이언스 및 사용자가 소프트웨어를 카피, 공유, 변경,
재배포할 수 있는 자유를 존중하는 일보다 우선시 되어서는 안 된다.</li>

<li><strong>법적 조치는 최후의 수단이다. 컴플라이언스 관련 조치는 주로
라이선스를 따르지 않는 사람을 돕기 위한 교육과 지원 프로세스를
의미한다.</strong> 대부분의 GPL 위반 사례는 악의가 아닌 실수로
발생한다. 카피레프트의 시행은 이러한 배포자가 그들이 의지할 수 있는 자유
소프트웨어 프로젝트에 있어 유용한 참여자가 되도록 지원하는 방향에서
이루어져야 한다. 때때로, 고의로 혹은 심각한 부주의로 인해 위반 사례가
발생하기도 하는데 그러한 사례에 대해서는 인정을 베풀 필요가 없다. 하지만
그러한 경우라도, 소송은 마지막 수단이며, 추가적인 배포를 해결(혹은 최소한
중단하는)하고자 하는 양측의 합의 및 이미 발생한 피해를 해결하는 것이 소송으로
인한 분쟁보다 훨씬 낫다.</li>

<li><strong>비밀유지(confidentiality)는 수용도와 반응성을 높일 수
    있다.</strong>  소프트웨어 자유
지지자들은 당연히 비밀유지 협약을 불신하며 공개 논의를 선호한다. 하지만
컴플라이언스 작업에서는 개인적인 논의를 시작하고 지속시키는 것이 선의를
드러내고 공개적 보복의 두려움 없이 컴플라이언스를 설파하며 고의가 아닌
실수(honest mistake)를 바로잡을 기회를 제공한다. 공개 비난으로 시작된
컴플라이언스 조치는 많은 시간과 비용이 소요되는 법적 소송으로 끝날 가능성이
매우 크고, 컴플라이언스 실행이라는 주목적을 실현할 가능성이 작다. 따라서
집행자는 그리 내키지는 않더라도 기밀유지를 합의 조건으로 제안해야 한다. 만약,
해당 기업이 선의의 기밀유지 제안을 무대책(inaction)과
무반응(unresponsiveness)을 은폐하기 위한 수단으로 오용하는 것이 분명해진 경우,
충분한 경고 후, 해당 문제를 공론화할 수 있다.</li>

<li><strong>
커뮤니티 중심의 시행이 재정적 이익을 우선시해서는 안 된다.</strong> 분별력 있는 벌금의
활용은 컴플라이언스를 달성하기 위한 하나의 적법한 수단이 될 수 있다. 위반에
대한 유일한 처벌이 원래 규정을 준수하는 것이라면, GPL 을 읽어보지도 않고 시행
조치가 내려질 때까지 기다리는 파렴치한들이 생길지도 모른다. 카피레프트와
관련한 사회적 모델과 이에 대한 시행은 불안정하고 지속 불가능하다. 벌금이 없는
 시행 체제는 시행을 따르는 선의의 실천자보다 이를 따르지 않는 악의를 지닌
자들에게 더 유리하다. 전자의 경우 컴플라이언스에 의한 배포를 위해
최소한의(미미한 비용은 아님) 인력 활용 비용을 부담해야 하는 반면, 후자는 이에
대한 비용을 부담하지 않기 때문이다. 따라서 저작권 소유자(혹은 그들의 지정
대리인)는 건설적인 시행 조치를 동반하는 컴플라이언스 교육을 제공하는데 소요된
시간 비용에 대한 보상을 요구하는 것이 당연하다. 그럼에도 불구하고, 저작권법에
의해 허용된 모든 범위에 대한 보상을 요구하는 것은 보통 불필요한 것으로
간주되며 어떤 경우에는 그것이 카피레프트의 목적에 어긋나게 작용할 수도 있다.</li>

<li><strong>커뮤니티 중심의 컴플라이언스 노력 중 문제를 눈감아주기 위해 돈을
요청하거나 받지 않는다.</strong> 커뮤니티 중심의 시행에 있어 위반 행위를
간과하거나 확인된 컴플라이언스 문제에 대한 불완전한 해결책을 수용하는 대가로
비용을 받아서는 안 된다. 이상적으로는, 저작권 소유자들이 배포자가 과거의 위반
행위를 바로잡고 차후 컴플라이언스를 위해 공식적으로 계획을 수립하겠다는
약속(서면으로)을 받기 전까지는 어떠한 보상도 지급 받지 않아야 한다.</li>

<li><strong>커뮤니티 중심의 컴플라이언스 노력은 위반 사례에 대한 세심한 확인 작업을
시작으로 하고, 포괄적인 분석을 실시한 후에만 종료한다.</strong> 이는 어떤 기관이 GPL 을
위반했다고 비난하기 전에 관련 보고와 위반 내용을 완전히 확인해야 함을 의미한다.
그리고 나서 초기 보고에서 확인된 것과 관련 라이선스의 조항과 관련한 문제 외
컴플라이언스 문제를 파악하고 바로잡기 위해 모든 관련 소프트웨어를 살펴보아야
한다. 이는 양측의 합리적인 조치로 대화를 마무리하여 차후 부가적인 위반 사항이
발견되지 않도록 하기 위해 중요하다 (배포자들이 그들의 의무를 이해할 수 있도록
도와줄 <a href="http://gpl.guide/pristine-example">컴플라이언스 예시</a>가
  이미 마련되어 있다).</li>

<li><strong>커뮤니티 중심의 컴플라이언스 프로세스에 GPLv3 의 권한 박탈 조항의 혜택을 확대
적용 시키고, GPLv2 에 기반한 작업에도 이를 적용시켜야 한다.</strong> GPLv2 는 위반 시
모든 저작권 승인을 영구적으로 박탈시킨다. GPLv3 의 권한 박탈(termination)
조항은 최초 위반자일 경우 위법 사항을 즉시 시정 시 배포권을 자동적으로
복원시키고 선처를 요청할 저작권 소유자의 명확한 명단을 해당 위반자에게
제공한다. 권한 박탈과 관련한 GPLv3 의 협업 정신은 향후 협력과 협업에 대한
약속과 희망을 반영하고 있다. 정직한 실수에 근거한 컴플라이언스 상황에 이러한
접근방법을 적용시키는 것은 좋은 아이디어이며 위반 사례가 GPLv2 의 의거한
  작업일 경우에도 마찬가지이다.</li>

</ul>

<p>이 원칙은 엄격한 규정으로써 이를 적용하기 위함이 아니다. 컴플라이언스를
달성하기 위해서는 위반자의 상황에 대한 이해가 요구되며 이는 위반에 대한 핑계를
찾기 위함이 아니라 해당 위법자를 컴플라이언스 이행으로 이끌 수 있는 방법을
파악하기 위함이다. 카피레프트 라이선스는(라이선스 권한 박탈 그 자체는 제외)
구체적인 시행 방법을 기술하고 있지 않는데 실제 GPL 위반 상황이 매우 다양하고,
  너무 혹독한 규제가 오히려 성공을 저해하기 때문이다.</p>

<p>특히, 본 원칙 목록은 엄격한 기준 및/혹은 시행 조치 관련 “상정 및 중재
규칙” 등을 수립하지 않고 있다. 이를 위한 노력이 오히려 소프트웨어를 카피,
변형, 재배포할 수 있는 사용자 권리를 옹호하고자 하는 저작권자들의 카피레프트
라이선스를 사용 능력을 저해할 수 있다.</p>

<p>GPL 은 필요시 이러한 원칙에 의거 시행되었을 때 존경받는, 평등한 소프트웨어
공유 커뮤니티 형성을 위한 기반을 제공한다.</p>

<p></em>[ 본 문서는 <a href="https://fsf.org/licensing/enforcement-principles">FSF
    사이트</a> 에서도 확인할 수 있습니다. ]</em></p>

<p>Copyright &copy; 2015, Free Software Foundation, Inc., Software Freedom Conservancy, Inc., Bradley M. Kuhn, Allison Randal, Karen M. Sandler.
<br/>Licensed under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
<br/>에 의거
허가됨. 해당 라이선스의 제 3 조제(a)항제(1)호제(A)목제(i)단 및
제 3 조제(a)항제(1)호제(A)목제(v)단에 의거하여 본 문서의 저작권자는 본 문서의
변경 및/또는 재배포 버전에 두 링크가 (<a href="https://sfconservancy.org/linux-compliance/principles.html">[1]</a>,
<a href="https://fsf.org/licensing/enforcement-principles">[2]</a>)
유지되기를 요청하는 바입니다.<br/>
이 번역자료는 한국저작권위원회(www.copyright.or.kr)의 지원으로 번역, 배포 되었습니다.<br/>
This content has been translated and distributed by <a href="http://www.copyright.or.kr">Korean Copyright Commission</a>.</p>
{% endblock %}
