{% extends "base_blog.html" %}

{% block head %}
{% include "opengraph_partial.html" with url=object.get_absolute_url title=object.headline description=object.get_description %}
{% include "opengraph_urllist_partial.html" with property='image' urls=object.get_image_urls fallback='/img/conservancy-logo.png' %}
{% include "opengraph_urllist_partial.html" with property='video' urls=object.get_video_urls %}
{% endblock %}

{% block subtitle %}{{ object.headline|striptags|safe }} - Conservancy Blog - {% endblock %}

{% block content %}

{% include "blog/entry_partial.html" with entry=object htag="h2" only %}

<p class="blog-comments">Please email any comments on this entry to
  <a href="mailto:info@sfconservancy.org">info@sfconservancy.org</a>.</p>

<p><span class="continued"><a href="/blog/">Other Conservancy Blog entries&hellip;</a></span></p>

{% endblock %}
