{% comment %}THIS PAGE IS UNLINKED
{% extends "base_conservancy.html" %}
{% block subtitle %}About - {% endblock %}
{% block content %}

<h1>About</h1>

<p>The Software Freedom Conservancy, Inc. is a not-for-profit organization
that promotes the use and development of free and open source software by
providing a range of pro-bono services to Free, Libre and Open Source
Software (FLOSS) projects.</p>

<p>We hold, protect and manage copyrights and trademarks for FLOSS
projects.  Conservancy aims to act as long-term caretakers for our member
projects, ensuring that free software stays free.</p>

<p>Conservancy frees FLOSS projects to concentrate on what they do best:
writing code.  We do this by shouldering some of the administrative burden
that comes with running a FOSS project.  Our fiscal sponsorship program
gives projects all the benefits of a not-for-profit structure without the
overhead of managing a corporation.  We can help projects with
organizational structure, contributor's license agreements, financial
controls, accounting, fund-raising and more.</p>

<p>In addition to our relationship with individual projects, Conservancy
facilitates communication and coordination between FLOSS projects.  We act
as a central store of knowledge and experience and help advance the goals
of both individual FOSS projects and the movement as a whole.</p>

<p>If we might be able to help your FLOSS project, email us
at <a href="mailto:conservancy@softwarefreedom.org">conservancy@softwarefreedom.org</a>.</p>

<h2>Public Filings</h2>

<p>Like all USA non-profits, the Conservancy files an annual Form 990 and, as
a non-profit in the State of New York, files an annual CHAR-500 with New
York State.  Below, Conservancy makes available these filings for public
inspection:</p>

<p><ul>
<li>Fiscal Year 2008</li>
<ul>
<li><a href="/docs/conservancy-form-990-fy-2008.pdf">Federal Form 900 (PDF)</a></li>

<li><a href="/docs/conservancy-CHAR-500-fy-2008.pdf">New York State
    CHAR-500 (PDF)</a></li>
</li>

</ul></p>
{% endblock %}
{% endcomment %}
