{% extends "base_conservancy.html" %}
{% block subtitle %}Support Conservancy - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<link href="/css/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="donate-sidebar">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">
<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Support
    Now!</h1></div>

<h3 class="donate-box-highlight">Become a Supporter Now:</h3>

<p>Support us now!</p>

<h4><a href="#annual"><span class="donate-box-highlight">Annual supporter</span> via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#monthly"><span class="donate-box-highlight">Monthly supporter</span> via PayPal, ACH, or credit card.</a></h4>
   
<span class="donate-box-highlight">Other annual supporters methods:</span>
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer" 
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
       Contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Include  currency &amp; country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check" 
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check for $120 to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548 &nbsp; USA<br/>
    Please write <q>SUPPORTER</q> and t-shirt size in memo line. 
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<p><a href="/donate">Even More Ways to Donate</a></p>
<!-- Flattr end -->
</td></tr></table>
</div>
<div class="content-with-donate-sidebar">
  <h1 class="appeal"><img class="appeal-header" alt="Become a Conservancy Supporter!" src="/img/conservancy-supporter-header.png"/></h1>
<h4>Software Freedom needs your help. </h4>

<p><em>Conservancy must move to a 
Supporter-driven organization so we can focus on critical free software 
issues that nobody else is tackling.  Stand up for the GPL, support great 
member projects, and make your voice heard in support of free software.  
<a href="#donate-box" class="donate-now">Donate today!</a></em></p>

<!--- FIXME scale this properly like on VMware page -->

<a href="/img/member-project-logos.png"><img class="appeal-left" src="/img/member-project-logos.png"/></a>
<p>

The world today is powered increasingly by Free Software. But what many
people don't realize is how much support is needed to keep all of these
projects free and open. The work that we do every day ensures the success and
the continued freedom of the projects that the developers of our member
projects dedicate themselves to. Projects like Git, Samba,
Wine, BusyBox, QEMU, Inkscape, Selenium, and dozens more.</p>

<p>We are asking for you
  to <a href="#donate-box" class="donate-now">join us and become a
    Conservancy Supporter</a> but this is more than our usual annual
  fundraising appeal.  As described in more detail below, after the events 
  of 2015, we must substantially increase our individual support to be able 
  to continue defending software freedom for our member projects and the 
  entire free and open source software community.  We need at least 750 
  of you to become annual Supporters just to continue our basic community services.
  We need 2,500 of you to become annual Supporters now to continue
  our work enforcing copyleft licenses.  If you don't become a Supporter now,
  we will be forced to radically restructure and wind down a substantial portion
  of our operations.</p>

<br clear="left"/>
<h4>2015 successes</h4>

<a href="/img/conservancy-staff-photo.jpg"><img class="appeal-right" src="/img/conservancy-staff-photo.jpg"/></a>
<p>
Software Freedom Conservancy has had a lot of major successes this year:
<ul>

<li>We brought four new projects under the protection of 
Conservancy: <a href="/news/2015/jul/23/qemu-joins/">QEMU</a>,
  the generic machine emulator and
virtualizer, <a href="https://www.bro.org/">The Bro Network Security
Monitor</a>, the <a href="http://www.godotengine.org/">Godot Game Engine</a>,
and <a href="http://outreachy.org">Outreachy</a>, a program dedicated to
helping people from underrepresented groups get involved in free and open
source software. We also worked with the Debian community to launch
the <a href="/news/2015/aug/17/debian/">Debian
Copyright Aggregation Project</a> at their request.</li>

<li>We <a href="/news/2015/mar/05/vmware-lawsuit/">supported
the lawsuit</a> Christoph Hellwig has brought against VMware in Germany, the
first case on derivative works and the GPL.</li>

<li>We fought for
and <a href="/news/2015/oct/27/DMCA-win/">successfully
earned an exemption from the Library of Congress in the DMCA review
process</a> to legally permit circumvention of encryption on Smart TVs,
ensuring that you are free to hack on the devices that you legally own. </li>

<li>We collaborated with the <a href="https://fsf.org/">Free Software
Foundation</a> to publish
the <a href="/copyleft-compliance/principles.html">Principles
of Community-Oriented GPL Enforcement</a>, establishing community norms for
enforcing the GPL in the public's interest, which have 
already been <a href="/copyleft-compliance/principles.kr.html">translated
into Korean</a>.</li>

<li>Along with FSF, we
helped <a href="/news/2015/jul/15/ubuntu-ip-policy/">Canonical,
Ltd. achieve compliance in its "Intellectual Property" Policy</a>, while
pointing out that the policy fails to address important software freedom
issues.</li>

<li>We conducted friendly discussions with companies out of compliance with
the GPL, seeking non-litigious resolutions.</li>

<li>We participated in the process
of <a href="/news/2015/oct/14/FCC-comment/">telling
the FCC to fix its proposed rules</a> restricting third-party modification of
firmware in wireless devices.

<!-- conledger -V -b 2015-01-01 --limit 'tag("Approval") =~ /\/2015/ and tag("TaxImplication") !~ /(Reimbursement|USA-501c3|Corporation|Tax-Payment|LLC|W2|Refund)/' reg '/Assets/'|wc -l -->

<li>We made 172 contractor payments to developers writing free and open source 
  software, which included various different internships and contract
  software development work.</li>

<li>We helped, coordinated, and financially insured volunteers of three of
  our member projects to organize large annual conferences, where thousands of
  attendees learned about free and open source software.</li>

<!--  conledger -V -b 2015-01-01 --limit 'tag("Approval") =~ /\/2015/ and tag("TaxImplication") !~ /Reimbursement/' reg '/Assets/'|wc -->

<li>We processed and paid 116 reimbursement requests to individuals doing work
  around the globe advocating for their free and open source software
  projects at conferences and other venues.</li>
  
<li>We gave keynotes
at <a href="/blog/2015/aug/17/debian/">DebConf</a>, <a href="https://archive.fosdem.org/2015/schedule/event/identity_crisis/">FOSDEM</a>, <a href="/blog/2015/jul/14/FISL16/">FISL</>, <a href="/news/2015/mar/31/libreplanet/">LibrePlanet</a>, <a href="/blog/2015/sep/30/linaro-keynote/">Linaro
Connect</a>, and participated in many more conferences all over the world; we also 
shared our expertise in initiatives
like <a href="https://copyleft.org/">copyleft.org</a>. We participated in
interviews and <a href="/blog/">blogposts</a>, and
Bradley and Karen published episodes of <a href="http://faif.us/">Free as in
Freedom</a>, dedicated to discussing the important issues in software
freedom.</li>

</ul>
</p>
<p>And we did <strong>all of this</strong> with <strong>only three full time employees</strong>.</p>

<p>We are focused on the most important ethical issues in software
freedom. We work tirelessly and don't shy away from difficult issues.</p>

<p>We're a unique organization &mdash; a staunch defender of copyleft (for Linux,
Debian and many of our member projects), a source of education and champions
of diversity for the community via Outreachy and other programs, and are the
legal home to over 30 member projects that are essential to developing free
software.</p>

<p>We undertake these critical programs because they are essential to the
future of technology. We do them because they are right. <strong>But we cannot do
them without you</strong>. If we do not meet our fundraising goals, we will be
forced to radically restructure.</p>

<p>Our fiscal sponsorship model is not financially self-sustaining by itself:  we cannot
afford even one staff member and basic overhead with the revenue we take in
from our projects. In order to effectively continue to serve our member
projects, we need 750 Supporters. If you use or care about
our <a href="/members/current/">member projects</a>,
which include some of the most widely used free software, you can help them
all by <a href="#donate-box" class="donate-now">signing up as a
Supporter today</a>.</p>

<h4>Fighting for the GPL</h4>

<a href="/img/gpl-heart.png"><img class="appeal-right"  src="/img/gpl-heart.png"/></a>

<p>Many consider our GPL compliance and enforcement controversial.   We don't
think it is:  we stand up for
the GPL at the request of the Linux kernel community, the Debian community, 
and our member projects. Most recently, that has resulted in our funding
of the <a href="/news/2015/mar/05/vmware-lawsuit/">suit
against VMware</a>, which is the first lawsuit on derivative works and the
GPL. While this work is extremely important to the continued long-term
success of software freedom and copyleft not to mention in the long term 
interest of the industry as a whole, it makes fundraising from companies
very difficult.  Some companies 
have withdrawn from funding us and some have even successfully pressured 
conferences to cancel or prevent talks on our enforcement work. We do
this work because we think that it is good for everyone in the long run,
because we know it is the right thing to do, and because we know that we are
in the best position to do it. But that's not enough &mdash; you have to think it's
right too and <a href="#donate-box" class="donate-now">show us by
becoming a Supporter now</a>.</p>
 
<img alt="*** The Conservancy T-Shirt that Supporters Receive ***" class="appeal-left" src="/img/conservancy-t-shirt.jpg"/>

<h4>It's up to you</h4>

<p>We have raised enough money to continue the VMware case, but our overall
enforcement work needs additional support to be able to continue.  As we
state in
the <a href="/copyleft-compliance/principles.html">Principles
of Community-Oriented GPL Enforcement</a>, we cannot prioritize profit in
these actions without compromising on the end goals of that work which is to
help companies become free and open source software users and contributors.

<p>Moreover, we have lost committed general funding from companies explicitly
because of our enforcement work. Continuing this work without individual
support is no longer possible.</p>

<p>As a result, we need 2,500 Supporters in order to maintain the staff and
resources in the organization to properly undertake enforcement. We hope you
will <a href="#donate-box" class="donate-now">sign up as a Supporter</a>
to help us achieve this. If we don't reach our goal, we will have no choice
but to hibernate enforcement until we have the resources to pick it up
properly at some point in the future.</p>

<p>If you care about the
GPL, <a href="#donate-box" class="donate-now">help us meet our goal</a>
so we can stand up for the GPL together.</p>

<img class="appeal-footer" alt="*" src="/img/conservancy-supporter-heart.png"/>


<p>Please <a href="#donate-box" class="donate-now">join our Supporter program</a> and spread software freedom!</p>

<br clear="left"/>

<div class="supporter-type-selector">
<hr/>
  <strong>Become a Supporter Now:</strong>  <a id="annualSelector" href="#annual">Annual</a> | <a id="monthlySelector" href="#monthly">Monthly</a></div>
<div id="annual" class="supporter-type-selection">
<h3>Join as an Annual Supporter</h3>
<a id="annual"></a>
<form id="annual" class="supporter-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" name="supporter">
<div class="supporter-form-inputs">
            <input type="hidden" name="return" value="https://sfconservancy.org/supporter/thank-you.html" />
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="business" value="supporter@sfconservancy.org" />
            <input type="hidden" name="item_name" value="Conservancy Supporter, Annual" />
            <input id="no_shipping" type="hidden" name="no_shipping" value="0" />
  <label for="amount"><strong>Amount:</strong> $</label>
  <input id="amount" type="text" name="amount" size="7" minimum="120" value="120" />
  <span id="error" class="form-error-show">$120 is a minimum for Conservancy
  Supporters.  <a href="/donate">Donate smaller amounts here</a>.</span><br/>

                      <label for="wantGift"><strong>Do you want to receive a t-shirt? </strong></label>
                      <input type="radio" name="on0" value="wantGiftYes" />Yes
                      <input type="radio" checked="checked" name="on0" value="wantGiftNo" />No
                      <br />
                      <span class="t-shirt-size-selector">
                      <label for="tShirtSize"><strong>T-shirt size: </strong></label>
                      <select name="os0" id="os0">
                        <option name="os0" id="os0" value="MenS">Men's S</option>
                        <option name="os0" id="os0" value="MenM">Men's M</option>
                        <option name="os0" id="os0" value="MenL">Men's L</option>
                        <option name="os0" id="os0" value="MenXL">Men's XL</option>
                        <option name="os0" id="os0" value="Men2XL">Men's 2XL</option>
                        <option name="os0" id="os0" value="LadiesS">Ladies' S</option>
                        <option name="os0" id="os0" value="LadiesM">Ladies' M</option>
                        <option name="os0" id="os0" value="LadiesL">Ladies' L</option>
                         <option name="os0" id="os0" value="LadiesXL">Ladies' XL</option>
                      </select><br/></span>
                      <label for="publicAck"><strong>
                          Should we <a href="/sponsors#supporters">list you publicly</a> as a Conservancy Supporter? </strong></label>
                      <input type="radio" checked="checked" name="on1" value="publicAckYes" />Yes
                      <input type="radio" name="on1" value="publicAckNo" />No<br/>
            
                      <label for="joinList"><strong>Join Conservancy's
                      Low-Traffic Announcement Email List? </strong></label>
                      <input type="radio" checked="checked" name="os1" value="joinListYes" />Yes
                      <input type="radio" name="os1" value="joinListNo" />No<br/>
                      <br />
                      <br /></div>
                      <div id="annual" class="supporter-form-submit">
                      <input type="image"
                             src="/img/supporter-payment-button-annual.png"
                             height="81" width="188"
                             border="0" name="submit" alt="Become an Annual Supporter Now!">
                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
<br/><br/><small>Button above redirects to PayPal's site for credit
        card, bank account or PayPal balance payment methods.  Select options first.</small>
                      </div>

</form>
</div>
<div id="monthly" class="supporter-type-selection">
<h3>Join as an Monthly Supporter</h3>
<a id="monthly"></a>
<p>Monthly supporters might not receive tangible Supporter benefits (such as
  the t-shirt) until they've reached at least $60 in monthly supporter
  donations.  However, they will be included immediately
  in <a href="/sponsors/#supporters">in the Supporters' list</a>.</p>
<form id="monthly" class="supporter-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<div class="supporter-form-inputs">
            <input type="hidden" name="business" value="supporter@sfconservancy.org" />
            <input type="hidden" name="item_name" value="Conservancy Supporter, Monthly" />
            <input type="hidden" name="return" value="https://sfconservancy.org/supporter/thank-you.html" />
            <input type="hidden" name="cmd" value="_xclick-subscriptions">
            <input id="no_shipping" type="hidden" name="no_shipping" value="0" />
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="t3" value="M" />
            <input type="hidden" name="p3" value="1" />
            <input type="hidden" name="src" value="1" />
            <input type="hidden" name="srt" value="0" />
            <input type="hidden" name="item_name" value="Conservancy Supporter, Monthly" />
  <label for="amount"><strong>Monthly Amount:</strong> $</label>
  <input id="amount" type="text" name="a3" size="5" minimum="10" value="10" />
  <span id="error" class="form-error-show">$10/month is a minimum for Conservancy
  Supporters.  <a href="/donate">Donate smaller amounts here</a>.</span><br/>
                      <label for="wantGift"><strong>Do you want to receive a t-shirt? </strong></label>
                      <input type="radio" name="on0" value="wantGiftYes" />Yes
                      <input type="radio" checked="checked" name="on0" value="wantGiftNo" />No
                      <br />
                      <span class="t-shirt-size-selector">
                      <label for="tShirtSize"><strong>T-shirt size: </strong></label>
                      <select name="os0" id="os0">
                        <option name="os0" id="os0" value="MenS">Men's S</option>
                        <option name="os0" id="os0" value="MenM">Men's M</option>
                        <option name="os0" id="os0" value="MenL">Men's L</option>
                        <option name="os0" id="os0" value="MenXL">Men's XL</option>
                        <option name="os0" id="os0" value="Men2XL">Men's 2XL</option>
                        <option name="os0" id="os0" value="LadiesS">Ladies' S</option>
                        <option name="os0" id="os0" value="LadiesM">Ladies' M</option>
                        <option name="os0" id="os0" value="LadiesL">Ladies' L</option>
                         <option name="os0" id="os0" value="LadiesXL">Ladies' XL</option>
                      </select><br/></span>
                      <label for="publicAck"><strong>
                          Should we  <a href="/sponsors#supporters">list you publicly</a> as a Conservancy Supporter? </strong></label>
                      <input type="radio" checked="checked" name="on1" value="publicAckYes" />Yes
                      <input type="radio" name="on1" value="publicAckNo" />No<br/>
                      <label for="joinList"><strong>Join Conservancy's
                      Low-Traffic Announcement Email List? </strong></label>
                      <input type="radio" checked="checked" name="os1" value="joinListYes" />Yes
                      <input type="radio" name="os1" value="joinListNo" />No<br/>
                      <br /></div>
                      <div id="monthly" class="supporter-form-submit">
                      <input type="image"
                      src="/img/supporter-payment-button-monthly.png"
                      height="81" width="188"
                      border="0" name="submit" alt="Become a Monthly Supporter Now!">
<br/><br/><small>Button above redirects to PayPal's site for credit
        card, bank account or PayPal balance payment methods.  Select
                      options first.</small>
                      </div>
</form>
</div>
<span id="form-correction-needed" class="form-error">Please ensure all form data above is correct.</span>
</div>
{% endblock %}
