{% extends "base_conservancy.html" %}
{% block subtitle %}Attend Supporter Night - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<link href="/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="content-with-donate-sidebar">
  <h1>Conservancy Supporter Night 2015</h1>
  <p>
  <dl>
    <dt>Who</dt> <dd><strong>Everyone</strong>: just show up at 6:30PM with &euro;50!
    &mdash;  <a href="/supporter#annual">Conservancy Annual Supporters</a> attend <em>gratis</em>.</dd>
    <dt>When</dt> <dd>Friday 30 January 2015 at 18:30 (6:30PM)</dd>
    <dt>Where</dt> <dd><a href="http://www.drugopera.be/">Drug Opera</a>
    Restaurant at Rue Gr&eacute;try 51, 1000 Brussels, Belgium
    (<a href="http://www.openstreetmap.org/node/2698048172#map=18/50.84898/4.35214">map</a>)</dd>
    <dt>What</dt> <dd>Full prix fixe dinner (one drink included)</dd>
    <dt>Why</dt> <dd>Enjoy a meal while meeting and discussing Free Software
    with fellow Conservancy enthusiasts
    and <a href="/about/staff/#bkuhn">Bradley</a> and
    <a href="/about/staff/#karen">Karen</a> from
    Conservancy's executive team (and the <a href="http://faif.us"><cite>Free
        as in Freedom</cite> audcast</a>).</dd>
    </dl>
    </p>

  <p>Conservancy's Annual Supporter Night will be held this year on the
  evening of Friday 30 January 2015 in Brussels, Belgium (which is the night
    before <a href="https://fosdem.org/2015/">FOSDEM 2015</a> begins).</p>

<p>Space for this exclusive dinner <em>is limited</em> so if you haven't
    already received an email confirming your pre-purchased ticket, <em>you should
    arrive promptly at 6:30PM tonight and have &euro;50 ready.</em>
</p>
  <p>The Supporter Night dinner includes a three-course meal and one drink.
       Attendees will be able to choose from beef or vegetarian entrees.  We
       have discussed other dietary needs with the venue, and they have
       committed to do their best to accommodate other dietary needs.  If
         you'd like, please contact us at
        <a href="mailto:dinner@sfconservancy.org">&lt;dinner@sfconservancy.org&gt;</a>
        to discuss
       your dietary needs.</p>
<hr/>
</div>

{% endblock %}
