{% extends "base_conservancy.html" %}
{% block subtitle %}Support Conservancy - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/forms.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="/supporter-page.js"></script>

{% endblock %}

{% block content %}
<div class="donate-sidebar">
<table style="background-color:#afe478;width:100%;">
<tr><td style="text-align:center;padding:10px;padding-bottom:10px;">

<div id="donate-box" class="toggle-unit"><h1 class="toggle-content">Support
    Now!</h1></div>
<h3>Become a Supporter now!</h3>

<h4><a href="#annual">Annual supporter via PayPal, ACH, or credit card.</a></h4>
<h4><a href="#monthly">Monthly supporter via PayPal, ACH, or credit card.</a></h4>
   
Other payment methods  to become an annual supporter:
<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Wire Transfer" 
    data-expanded-text="Wire Transfer:">Wire Transfer</h4>
    <div class="toggle-content">
        Please
            contact <a href="mailto:accounting@sfconservancy.org">Conservancy
            by email</a><br/> for wire transfer instructions.<br/>
            Please Include your currency and country.<br/>
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<div class="toggle-unit">
    <h4 class="toggle-control" data-text="Paper Check" 
    data-expanded-text="Paper Check:">Paper Check</h4>
    <div class="toggle-content">
    Send paper check donations of $120 to:<br/>
    Software Freedom Conservancy, Inc.<br/>
    137 MONTAGUE ST  STE 380<br/>
    BROOKLYN, NY 11201-3548<br/>
    Please write <q>SUPPORTER PROGRAM</q> and your t-shirt size in the memo line. 
    </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->

<p><a href="/donate">Other Ways to Donate</a></p>
<!-- Flattr end -->
</td></tr></table>
</div>


<div style="align:left;width:80%;">
  <h1><img class="appeal-header" alt="Become a Conservancy Supporter!" src="/img/conservancy-supporter-header.png"/></h1>


<p>Software Freedom Conservancy is an essential organization to free and
open source software. We are the home of over
<a href="http://sfconservancy.org/members/current/">30 projects</a> like 
<aGit,
Inkscape, Samba, Wine, Selenium, the <a href="/linux-compliance/">GPL Compliance Project for Linux
Developers</a>, PyPy and
Sugar Labs just to name a few. Conservancy is a "fiscal sponsor plus",
providing everything that our projects need in a nonprofit. We help our
projects defend their trademarks, manage their assets, handle donations,
improve their community management, manage risk and assist them with all
legal needs they may have. While we do receive a portion of the revenue
donated to our projects, we keep that number low enough that it doesn't
even pay for a single staff member. <a href="#donate-box" class="donate-now">Help us</a> show that you care about
community-focused free software and help us be able to continue our
charitable work. Donating to Conservancy is a great non-technical way to
contribute to the cause.</p>

<img alt="*** The Conservancy T-Shirt that Supporters Receive ***" class="appeal" src="/img/conservancy-t-shirt.jpg"/>

<p>For the first time, we're launching a Supporter
program. For <a href="#donate-box" class="donate-now">an annual donation of $120</a>, you can
download an official Supporter card and receive a Conservancy t-shirt<a id="return-footnote-shirts-when"></a><sup class="footnote-mark"><a href="#footnote-shirts-when">1</a></sup>. If
this is out of reach, please donate at whatever level you can - it makes a
big difference to us to know that you <a href="#donate-box" class="donate-now">support us</a>, and a little goes a long
way.</p>

<p>In addition to supporting our projects,
<ul>

<li>we share our expertise across communities. We speak at many
conferences, and publish materials to increase understanding about the
organizational, community and legal issues around free and open source
software. We advocate for free an open source software and provide
education around that mission.  We form partnerships across our
communities to work more effectively.  Check out <a 
href="https://copyleft.org/">copyleft.org</a>
or sign up to join the <a 
href="http://sfconservancy.org/news/2014/aug/12/tax-exempt-working-group/">
tax exempt working group</a>.</li>

<li>we seek to solve problems for the public through free and open 
source
software.  We've launched a <a href="http://npoacct.sfconservancy.org/">
nonprofits accounting project</a> to help all
nonprofits (in free software and in other fields) avoid paying millions
of dollars in licensing fees for subpar accounting software.</li>

<li>as part of Conservancy's partnership in the program, we support Karen as
  a co-organizer of the Free and Open Source Software Outreach Program.</li>

<li>we encourage and support our employees to do volunteer work in the
    community.  For example, Bradley and Karen together host an oggcast
    called <cite><a href="http://faif.us">Free as in Freedom</a></cite> which
    discusses important legal and policy issues in open source and free
    software.</li></ul>

<img class="appeal-footer" alt="*" src="/img/conservancy-supporter-heart.png"/>

<p>As an organization, we try to do do everything transparently; even 
our
<a 
href="https://gitorious.org/conservancy/policies/source/master:">
internal policies</a> are published and available for scrutiny.</p>

<p>Please <a href="#donate-box" class="donate-now">join our Supporter program</a> and spread software freedom!</p>

<p class="footnote"><sup><a href="#return-footnote-shirts-when">1</sup></a><a id="footnote-shirts-when"></a><span class="footnote-1-text">The
    shirts will ship during Q1 2015.</div></p>

<hr/>
<div class="supporter-type-selector">
  <strong>Become a Supporter Now:</strong>  <a id="annualSelector" href="#annual">Annual</a> | <a id="monthlySelector" href="#monthly">Monthly</a></div>
<div id="annual" class="supporter-type-selection">
<h3>Join as an Annual Supporter</h3>
<a id="annual"></a>
<form id="supporter-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" name="supporter">
<div id="supporter-form-inputs">
            <input type="hidden" name="return" value="https://sfconservancy.org/supporter/thank-you.html" />
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="business" value="supporter@sfconservancy.org" />
            <input type="hidden" name="item_name" value="Conservancy Supporter, Annual" />
  <label for="amount"><strong>Amount:</strong> $</label>
  <input id="amount" type="text" name="amount" size="7" value="120" />
  <span class="form-error"><small>$120 is a minimum for Conservancy
  Supporters.  <a href="/donate">Donate smaller amounts here</a>.</small></span><br/>

                      <label for="wantGift"><strong>Do you want to receive a t-shirt? </strong></label>
                      <input type="hidden" name="on1" value="wantGift" />
                      <input type="radio" checked="checked" name="os1" value="Yes" />Yes
                      <input type="radio" name="os1" value="No" />No
                      <br />
                      <label for="wantGift"><strong>T-shirt size: </strong></label>
                      <input type="hidden" name="on3" value="size"/>
                      <select name="os3" id="os3">
                        <option name="os3" id="os3" value="MenS">Men's S</option>
                        <option name="os3" id="os3" value="MenM">Men's M</option>
                        <option name="os3" id="os3" value="MenL">Men's L</option>
                        <option name="os3" id="os3" value="MenXL">Men's XL</option>
                        <option name="os3" id="os3" value="Men2XL">Men's 2XL</option>
                        <option name="os3" id="os3" value="LadiesS">Ladies' S</option>
                        <option name="os3" id="os3" value="LadiesM">Ladies' M</option>
                        <option name="os3" id="os3" value="LadiesL">Ladies' L</option>
                         <option name="os3" id="os3" value="LadiesXL">Ladies' XL</option>
                      </select><br/>
                      <label for="publicAck"><strong>
                          Should we list you publicly as a Conservancy Supporter? </strong></label>
                      <input type="hidden" name="on2" value="publicAck" />
                      <input type="radio" checked="checked" name="os2" value="Yes" />Yes
                      <input type="radio" name="os2" value="No" />No<br/>
            
                      <label for="joinList"><strong>Join Conservancy's
                      Low-Traffic Announcement Email List? </strong></label>
                      <input type="hidden" name="on4" value="joinList" />
                      <input type="radio" checked="checked" name="os4" value="Yes" />Yes
                      <input type="radio" name="os4" value="No" />No<br>
                      <br /></div>
                      <div id="supporter-form-submit">
                      <input type="image"
                             src="/img/supporter-payment-button-annual.png"
                             height="81" width="188"
                             border="0" name="submit" alt="Become an Annual Supporter Now!">
                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
<br/><br/><small>Button above redirects to PayPal's site for credit
        card, bank account or PayPal balance payment methods.  Select options first.</small>
                      </div>

</form>
</div>
<div id="monthly" class="supporter-type-selection">
<h3>Join as an Monthly Supporter</h3>
<a id="monthly"></a>
<p>Monthly supporters will not receive any supporter benefits (including the t-shirt) until they've been
  monthly supporters for 12 months.</p>
<form id="supporter-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<div id="supporter-form-inputs">
            <input type="hidden" name="return" value="https://sfconservancy.org/supporter/thank-you.html" />
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="item_name" value="Conservancy Supporter, Monthly" />
            <input type="hidden" name="hosted_button_id" value="UU7VBCXYV7UPQ">
                      <label for="wantGift"><strong>Do you want to receive a t-shirt? </strong></label>
                      <input type="hidden" name="on1" value="wantGift" />
                      <input type="radio" checked="checked" name="os1" value="Yes" />Yes
                      <input type="radio" name="os1" value="No" />No
                      <br />
                      <label for="wantGift"><strong>T-shirt size: </strong></label>
                      <input type="hidden" name="on3" value="size"/>
                      <select name="os3" id="os3">
                        <option name="os3" id="os3" value="MenS">Men's S</option>
                        <option name="os3" id="os3" value="MenM">Men's M</option>
                        <option name="os3" id="os3" value="MenL">Men's L</option>
                        <option name="os3" id="os3" value="MenXL">Men's XL</option>
                        <option name="os3" id="os3" value="Men2XL">Men's 2XL</option>
                        <option name="os3" id="os3" value="LadiesS">Ladies' S</option>
                        <option name="os3" id="os3" value="LadiesM">Ladies' M</option>
                        <option name="os3" id="os3" value="LadiesL">Ladies' L</option>
                         <option name="os3" id="os3" value="LadiesXL">Ladies' XL</option>
                      </select><br/>
                      <label for="publicAck"><strong>
                          Should we list you publicly as a Conservancy Supporter? </strong></label>
                      <input type="hidden" name="on2" value="publicAck" />
                      <input type="radio" checked="checked" name="os2" value="Yes" />Yes
                      <input type="radio" name="os2" value="No" />No<br/>
                      <label for="joinList"><strong>Join Conservancy's
                      Low-Traffic Announcement Email List? </strong></label>
                      <input type="hidden" name="on4" value="joinList" />
                      <input type="radio" checked="checked" name="os4" value="Yes" />Yes
                      <input type="radio" name="os4" value="No" />No<br>
                      <br /></div>
                      <div id="supporter-form-submit">
                      <input type="image"
                      src="/img/supporter-payment-button-monthly.png"
                      height="81" width="188"
                      border="0" name="submit" alt="Become a Monthly Supporter Now!">
<br/><br/><small>Button above redirects to PayPal's site for credit
        card, bank account or PayPal balance payment methods.  Select
                      options first.</small>
                      </div>
</form>
</div>
<span id="form-correction-needed" class="form-error">Please ensure all form data above is correct.</span>
</div>
{% endblock %}
