{% extends "base_conservancy.html" %}
{% block subtitle %}Thanks for Your Support - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<h1>Thanks!</h1>

<p>Thank you for being a Supporter of Software Freedom Conservancy!</p>

<p>Did you attend LinuxConf Australia 2016?  If so, there's a special
  donation match just for you.
  Please <a href="mailto:supporter@sfconservancy.org">email us at
  &ldquo;supporter@sfconservancy.org.org&rdquo;</a> and tell us, and we can
  add you to that additional match group.</p>

<p>As a Supporter, we are thrilled to invite you to an exclusive Supporters-
only cocktail hour this Saturday, March 19 in Cambridge, MA to celebrate 
Conservancy's 10 year anniversary. The event will be held in the evening on 
March 19, close to the <a href="https://libreplanet.org/2016/">LibrePlanet</a> 
conference venue and will follow the end of scheduled talks. If you would like 
to attend, please rsvp to <rsvp-10-years@sfconservancy.org>.</p>
  
<p>Also, as a Conservancy Supporter, you'll be eligible for future special
benefits, too.  We may contact you by email later to tell you about special
Supporter-only benefits in the coming year.</p>

<p>Meanwhile, please spread the word about supporting Conservancy with
  a &ldquo;Supporter Badge&rdquo; on your website, Twitter account, or
  other locations where people view information about you:</p>

<p><a href="https://sfconservancy.org/supporter/"><img src="https://sfconservancy.org/img/supporter-badge.png" width="194" height="90" alt="Become a Conservancy Supporter!" border="0"/></a></p>

<p><strong>Copy and paste this HTML for the image above:</strong></p>
<p><textarea rows="2"
             cols="65">
<a href="https://sfconservancy.org/supporter/"><img src="https://sfconservancy.org/img/supporter-badge.png" width="194" height="90" alt="Become a Conservancy Supporter!" border="0"/></a>
 </textarea></p>

<p>Also, please enjoy these &ldquo;Supporter Cards&rdquo;, which you print out and
  carry with you.  You've earned it! The cards are available in two different
  styles: <a href="/img/supporter-card-1.svg">Style 1
  (SVG)</a>, <a href="/img/supporter-card-2.svg">Style 2
  (SVG)</a>.</p>

{% endblock %}
