{% extends "base_conservancy.html" %}
{% block subtitle %}Thanks for Your Support - {% endblock %}
{% block category %}supporter{% endblock %}

{% block head %}
<link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<h1>Conservancy Annual Supporter Night 2015!</h1>

<p>Thank you for signing up for Annual Supporter Night!  We look forward to
  seeing you there!</p>

<p>
  <dl>
    <dt>When</dt> <dd>Friday 30 January 2015 at 18:30 (6:30PM)</dd>
    <dt>Where</dt> <dd><a href="http://www.drugopera.be/">Drug Opera</a>
    Restaurant at Rue Gr&egrave;try 51, 1000 Brussels, Belgium
      (<a href="http://www.openstreetmap.org/node/2698048172#map=18/50.84898/4.35214">map</a>)</dd>
    </dl>
    </p>

  <p>The current menu for this special evening is as follows:
    
    <ul>

      <li>1 drink (soft drink, mineral water or standard beer)</li>
      <li>Cream soup of the day (likely vegetarian)</li>
      <li>Choice of:
        <ul>
        <li><a href="http://en.wikipedia.org/wiki/Carbonade_flamande">Beef
            stew</a> with french fries, or:</li>
        <li>Spaghetti with tomato sauce (Vegetarian)</li> 
      </ul>
      </li>
      <li>   <a href="http://en.wikipedia.org/wiki/Dame_blanche_%28dessert%29">Ice
          cream with chocolate sauce</a> (Vegetarian)</li>
     </ul>

<p>We have discussed other dietary needs with the venue, and they have
committed to do their best to accommodate other dietary needs during the
event itself.  However, if you'd like, please contact us
at <a href="mailto:dinner@sfconservancy.org">&lt;dinner@sfconservancy.org&gt;</a>
to discuss your dietary needs in advance if you're concerned about the menu
above.
</p>

{% endblock %}
